<template>
  <div>
    <h3>Контент</h3>
    <button @click.prevent="addInput" class="btn btn-primary">+</button>
    <div
      class="form-group field-valuesinvestments-name required"
      v-for="(input, index) in inputs"
      :key="index"
    >
      <label class="control-label" :for="'content-' + index">Контент</label>
      <div class="fc-0">
        <keep-alive>
          <input
            @keyup="edit($event, index)"
            :value="input"
            :id="'content-' + index"
            :class="[classs, 'form-control']"
            type="text"
          />
        </keep-alive>
        <button @click.prevent="removeInput" class="btn btn-danger">-</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    classs: {
      type: String
    },

    array: {
      type: [String, Number, Array],
      default: []
    }
  },
  data() {
    return {
      inputs: []
    };
  },
  methods: {
    addInput() {
      this.inputs.push("");
    },
    removeInput(e) {
      var index = this.inputs.indexOf(e.target.previousElementSibling.value);

      if (index !== -1) console.log(this.inputs.splice(index, 1), this.inputs);
    },
    edit(e, index) {
      return (this.inputs[index] = e.target.value);
    }
  },
  created() {
    return (this.inputs = this.array);
  }
};
</script>

<style lang="scss" scoped>
</style>
