@font-face {
    font-family: "BebasNeueBold";
    src: url(../fonts/ofontruBebasNeue.woff) format("woff"),
    url(../fonts/ofontruBebasNeue.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AvenirNextCyr-Bold";
    src: url(../fonts/AvenirNextCyr-Bold.woff) format("woff"),
    url(../fonts/AvenirNextCyr-Bold.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextCyr-Regular";
    src: url(../fonts/AvenirNextCyr-Regular.woff) format("woff"),
    url(../fonts/AvenirNextCyr-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}



body {
    overflow-x: hidden
}

.header {
    background-image: url(../img/carrer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.header h2 {
    font-size: 65px;
    font-family: "BebasNeueBold", sans-serif;
    color: #fff;
    /*font-weight: 700;*/
    padding: 220px
}

.text-part-one h2, .text-part-two h2 {
    font-size: 34px;
    font-family: "BebasNeueBold", sans-serif;
    color: #2d3135;
    /*font-weight: 700*/
}

.text-part-one p, .text-part-two p {
    font-size: 20px;
    font-family: "AvenirNextCyr-Regular", sans-serif;
    color: #2d3135
}

.text-part-one {
    margin-right: 40px
}

.text-part-two {
    margin-left: 40px
}

.s1 img {
    width: 550px
}
.first-part{
    padding: 100px 0 0 0;
}
.first-part, .sec-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.img-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.border-left {
    width: 15px;
    height: 330px;
    background-color: #d9a158;
    margin-right: -5px;
    z-index: 99
}

.border-right {
    width: 15px;
    height: 330px;
    background-color: #d9a158;
    margin-left: -5px;
    z-index: 99
}

.s6-inner {
    padding: 80px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.s6-inner h5 {
    font-family: "BebasNeueBold", sans-serif;
    font-size: 25px;
    color: #2d3135;
}

.s6-inner p {
    font-family: "AvenirNextCyr-Regular", sans-serif;
    font-size: 16px;
    color: #2d3135;
}

.beb {
    font-family: "BebasNeueBold", sans-serif !important;
    font-size: 14px !important;
    color: #2d3135 !important;
    padding: 0 10px
}

.s6-blocks {
    width: 25%
}

.nat-tit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.mr10 {
    margin-right: 10px
}

.color-orange {
    color: #d9a158 !important;
    background-color: unset !important;
    padding: unset !important;
    position: unset !important;
    display: unset !important
}

.career-btn{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #f5f5f5 !important;
        text-decoration: none;
        background: #d9a158;
        width: 100%;
        padding: 10px;
        padding-bottom: 16px;
        font-size: 50px;
        font-family: "BebasNeueBold", sans-serif;
}
.career-btn:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    color: #f5f5f5 !important;
}
@media (max-width: 993px) {
    .first-part, .sec-part {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .text-part-one, .text-part-two {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .s6-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .s6-blocks {
        margin: 20px 0;
        width: unset
    }
}

@media (max-width: 600px) {
    .s1 img {
        width: 100%
    }

    .border-left, .border-right {
        display: none
    }

    .text-part-one, .text-part-two {
        margin: 0
    }

    .text-part-one h2, .text-part-two h2 {
        font-size: 34px
    }
}

* {
    margin: 0;
    padding: 0
}

.header_logo {
    -o-object-fit: cover;
    object-fit: cover;
    height: 70px;
    padding-top: 3px;
}

.logo_content {
    color: #2d3135;
    font-size: 14px;
    padding-top: 5px;
    margin-right: 100px;
    font-family: 'BebasNeueBold', sans-serif
}
@media (max-width: 1095px) {
    .logo_content {
        margin-right: 50px
    }
}

@media (max-width: 454px) {
    .logo_content {
        margin: 0 auto
    }
}

.navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.navbar_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.nav__lang {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
/* .active {
    color: #dba764 !important
}

.active-link {
    padding: 30px;
    border-bottom: 2px solid #dba764;
    color: #dba764 !important
} */

.nav__lg {
    color: #2d3135;
    font-size: 20px;
    font-family: 'BebasNeueBold', sans-serif;
}

@media (max-width: 1200px) {
    .nav_container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto
    }
}

@media (max-width: 1053px) {
    .nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important
    }
}

@media (max-width: 991px) {
    .nav-link {
        margin: 0 auto;
        padding: 20px
    }
}

@media (max-width: 440px) {
    .nav_container {
        padding: 0
    }

    .logo_content {
        font-size: 14px
    }

    .header_logo {
        height: 72px
    }
}

@media (max-width: 991px) {
    .top {
        margin-top: 0 !important
    }
}

.nav-link:hover {
    color: #dba764 !important
}

.nav__lg:hover {
    cursor: pointer;
    color: #dba764 !important
}

.footer_line {
    margin-top: 70px
}

.footer {
    padding-top: 20px
}

.footer__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.footer__logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.footer__logo img {
    height: 60px;
    max-width: 100px
}

.footer__logo_text {
    font-size: 14px;
    color: #2d3135;
    font-family: 'BebasNeueBold', sans-serif
}

.footer__number {
    color: #d9a158;
    font-size: 40px;
    font-family: 'BebasNeueBold', sans-serif
}

.footer__email {
    font-family: 'AvenirNextCyr-Regular', sans-serif;
    color: #2d3135;
    font-size: 16px
}

.footer__col_title {
    color: #2d3135;
    margin-top: -8px;
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 25px
}

.footer__col_list {
    color: #2d3135;
    font-family: 'AvenirNextCyr-Regular', sans-serif;
    font-size: 16px;
    margin-top: 10px
}

.footer_line_bottom {
    margin-top: 40px
}

.end_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    min-width: 162px;
    -ms-flex-direction: column;
    flex-direction: column
}

.end_row {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.end_col {
    text-align: center;
    font-size: 14px;
    font-family: 'AvenirNextCyr-Regular', sans-serif
}

.end_col_btn {
    min-width: 170px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirNextCyr-Bold", sans-serif;
    color: #f5f5f5!important;
    text-decoration: none;
    background: #d9a158;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    max-width: 120px
}

.col-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

@media (max-width: 991px) {
    .footer__col_title {
        font-size: 20px
    }

    .footer__number {
        font-size: 22px
    }
}

@media (max-width: 767px) {
    .footer__logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: left
    }

    .footer__number {
        text-align: left;
        font-size: 15px
    }

    .footer__email {
        font-size: 9px;
        text-align: left
    }

    .footer__col_title {
        font-size: 15px;
        margin-top: 0
    }

    .footer__col_list {
        font-size: 14px
    }
}

@media (max-width: 575px) {
    .footer__logo {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        max-width: 300px;
        margin: 0 auto
    }

    .footer__col {
        max-width: 300px;
        margin: 0 auto;
        text-align: center
    }

    .footer__number {
        text-align: center;
        font-size: 25px
    }

    .footer__email {
        text-align: center;
        font-size: 25px
    }

    .footer__col_title {
        font-size: 25px
    }

    .footer__col {
        margin-top: 10px
    }

    .footer__col_list {
        margin-top: 5px;
        font-size: 18px
    }

    .end_row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .end_col {
        max-width: 300px;
        margin: 0 auto;
        text-align: center !important;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center
    }
}

/* .end_col_btn:hover {
    background: #ff8c00;
    color: #000;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    cursor: pointer;
    text-decoration: none !important
} */

a {
    color: inherit !important;
    text-decoration: none !important
}

a:hover {
    color: inherit !important;
    text-decoration: none !important
}

.career {
    margin-top: -19px;
    padding-top: 130px;
    padding-bottom: 130px;
    background: url(../img/carrer-bg.jpg);
    background-size: cover
}

.career-title {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-family: "BebasNeueBold", sans-serif;
    font-size: 65px;
    color: #fff
}

.s1 {
    margin-top: 100px
}

@media (max-width: 991px) {
    .career {
        background-position: center;
        margin-top: 0
    }

    .nav__lang {
        padding-top: 10px
    }
}

.career-img:hover {
    opacity: .8;
    cursor: pointer
}

@media (max-width: 1199px) {
    .footer__number {
        font-size: 32px
    }
}

@media (max-width: 991px) {
    .footer__number {
        font-size: 25px
    }
}

@media (max-width: 767px) {
    .footer__number {
        font-size: 17px
    }
}

@media (max-width: 575px) {
    .footer__number {
        font-size: 25px
    }
}

/* .nav-link:hover {
    border-bottom: 2px solid #dba764
} */

.hover_box_el {
    font-family: 'BebasNeueBold', sans-serif;
    /*font-weight: 500;*/
    font-size: 50px
}

.hover_box_btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirNextCyr-Bold", sans-serif;
    /*font-weight: 700;*/
    color: #f5f5f5;
    text-decoration: none;
    background: #d9a158;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    max-width: 120px
}

.hover_box {
    margin: 10px
}

.hover_block {
    float: right;
    background: rgba(255, 255, 255, .4);
    z-index: 9999;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.hover_box_btn {
    cursor: pointer;
    color: #fff !important;
    text-decoration: none !important
}

.hover_box_list {
    margin-top: 5px;
    font-family: 'AvenirNextCyr-Regular', sans-serif
}

.top {
    position: relative
}

.hover_block {
    height: 100%
}

.test:hover .hover_block {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    opacity: 1
}

.test:hover #top__title_text {
    opacity: 0
}

@media (max-width: 728px) {
    .hover_box_el {
        font-size: 35px
    }
}

@media (max-width: 580px) {
    .hover_block {
        float: none;
        width: 100%
    }
}

@media (max-width: 542px) {
    .hover_block {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .hover_box_btn {
        margin: 0 auto
    }

    .hover_box_list {
        text-align: center
    }
}

.navbar {
    z-index: 99999
}

@media (max-width: 991px) {
    #hover_id {
        display: none
    }

    .test:hover #top__title_text {
        opacity: 1
    }
}

.top {
    margin-top: 7px;
    background-position: center;
    background-image: url(../img/carrer-bg.jpg);
    background-color: rgba(0, 0, 0, .3);
    background-size: cover
}

.top__title {
    padding-top: 155px;
    padding-bottom: 185px;
    max-width: 1070px;
    margin: 0 auto;
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 65px;
    color: #fff;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, .3)
}

.span-fix-1 {
    max-width: 100%;
    width: 100%;
    text-align: center
}

@media (max-width: 1102px){
    .top {
        margin-top: 6px;
    }
}