@font-face {
  font-family: "BebasNeueBold";
  src: url(../font/ofontruBebasNeue.woff) format("woff"),
    url(../font/ofontruBebasNeue.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr-Bold";
  src: url(../font/AvenirNextCyr-Bold.woff) format("woff"),
    url(../font/AvenirNextCyr-Bold.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr-Regular";
  src: url(../font/AvenirNextCyr-Regular.woff) format("woff"),
    url(../font/AvenirNextCyr-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.about-top {
  margin-top: 7px;
  background-position: center;
  background-image: url(../images/f-page-bg.jpg);
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
}
.dropdown-menu {
  width: 250px;
  padding: 0.5rem;
  top: 87px;
}
.dropdown-menu a {
  display: block;
  margin-bottom: 0.5rem;
  color: #000;
}

.header_logo {
  -o-object-fit: cover;
  object-fit: cover;
  height: 70px;
  padding-top: 3px;
}

.logo_content {
  color: #2d3135;
  font-size: 14px;
  padding-top: 5px;
  margin-right: 100px;
  font-family: "BebasNeueBold", sans-serif;
}
.about-team-btn {
  padding: 0 !important;
}
.about-team-p {
  color: #000;
  font-size: 14px;
  padding: 0 1rem;
}
.modal-header {
  border: none;
}
.about-team-inner {
  display: flex;
}
.about-team-image img {
  width: 227px;
  height: 100%;
}
.tab-col-image .modal-dialog {
  max-width: 1000px !important;
}
.modal-title {
  width: 100%;
  text-align: center;
}
.modal-content {
  border: 5px solid #dba764;
  border-radius: 0;
  padding: 1.5rem;
}
.close:focus {
  outline: none;
}

@media (max-width: 1095px) {
  .logo_content {
    margin-right: 50px;
  }
}

@media (max-width: 454px) {
  .logo_content {
    margin: 0 auto;
  }
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__lang {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}



/* .active {
    color: #dba764 !important
} */

/* .active-link {
    padding: 30px;
    border-bottom: 2px solid #dba764;
    color: #dba764 !important
} */

.nav__lg {
  color: #2d3135;
  font-size: 20px;
  font-family: "BebasNeueBold", sans-serif;
}

@media (max-width: 1200px) {
  .nav_container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 1053px) {
  .nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 991px) {
  .nav-link {
    margin: 0 auto;
    padding: 20px;
  }
}

@media (max-width: 440px) {
  .nav_container {
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 9999999;
    background-color: #fff;
  }

  .logo_content {
    font-size: 14px;
  }

  .header_logo {
    height: 72px;
  }
}

@media (max-width: 991px) {
  .top {
    margin-top: 0 !important;
  }
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.top {
  margin-top: 7px;
  background-image: url(../images/f-page-bg.jpg);
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
}

/* @media (max-width: 1200px) {
    .top {
        /*margin-top: 8px;*/
/* } */
/* } */
*/ .top__title {
  padding-top: 155px;
  padding-bottom: 185px;
  max-width: 320px;
  margin: 0 auto;
  font-family: "BebasNeueBold", sans-serif;
  font-size: 65px;
  color: #fff;
  /*font-weight: 700;*/
  text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
}

.top__subtitle {
  margin-top: 40px;
  text-align: center;
  font-family: "BebasNeueBold", sans-serif;
  color: #2d3135;
  font-size: 50px;
}
#corporation {
  margin-top: -20px;
  padding-top: 30px;
}

.top__subtitle_description {
  margin: 5px 0 28px 0;
  text-align: center;
  font-size: 20px;
  color: #2d3135;
  font-family: "AvenirNextCyr-Regular", sans-serif;
}
.top__subtitle_description > span {
  text-transform: uppercase;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns= 'http://www.w3.org/2000/svg' fill= '%23000' viewBox= '0 0 8 8' %3E%3Cpath d= 'M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z' /%3E%3C/svg%3E");
}

.carousel-indicators {
  bottom: -150px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #eae8e8;
}

.carousel-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.carousel-indicators .active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #eae8e8;
  border: 2px solid #d9a158;
}

#carouselReviews {
  margin: 0 auto;
  margin-top: 70px;
}

.slider-icon {
  background: #dba764;
  border: 6px solid red;
  width: 50px;
  height: 50px;
  font-size: 20px;
  fill: #fff;
}

.img-fluid path {
  fill: #f5f5f5 !important;
}

.slider-icon {
  fill: #fff !important;
}

.slider__icon-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__icon {
  font-size: 30px;
  text-align: center;
  margin-top: 23px;
  color: #f5f5f5;
  background: #dba764;
}

.carousel__box_bg {
  text-align: center;
  width: 80px;
  border-radius: 0 !important;
  height: 70px;
  background: #dba764;
}

.carousel__icon_description_title {
  font-family: "AvenirNextCyr-Regularr", sans-serif;
  font-size: 20px;
  color: #2d3135;
}

.carousel__icon_description_subtitle {
  font-family: "AvenirNextCyr-Regular", sans-serif;
  font-size: 20px;
  color: #2d3135;
}

.carousel__icon_description {
  margin-left: 20px;
}

.carousel-control-prev {
  left: 40%;
  top: 0;
  height: 40px;
  fill: red !important;
  z-index: 9999;
}

.carousel-control-next {
  right: 40%;
  top: 0;
  height: 40px;
  fill: red !important;
  z-index: 9999;
}

.carousel-control-prev-icon-new {
  width: 20px;
  height: 20px;
  fill: #dba764;
  background-image: url(../images/arrow-left.svg);
  background-repeat: no-repeat;
}

.carousel-control-next-icon-new {
  width: 20px;
  height: 20px;
  fill: #dba764;
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
}

@media (max-width: 575px) {
  .carousel-item {
    margin-left: 7px;
  }
  .adress {
    font-size: 17px !important;
  }
  .carousel__box_bg {
    width: 76px;
  }
}

@media (max-width: 402px) {
  .carousel__icon_description_subtitle {
    font-size: 15px;
  }

  .carousel__icon_description_title {
    font-size: 15px;
  }

  .carousel__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .carousel__icon_description {
    margin-left: 10px;
  }

  .carousel-item {
    margin: 0 auto;
  }
}

.carousel__zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.carousel__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .carousel__zone {
    margin: auto 10px;
  }
}

@media (max-width: 789px) {
  .carousel__line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .carousel__zone {
    display: unset;
    margin-top: 20px;
  }

  .carousel__icon_description_title {
    margin-top: 10px;
    margin-left: -14px;
    text-align: center;
  }

  .carousel__icon_description_subtitle {
    text-align: center;
  }

  .carousel__box_bg {
    margin: 0 auto !important;
  }
}

@media (max-width: 788px) {
  .carousel-control-prev {
    margin-top: 420px;
  }

  .carousel-control-next {
    margin-top: 420px;
  }
}

@media (max-width: 403px) {
  .carousel-control-next {
    margin-right: -10px;
    margin-top: 390px;
  }

  .carousel-control-prev {
    margin-left: -10px;
    margin-top: 390px;
  }
}

.team {
  margin-top: 80px;
  background-image: url(../images/team-bg.jpg);
  background-size: cover;
}

.team__row {
  padding-top: 230px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.team__title {
  font-family: "BebasNeueBold", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
}

.team__line {
  width: 100%;
  max-width: 50px;
  background: #dba764;
  height: 2px;
  margin: 0 auto;
}

.team__description {
  margin-top: 15px;
  max-width: 500px;
  font-family: "AvenirNextCyr-Regular", sans-serif;
}

.romb__text span {
  font-family: "AvenirNextCyr-Bold", sans-serif;
}

.team__info {
  position: relative;
}

.team__general_romb {
  -webkit-box-shadow: 0 0 10px 2px #f9efe4;
  box-shadow: 0 0 10px 2px #f9efe4;
  z-index: 9999;
  width: 60px;
  height: 60px;
  background: #d9a158;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  margin: 60px 0 10px 310px;
}

.general_logo {
  top: 7px;
  left: 18px;
  z-index: 9999;
  width: 25px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.romb_top {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: -170px;
  left: 0;
  position: absolute;
  width: 175px;
  height: 175px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  margin: 60px 0 10px 310px;
  border: 2px solid #dba764;
}

.romb_left {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: -37px;
  left: -135px;
  position: absolute;
  width: 175px;
  height: 175px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  margin: 60px 0 10px 310px;
  border: 2px solid #dba764;
}

.romb_right {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: -37px;
  right: -245px;
  position: absolute;
  width: 175px;
  height: 175px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  margin: 60px 0 10px 310px;
  border: 2px solid #dba764;
}

.romb_bottom {
  left: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 95px;
  position: absolute;
  width: 175px;
  height: 175px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  margin: 60px 0 10px 310px;
  border: 2px solid #dba764;
}
.romb_txt_span {
  font-size: 30px;
  font-family: "AvenirNextCyr-Bold", sans-serif;
  color: #dba764;
}
.romb_top:hover,
.romb_bottom:hover,
.romb_left:hover,
.romb_right:hover {
  cursor: pointer;
  color: #fff;
  background: #dba764;
}
.romb_top:hover .romb_txt_span,
.romb_bottom:hover .romb_txt_span,
.romb_left:hover .romb_txt_span,
.romb_right:hover .romb_txt_span {
  cursor: pointer;
  color: #fff;
  background: #dba764;
}
.romb_top:hover .gender-icon,
.romb_bottom:hover .gender-icon,
.romb_left:hover .gender-icon,
.romb_right:hover .gender-icon {
  filter: sepia(101%) brightness(137%);
}

.romb__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 150px;
  font-size: 14px;
  font-family: "AvenirNextCyr-Bold", sans-serif;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  text-transform: uppercase;
}

.nav-link-tab {
  font-size: 25px;
  font-family: "BebasNeueBold", sans-serif;
}

.fa-female {
  margin-left: 5px;
  font-size: 20px;
}

.fa-male {
  margin-left: 4px;
  font-size: 20px;
}

.first__slide_icon {
  -webkit-box-shadow: 0 0 5px 2px #faf4eb;
  box-shadow: 0 0 5px 2px #faf4eb;
}

@media (max-width: 1184px) {
  .team__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }

  .team__info {
    margin-left: -200px;
    margin-top: 200px;
  }
}

@media (max-width: 721px) {
  .team__info {
    margin-left: -250px;
  }
}

@media (max-width: 1512px) {
  .team {
    background-position: center;
  }
}

.responsive-slider {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.responsive-slider__item {
  width: 100%;
}

.slick-icon-right {
  position: absolute;
  right: 35%;
  bottom: -8px;
  z-index: 99999;
  width: 15px;
  cursor: pointer;
}

.slick-icon-left {
  position: absolute;
  left: 35%;
  bottom: -8px;
  z-index: 99999;
  width: 15px;
  cursor: pointer;
}

.slick-dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25px;
}

.slick-dots li {
  width: 12px;
  height: 12px;
  background-color: #eae8e8;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.slick-dots li button {
  display: none;
}

li.slick-active {
  border: 2px solid #dba764;
  background: #fff;
}
.corp-link {
  padding: 29px 30px 35px;
  margin: 7px;
  font-size: 14px;
  font-family: "AvenirNextCyr-Regular", sans-serif;
  color: #2d3135;
  position: relative;
}
.corp-link:hover {
  color: #dba764 !important;
}
.slide__romb {
  background: #dba764;
}

.first_slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}

.first__slide_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #dba764;
}

.first__slide_icon {
  width: 80px;
  text-align: center;
  height: 80px;
}

.slide__icon {
  margin-top: 28px;
  font-size: 25px;
  color: #fff;
}

.first__slide_info {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* text-align: left; */
}

.email {
  font-family: "AvenirNextCyr-Regular", sans-serif;
  font-size: 20px;
  color: #2d3135;
}

.adress {
  font-family: "AvenirNextCyr-Bold", sans-serif;
  font-size: 20px;
}

.main-content {
  margin-top: 5px;
}

.phone-icon {
  width: 35px;
  margin: 0 auto;
}

.email-icon {
  width: 35px;
  margin: 0 auto;
}

.second__top_row {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.second__bottom_row {
  margin-top: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second__top_box {
  width: 25%;
  padding: 20px;
  text-align: center;
  font-family: "AvenirNextCyr-Bold", sans-serif;
  margin: 0 10px;
  font-size: 15px;
  border: 2px solid #eae8e8;
}

.second__bottom_box {
  padding: 20px;
  text-align: center;
  font-family: "AvenirNextCyr-Bold", sans-serif;
  margin: 0 10px;
  font-size: 15px;
  border: 2px solid #eae8e8;
  width: 25%;
}

.second__icon {
  margin: 0 auto;
  max-width: 50px;
}

.second__descr {
  margin-top: 15px;
}

.threed_top {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thred_box {
  font-family: "AvenirNextCyr-Bold", sans-serif;
  padding: 15px;
  font-size: 25px;
  margin: 0 auto;
  max-width: 450px;
  color: #dba764;
  border: 2px solid #dba764;
  width: 50%;
}

.thred_lie {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 35px;
}

.threed__bottom {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thred__bottom_box {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f5f5f5;
  margin: 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-family: "AvenirNextCyr-Regular", sans-serif;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url(../images/element-bg.png);
}

.start {
  background-image: url(../images/element-start.png);
}

.end {
  background-image: url(../images/element-end.png) !important;
}

.codex_top {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.codex_box {
  margin: 40px;
  width: 160px;
  height: 160px;
  background: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #dba764;
}

@media (max-width: 768px) {
  .codex_box_text {
    font-size: 10px;
  }
  .footer__col > div {
    margin: 0.5rem 0;
  }
}

.codex_top_second {
  margin-top: -110px;
}

.codex_box_logo {
  max-width: 70px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.codex_box_text {
  font-family: "AvenirNextCyr-Bold", sans-serif;
  font-size: 13px;
  text-align: center;
  max-width: 130px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.download_row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
}

.download_box {
  min-height: 135px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 10px;
  max-width: 250px;
  width: 100%;
  border: 2px solid #eae8e8;
}

.download_box_title {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  font-family: "AvenirNextCyr-Bold", sans-serif;
}

.download_left_col {
  font-family: "AvenirNextCyr-Regular", sans-serif;
}

.download__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download_left_col {
  bottom: -4px;
  position: absolute;
  padding: 15px;
  margin-left: 5px;
}

.download_right_col {
  padding: 10px;
  background: #dba764;
  max-width: 40px;
  position: absolute;
  right: -2px;
  bottom: -2px;
}

.row_time {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row_time_box {
  font-family: "AvenirNextCyr-Bold", sans-serif;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px 2px #fbf6ef;
  box-shadow: 0 0 5px 2px #fbf6ef;
  min-height: 120px;
  margin-left: 5px;
  margin-right: 5px;
  background: #eae8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.row_order {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: column; */
  margin-top: -5px;
}

.order_left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.order_right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.order_list {
  -webkit-box-shadow: 0 0 5px 2px #fbf6ef;
  box-shadow: 0 0 5px 2px #fbf6ef;
  font-family: "AvenirNextCyr-Bold", sans-serif;
  padding: 15px;
  font-size: 15px;
  max-width: 500px;
  margin: 5px;
  background: #eae8e8;
  width: 100%;
}

.information_description {
  font-family: "AvenirNextCyr-Regular", sans-serif;
}

.order_list:hover {
  cursor: pointer;
  background: #d9a158;
  color: #f5f5f5;
}

.row_time_box:hover {
  cursor: pointer;
  background: #d9a158;
  color: #f5f5f5;
}

a {
  outline: 0 !important;
}

.order_list a {
  outline: 0;
}

.general_row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  border: 2px dashed #eae8e8;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}

.general_box_left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "AvenirNextCyr-Regular", sans-serif;
  letter-spacing: 1.4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

.general_box_left > a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "AvenirNextCyr-Regular", sans-serif;
  letter-spacing: 1.4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

.box_left_title {
  text-transform: uppercase;
  font-weight: bolder;
  padding-left: 30px;
}
.box_left_title p {
  margin-bottom: 0;
  color: #dba764;
  font-family: "AvenirNextCyr-Bold", sans-serif;
  text-align: center;
}
.general_box_right {
  color: #dba764;
  font-family: "AvenirNextCyr-Bold", sans-serif;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.box_left_title {
  font-family: "AvenirNextCyr-Regular", sans-serif;
}

.general_information {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.information_box {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f5f5f5;
  width: 100%;
}

.information_line {
  margin-top: 34px;
  background: #dba764;
  width: 70px;
  height: 70px;
}

.information_title {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "BebasNeueBold", sans-serif;
}

@media (max-width: 1110px) {
  .thred__bottom_box {
    font-size: 13px;
  }

  .download_left_col {
    margin-left: 0;
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .slick-icon-right {
    right: 27%;
  }

  .slick-icon-left {
    left: 27%;
  }

  .thred_box {
    margin: 10px;
  }

  .thred__bottom_box {
    padding: 10px;
    margin: 10px;
    background: #dba764;
    border-radius: 5px;
  }

  .download_box {
    min-height: 200px;
  }

  .download_left_col {
    padding: 5px;
    font-size: 13px;
  }

  .download_right_col {
    position: unset;
  }

  .download_left_col {
    width: 100%;
    text-align: center;
    position: unset;
  }

  .download__subtitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .download_box_title {
    height: 100px;
  }
}

@media (max-width: 767px) {
  .slick-icon-right {
    right: 15%;
  }

  .slick-icon-left {
    left: 15%;
  }

  .information_line {
    display: none;
  }

  .information_title {
    font-size: 20px;
  }

  .information_box {
    padding: 15px;
    margin: 15px;
  }

  .first_row {
    max-width: 300px;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .first_slide {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
  }

  .second__descr {
    font-size: 10px;
  }

  .threed__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .thred__bottom_box {
    width: 400px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .codex_box {
    margin: 25px;
    width: 100px;
    height: 100px;
  }

  .codex_top_second {
    margin-top: -77px;
  }

  .download_box_title {
    font-size: 11px;
  }

  .download_box_title {
    height: 60px;
  }

  .download_box {
    min-height: auto;
  }

  .row_time {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .row_time_box {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 250px;
    margin: 5px auto;
    min-height: auto;
  }
}

@media (max-width: 555px) {
  .general_information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .information_box {
    margin: 0 auto;
    margin-top: 10px;
    max-width: 450px;
  }

  .second__top_box {
    padding: 5px;
  }

  .second__descr {
    font-size: 10px;
  }

  .thred_box {
    font-size: 15px;
  }

  .row_order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .order_left {
    margin: 0 auto;
  }

  .order_right {
    margin: 0 auto;
  }

  .order_list {
    margin: 0 auto;
    margin-top: 5px;
  }
}

@media (max-width: 471px) {
  .codex_box_logo {
    max-width: 50px;
  }

  .codex_top_second {
    margin-top: 10px;
  }

  .codex_box {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  .codex_box_text {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  .codex_box_logo {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  .codex_box_text {
    padding: 15px;
  }

  .codex_box {
    width: 100%;
    max-width: 150px;
  }

  .codex_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .codex_box {
    margin: 0 auto;
    margin-top: 5px;
  }

  .codex_top_second {
    margin: 0 auto;
  }

  .codex_box_text {
    padding: 0;
  }

  .download_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .download_box_title {
    height: auto;
  }

  .download_box_title {
    margin-top: 5px;
  }

  .download__subtitle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .download_box {
    margin: 0 auto;
    margin-top: 4px;
  }
}

@media (max-width: 561px) {
  .second__bottom_box {
    padding: 5px;
  }

  .second__top_box {
    padding: 5px;
  }
}

@media (max-width: 429px) {
  .general_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .general_box_right {
    text-align: center;
  }

  .second__top_box {
    padding: 3px;
  }

  .second__top_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .second__top_box {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3px;
  }

  .second__bottom_box {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3px;
  }

  .second__bottom_row {
    margin: 0 auto;
  }

  .second__bottom_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .first_slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .first__slide_info {
    margin: 0 auto;
  }

  .first_slide {
    margin-top: 55px;
  }

  .email {
    margin-top: 5px;
    text-align: center;
  }

  .thred_box {
    font-size: 12px;
  }

  .thred__bottom_box {
    max-width: 220px;
  }

  .download__subtitle {
    margin-top: -10px;
  }
}

@media (max-width: 422px) {
  .slick-icon-right {
    display: none !important;
  }

  .slick-icon-left {
    display: none !important;
  }
}

@media (max-width: 594px) {
  .team__row {
    padding: 50px;
  }

  .team__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .romb__text {
    margin: 0 auto;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  .general_logo {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  .romb_top {
    margin: 0 auto;
    position: unset;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .romb_top:hover {
    cursor: pointer;
    color: #fff;
    background: #dba764;
  }

  .romb_left {
    margin: 0 auto;
    position: unset;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .romb_left:hover {
    cursor: pointer;
    color: #fff;
    background: #dba764;
  }

  .team__general_romb {
    margin: 0 auto;
    position: unset;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  .romb_right {
    margin: 0 auto;
    position: unset;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .romb_right:hover {
    cursor: pointer;
    color: #fff;
    background: #dba764;
  }

  .romb_bottom {
    margin: 0 auto;
    position: unset;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .romb_bottom:hover {
    cursor: pointer;
    color: #fff;
    background: #dba764;
  }

  .team__info {
    margin: 0 auto;
  }

  .team__info div {
    width: 100%;
    padding: 15px;
    max-width: 500px;
    margin-top: 10px;
    text-align: center;
  }

  .general_logo {
    position: unset;
  }

  .team__general_romb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 991px) {
  .team__row {
    padding-top: 20px;
    padding-bottom: 200px;
  }
}

@media (max-width: 550px) {
  .team__row {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 510px) {
  .team__row {
    padding: 10px;
  }
}

.nav-link-tab {
  font-size: 25px;
  font-family: "BebasNeueBold", sans-serif;
}

.slick-slide {
  outline: 0 !important;
}

.tab-team {
  width: 100%;
}

.tab-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}

.tab-col-img {
  width: 100%;
  height: 337px;
  -o-object-fit: cover;
  object-fit: cover;
}
.tab-col-image {
  width: 18%;
  margin: 0 1% 1rem;
}
.tab-img-cont {
  overflow: hidden;
  height: 250px;
}
.tab-col_info {
  max-width: 80%;
  margin: 0 auto;
  margin-top: -35px;
  background: #d9a158;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 113px;
}
.tab-col_info p {
  color: #fff;
  font-weight: 500;
  padding: 5px 5px 5px;
}

.tab-col_position {
  /* padding-top: 10px; */
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  font-family: "AvenirNextCyr-Bold", sans-serif;
  color: #f5f5f5;
  font-size: 18px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #fff;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-col_name {
  padding-bottom: 10px;
  font-family: "AvenirNextCyr-Regular", sans-serif;
  color: rgba(245, 245, 245, 0.6);
  font-size: 15px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #fff;
}

.team {
  background-position: right;
}

@media (max-width: 1199px) {
  .tab-col-img {
    max-width: 200px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .tab-col-img {
    max-width: 100%;
    height: auto;
  }

  .tab-col_position {
    font-size: 13px;
  }

  .tab-col_name {
    font-size: 12px;
  }

  .tab-col_name {
    font-size: 9px;
  }
}

@media (max-width: 767px) {
  .tab-col_info {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1197px) {
  .team {
    background-position: left;
  }
}

@media (max-width: 575px) {
  .tab-col {
    text-align: center;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .tab-col_info {
    width: 100%;
    max-width: 220px;
  }

  .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .tab-col_name {
    font-size: 17px;
  }

  .tab-col_position {
    font-size: 21px;
  }
}

@media (max-width: 991px) {
  .nav-link-tab {
    margin: 10px;
  }
}

@media (max-width: 420px) {
  .nav-link-tab {
    margin: 5px;
  }

  .nav-link-tab {
    font-size: 19px;
  }
}

.bottom_container {
  margin-top: 120px;
}

.tab-cont {
  padding-bottom: 40px;
  margin-top: 5rem;
}

.bottom_col {
  max-width: 355px !important;
  border: 10px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f7f7f7;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.bottom_col_img_zone {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom_col_img {
  margin: 20px;
}

.bottom_col_description {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.bottom_col_title {
  font-family: "AvenirNextCyr-Bold", sans-serif;
  font-size: 18px;
}

.bottom_col_content {
  min-height: 130px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 13px;
  color: #2d3135;
  line-height: 1.2;
  font-family: "AvenirNextCyr-Regular", sans-serif;
}

@media (max-width: 1199px) {
  .bottom_col_content {
    height: 150px;
  }
}

.bottom_col {
  height: 398px;
}

.bottom_col_description {
  height: 178px;
}

@media (max-width: 991px) {
  /* .bottom_col {
    height: auto;
  } */

  .bottom_col_description {
    height: 300px;
  }

  .bottom_col {
    max-width: 33% !important;
  }
}

@media (max-width: 775px) {
  .bottom_col_description {
    height: auto;
  }

  .bottom_col {
    max-width: 80% !important;
  }
}

@media (max-width: 991px) {
  .bottom_col_content {
    height: 300px;
  }
}

.bottom_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 775px) {
  .bottom_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom_col {
    width: 100%;
    max-width: 100%;
  }

  .bottom_col_content {
    height: auto;
    min-height: auto;
  }
}

@media (max-width: 341px) {
  .top__subtitle {
    font-size: 45px;
  }
}

.gender-icon {
  width: 14px;
}

.hover_box_el {
  font-family: "BebasNeueBold", sans-serif;
  font-size: 50px;
  color: #2d3135;
}

.hover_box_btn {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "AvenirNextCyr-Bold", sans-serif;
  color: #f5f5f5;
  text-decoration: none;
  background: #d9a158;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  max-width: 120px;
}

.hover_box {
  margin: 10px;
}

.hover_block {
  float: right;
  background: rgba(255, 255, 255, 0.4);
  z-index: 9999;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.hover_block {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hover_box_btn {
  cursor: pointer;
  color: #fff !important;
  text-decoration: none !important;
  transition: all 0.5s ease;
}
.hover_box_btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.hover_box_list {
  margin-top: 5px;
  font-family: "AvenirNextCyr-Regular", sans-serif;
  color: #2d3135;
}

.top {
  position: relative;
}

.hover_block {
  height: 100%;
}

.test:hover .hover_block {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  opacity: 1;
}

@media (max-width: 728px) {
  .hover_box_el {
    font-size: 35px;
  }
}

@media (max-width: 580px) {
  .hover_block {
    float: none;
    width: 100%;
  }
}

@media (max-width: 542px) {
  .hover_block {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hover_box_btn {
    margin: 0 auto;
  }

  .hover_box_list {
    text-align: center;
  }
}

.footer_line {
  margin-top: 70px;
}

.footer {
  padding-top: 20px;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__logo img {
  height: 60px;
  max-width: 100px;
}

.footer__logo_text {
  font-size: 14px;
  font-family: "BebasNeueBold", sans-serif;
}

.footer__number {
  color: #d9a158;
  font-size: 40px;
  font-family: "BebasNeueBold", sans-serif;
}

.footer__email {
  font-family: "AvenirNextCyr-Regular", sans-serif;
  color: #2d3135;
  font-size: 16px;
}

.footer__col_title {
  margin-top: -8px;
  font-family: "BebasNeueBold", sans-serif;
  font-size: 25px;
}

.footer__col_list {
  font-family: "AvenirNextCyr-Regular", sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

.footer_line_bottom {
  margin-top: 40px;
}

.end_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  min-width: 162px;
  -ms-flex-direction: column;
  flex-direction: column;
}

.end_row {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.end_col {
  text-align: center;
  font-size: 14px;
  font-family: "AvenirNextCyr-Regular", sans-serif;
}

.end_col_btn {
  min-width: 170px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "AvenirNextCyr-Bold", sans-serif;
  color: #f5f5f5 !important;
  text-decoration: none;
  background: #d9a158;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  transition: all 0.5s ease;
  max-width: 120px;
}

.col-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media (max-width: 991px) {
  .footer__col_title {
    font-size: 20px;
  }

  .footer__number {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }

  .footer__number {
    text-align: left;
    font-size: 15px;
  }

  .footer__email {
    font-size: 9px;
    text-align: left;
  }

  .footer__col_title {
    font-size: 15px;
    margin-top: 0;
  }

  .footer__col_list {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .footer__logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer__col {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  .footer__number {
    text-align: center;
    font-size: 25px;
  }

  .footer__email {
    text-align: center;
    font-size: 25px;
  }

  .footer__col_title {
    font-size: 25px;
  }

  .footer__col {
    margin-top: 10px;
  }

  .footer__col_list {
    margin-top: 5px;
    font-size: 18px;
  }

  .end_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .end_col {
    max-width: 300px;
    margin: 0 auto;
    text-align: center !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
}

.end_col_btn:hover {
  color: #fff !important;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
  color: #dba764 !important;
}

.nav__lg:hover {
  cursor: pointer;
  color: #dba764 !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.download_right_col:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 991px) {
  .nav__lang {
    padding-top: 10px;
  }
}

@media (max-width: 1199px) {
  .footer__number {
    font-size: 32px;
  }
}

@media (max-width: 991px) {
  .footer__number {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .footer__number {
    font-size: 17px;
  }
}

@media (max-width: 575px) {
  .footer__number {
    font-size: 25px;
  }
}

.tab-col-img:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.tab-col_info {
  z-index: 99;
  width: 85%;
  min-height: 180px;
  max-width: 236px;
  /* margin-left: 12px */
}

@media (max-width: 1200px) {
  .tab-col_info {
    max-width: 80%;
    margin-left: 0;
    margin: 0 auto;
    margin-top: -30px;
  }
}

@media (max-width: 767px) {
  .tab-row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .tab-col {
    padding-bottom: 15px;
    margin: 0 auto;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
  }

  .tab-col_info {
    max-width: 220px;
  }
}

@media (max-width: 346px) {
  .tab-col_info {
    max-width: 210px;
  }
}

@media (max-width: 1102px) {
  .nav-link {
    font-size: 13px !important;
  }
}

@media (max-width: 991px) {
  .nav-link {
    font-size: 14px !important;
  }
}

@media (max-width: 991px) {
  #hover_id {
    display: none;
  }
}

@media (max-width: 991px) {
  #hover_id {
    display: none;
  }
}

@media (max-width: 991px) {
}
@media (max-width: 1102px) {
  .top {
    margin-top: 6px;
  }
}
.nav-tabs .active {
  padding: 8px !important;
  border-bottom: 3px solid #dba764 !important;
}

.nav-link-tab {
  padding: 8px !important;
}

.bottom_col_description {
  margin-top: 5px;
  margin-bottom: -10px;
  width: 110%;
  max-width: 106%;
  margin-left: -3%;
}
@media (max-width: 991px) {
  .bottom_col_description {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}
.dropdown-header {
  display: none;
}

.first_row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 110px 75px 75px;
}

.load_box {
  width: 100%;
  position: absolute;
  opacity: 0;
  background: #f3f3f3;
  text-align: center;
  height: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.load_box:hover {
  opacity: 1;
}
.third_box_top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 20px;
  text-align: center;
  font-family: "AvenirNextCyr-Bold", sans-serif;
  margin: 0 10px;
  font-size: 15px;
  border: 2px solid #eae8e8;
  min-height: 150px;
}
.third_box_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-family: "AvenirNextCyr-Bold", sans-serif;
  margin: 0 10px;
  font-size: 15px;
  border: 2px solid #eae8e8;
  width: 25%;
  min-height: 160px;
}

.modal-about .close {
  background-color: #dba764;
  position: absolute;
  right: -12px;
  z-index: 999999;
  top: 11px;
  opacity: 1;
}
.modal-about .close:hover {
  opacity: 1 !important;
  background-color: #c49c69;
}
.modal-about .close span {
  color: #ffff;
}
.modal-about .modal-header {
  padding: 0;
}
