@font-face {
    font-family: "BebasNeueBold";
    src: url(../fonts/ofontruBebasNeue.woff) format("woff"),
    url(../fonts/ofontruBebasNeue.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AvenirNextCyr-Bold";
    src: url(../fonts/AvenirNextCyr-Bold.woff) format("woff"),
    url(../fonts/AvenirNextCyr-Bold.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextCyr-Regular";
    src: url(../fonts/AvenirNextCyr-Regular.woff) format("woff"),
    url(../fonts/AvenirNextCyr-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

