@font-face {
    font-family: "BebasNeueBold";
    src: url(../fonts/ofontruBebasNeue.woff) format("woff"),
    url(../fonts/ofontruBebasNeue.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AvenirNextCyr-Bold";
    src: url(../fonts/AvenirNextCyr-Bold.woff) format("woff"),
    url(../fonts/AvenirNextCyr-Bold.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextCyr-Regular";
    src: url(../fonts/AvenirNextCyr-Regular.woff) format("woff"),
    url(../fonts/AvenirNextCyr-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}


.team__col.collapse-content p{
    font-size: 18px;
    color: #2d3135;
}
* {
    margin: 0;
    padding: 0
}
.navbar-nav{
    justify-content: center;
    width: 100%;
}
.banner-main{
    position: relative;
    min-height: 600px;
    transition: all 1s ease;
}
.bg-banner{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: red; */
    z-index: 9999;
    background-size: cover;
    opacity: 0;
}
.header_logo {
    -o-object-fit: cover;
    object-fit: cover;
    height: 70px;
    padding-top: 3px;
    margin-right: 5px;
}
#header{
    position: absolute;
    width: 100%;
    background-color: #fff;
    max-width: 100%;
    z-index: 99999;
    padding: 0px 120px;
}
#header.default {
	position: fixed;
    top: -1px;
    background-color: #fff;
    max-width: 100%;
    z-index: 999 !important;
    padding: 0px 120px;
}

.logo_content {
    color: #2d3135;
    font-size: 15px;
    margin-left: 0;
    padding-top: 5px;
    margin-right: 40px;
    font-family: 'BebasNeueBold', sans-serif;
    text-align: left;
}
.hover_box_bg{
    background-color: #f1f1f1;
    opacity: 0.8;
    /* padding-top: 25px; */
}
.block_pt_invest{
    padding-top: 85px;
}
.block_pt_invest_info{
    padding-top: 85px;
}


@media (max-width: 1095px) {
    .logo_content {
        margin-right: 50px
    }
}

@media (max-width: 454px) {
    .logo_content {
        margin: 0 auto
    }
}
.navbar{
    position: static;
    height: 80px !important;
    
}
.navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.navbar_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.nav__lang {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: .5rem;
}

.nav-link {
    /* padding: 29px 30px 35px; */
    margin: 7px;
    font-size: 14px;
    font-family: 'AvenirNextCyr-Regular', sans-serif;
    color: #2d3135 !important;
    position: relative;
}
.nav-link:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dba764;
    bottom: 27px;
    left: 0;
    transition: all .3s ease;
    transform: scale(0);
}
.nav-link:hover:after{
    width: 100%;
    height: 2px;
    background-color: #dba764;
    bottom: 27px;
    transform: scale(1);
}
.dropdown-menu{
    width: 58.5%;
    left: 41.5%;
    top: 87px;
    min-height: 300px;
    top: 77px;
    /* background: RGBA(255,255,255,0.7); */
    background-color: #f1f1f1;
    border-radius: 0;
    border-color: none;
    border: none;
    /* display: none; */
    z-index: 99999;
    padding: 0;
} 
/* .drop-menu-2{
    background: RGBA(255,255,255,0.9);
} 
.drop-menu-3{
    background: RGBA(255,255,255,0.9);
}
.drop-menu-4{
    background: RGBA(255,255,255,1); */
/* } */
.dropdown-menu img{
    width: 100%;
    height: 100%;
}
.drop-row{
    margin: 0 !important;
    display: flex;
}
.dropdown-left{
    width: 41%;
}
.dropdown-right{
    /* background: RGBA(255,255,255,0.8); */
    padding-left: 9px;
    min-height: 300px;
    width: 100%;
}
.drop-right-text{
    min-height: 200px;
}
.dropdown-menu-active{
    display: block;
}
.dropdown-mobile{
    display: none;
}
.dropdown-mobile ul{
    background-color: #fff;
}
.dropdown-mobile li{
    list-style-type: none;
}
.dropdown-menu a{
    display: block;
    margin-bottom: .5rem;
    color: #dba764;
}
.hover_box_btn:hover{
    color: #fff !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition: all .5s ease;
}
.active {
    color: #dba764 !important
}

/* .active-link {
    padding: 30px 30px 34px;
    color: #dba764 !important;
}
.active-link:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dba764;
    bottom: 27px;
    left: 0;
    transform: scale(1);
} */

.nav__lg {
    color: #2d3135;
    font-size: 20px;
    font-family: 'BebasNeueBold', sans-serif;
}

@media (max-width: 1200px) {
    .nav_container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto
    }
}

@media (max-width: 1053px) {
    .nav-link {
        padding-left: 5px !important;
        padding-right: 5px !important
    }
}

@media (max-width: 991px) {
    .nav-link {
        margin: 0 auto;
        padding: 30px 20px;
    }
}

@media (max-width: 440px) {
    .nav_container{
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 99999;
    }
    .nav_container {
        padding: 0
    }

    .logo_content {
        font-size: 12px
    }
    .navbar{
        padding: .5rem;
    }
    .header_logo {
        height: 50px
    }
}

@media (max-width: 991px) {
    .top {
        margin-top: 0 !important
    }
}

.nav-link:hover {
    color: #dba764 !important
}

.nav__lg:hover {
    cursor: pointer;
    color: #dba764 !important
}

* {
    margin: 0;
    padding: 0
}

body {
    overflow-x: hidden;
    text-align: center;
}

.header__title_text {
    font-size: 65px;
    font-family: 'BebasNeueBold', sans-serif
}

.header__subtitle {
    width: 100%;
    padding: 2px;
    color: #000;
    text-align: center;
    max-width: 700px;
    background: #dba764;
    font-family: 'BebasNeueBold', sans-serif;
}

.header_zone {
    background-image: url(../img/header-bg.jpg);
    background-size: cover
}

.header_text {
    text-transform: uppercase;
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 65px;
    color: #fff;
    padding-top: 360px;
    padding-bottom: 300px
}

.header-fs {
    font-size: 65px;
}

.header_text span {
    background-color: #dba764;
    color: #2d3135
}

.header_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.mission, .seeing, .target {
    text-align: center
}

.mission p, .target p {
    color: #2d3135;
}

.target-title{
    font-family: 'BebasNeueBold',sans-serif;
    font-size: 50px;
    color: #2d3135;
    /* margin: 0; */
    height: fit-content;
    position: relative;
}
.seeing-title img{
    margin-bottom: 3rem;
}
.target-center{
    margin:0 4rem 6rem;
}
.fix-img-active{
    transform: scale(1) !important;
    opacity: 1 !important;
    transition: all .5s ease;
}
.target-active::after{
    content: '';
    position: absolute;
    width: 42%;
    height: 4px;
    background-color: #dba764;
    bottom: -1rem;
    left: 29%;
}

.mission-title{
    font-family: 'BebasNeueBold',sans-serif;
    font-size: 50px;
    color: #2d3135;
}

.seeing-inner p {
    line-height: 0.9;
    margin-left: 15px;
    font-family: 'AvenirNextCyr-Regular',sans-serif;
    font-size: 18px;
    color: #2d3135;
}

/* .mission img, .seeing-inner img, .target img {
    opacity: .47;
    width: 222px;
    height: 222px;
} */

.mission img:hover, .seeing-inner img:hover, .seeing-inner:hover, .target img:hover {
    opacity: 1;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

.seeing-inner img:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.seeing-title {
    display: flex;
    align-items: center;
}
/* .seeing-title .target-title{
    margin: 0 1rem;
} */
.target-active{
    color: #dba764;
}
.seeing-title span {
    width: 60px;
    height: 4px;
    background-color: #dba764;
    display: block
}

.seeing-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 500px;
    background-color: #fff
}

.seeing-inner p {
    text-align: center;
    margin-right: 20px
}

.seeing {
    position: relative
}

/* .dots-left, .dots-right {
    position: absolute
}

.dots-left {
    top: 35px;
    left: -70px
}

.dots-right {
    top: 35px;
    right: -70px
} */

.s1 {
    background-image: url(../img/main-bg-2.jpg);
    background-size: 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.s1-inner {
    padding: 190px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.s1-left h3 {
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 45px;
    color: #2d3135;
    margin: 0;
    /*font-weight: 800*/
}

.s1-left span {
    width: 60px;
    height: 4px;
    background-color: #dba764;
    display: block;
    cursor: pointer;
    margin: .5rem auto 0;
}
.s1-left span:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

}

.s1-left p {
    padding-left: 0;
    font-family: 'AvenirNextCyr-Regular', sans-serif;
    font-size: 19px;
    color: #2d3135;
    max-width: 350px;
    margin: 0 auto;
}

.s1-left-arrow {
    width: 65px !important;
    height: 65px !important;
    background-color: #dba764;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin: .5rem auto 0;
    transition: all .5s ease;
}
.s1-left-arrow:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

}
.s1-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 430px;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 290px
}

.romb-rot {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 390px
}

/* .fix-img {
    opacity: .6;
    transform: scale(.6);
} */

.romb1 {
    background-color: #fff;
    color: #000
}

.line {
    margin-top: 10px
}

.steps {
    margin-top: -23px
}
.steps img{
    width: auto;
}

.s1-left {
    margin-top: -40px
}

.romb {
    background-color: #fff;
    width: 190px;
    height: 190px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 2px solid #dba764;
}

.romb span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-align: center;
    font-size: 15px;
    font-family: 'AvenirNextCyr-Bold', sans-serif;
    text-transform: uppercase
}

.romb3 {
    background-color: unset;
    border: 10px solid #fff
}
.section-dropdown{
    position: relative;
    min-height: 600px;
    overflow: hidden;
    transition: all 1s ease;
    padding-top: 120px;
}
.s2 {
    height: 100%;
    font-family: 'AvenirNextCyr-Bold', sans-serif;
    position: absolute;
    background-color: #fff;
    top: 0;
    transform: translateY(140%);
    opacity: 0;
    transition: all 1s ease;
}
.s2-active{
    transform: translateY(0) !important;
    opacity: 1 !important;
}


.s2-inner {
    padding-top: 80px
}

.s2-inner h3 {
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 50px;
    color: #2d3135;
    /*font-weight: 800;*/
    padding-bottom: 80px
}

.s2-inner .line {
    width: 60px;
    height: 4px;
    background-color: #dba764;
    display: block;
    margin: 0 auto;
}

.s4 {
    max-width: 100% !important;
    height: 100%;
    font-family: 'AvenirNextCyr-Bold', sans-serif;
    position: absolute;
    background-color: #fff;
    top: 0;
    transform: translateY(120%);
    transition: all 1s ease;
}
.s4-active{
    transform: translateY(0);
}


.first-years {
    margin-left: 40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.y-text {
    font-family: "AvenirNextCyr-Regular", sans-serif;
    font-size: 14px;
    margin-top: -13px;
}

.bold-num {
    font-family: "Avenir Next Cyr Bold", sans-serif;
    font-size: 25px
}

.mr {
    margin-right: 15px
}

.year13 {
    max-width: 225px;
    width: 100%
}
.year12{
    margin-left: -23px;
}
.year14 {
    margin-left: 170px
}

.year15 {
    max-width: 210px;
    width: 100%;
    margin-left: 50px
}

.year16 {
    max-width: 128px;
    width: 100%;
    margin-left: 136px
}

.year17 {
    max-width: 215px;
    width: 100%;
    margin-left: 58px
}

.year18 {
    max-width: 135px;
    width: 100%;
    margin-left: 145px
}

.year19 {
    max-width: 145px;
    width: 100%;
    margin-left: 90px
}

.second-part-y {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.steps {
    max-width: 1140px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 5px;
}

.circle {
    border: 5px solid #dba764;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block
}

.d-y_adaptiv{
    display: none;
}

.s3 {
    background-image: url(../img/section-3.jpg);
    /*background-size: 100%;*/
    /*background-position: 100% 0;*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}



.s3-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.romb-rot2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 400px;
    width: 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.s3-right {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}
.s3-right p{
    padding-left: 0;
    font-family: 'AvenirNextCyr-Regular', sans-serif;
    font-size: 19px;
    color: #2d3135;
    max-width: 350px;
    margin: 0 auto;
}

.s3-right h3 {
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 45px;
    /*font-weight: 700;*/
    color: #2d3135;
    margin:0;
}

.s3-right .line {
    width: 60px;
    height: 4px;
    background-color: #dba764;
    display: block;
    cursor: pointer;
    margin: 0 auto;
}

.s3-right p {
    font-size: 19px;
    color: #2d3135;
    font-family: "AvenirNextCyr-Regular", sans-serif;
    margin-bottom: 0;
}

/* .s3-down-btn {
    position: absolute;
    right: 0;
    bottom: -90px
} */

.s4-inner {
    padding: 130px 0;
    position: relative
}

.s4-inner h3 {
    font-size: 50px;
    font-family: "BebasNeueBold", sans-serif;
    color: #2d3135;
    /*font-weight: 700;*/
}

.s4-inner .line {
   width: 60px;
    height: 4px;
    background-color: #dba764;
    display: block;
    margin: 0 auto;
}
.s5{
    padding-top: 2rem;
}
.blockofbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: center;
    padding-bottom: 40px
}

.box {
    max-width: 260px;
    width: 100%;
    padding: 20px 15px;
    background-color: #f7f7f7;
    text-align: center
}

.f20 {
    color: #dba764;
    font-size: 19px;
    text-transform: uppercase;
    font-family: "AvenirNextCyr-Bold", sans-serif
}

.fix-font {
    font-family: 'AvenirNextCyr-Bold', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

body {
    line-height: 1.2
}

.f14 {
    color: #2d3135;
    font-size: 14px;
    font-family: "AvenirNextCyr-Regular", sans-serif
}

.m10 {
    margin: 0 0 0 20px
}

.first-line, .second-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.second-line{
    padding-left: 10px;
}

.s5-inner {
    padding-bottom: 95px
}

.s5-inner h3 {
    text-align: center;
    color: #2d3135;
    font-size: 50px;
    /*font-weight: 700;*/
    font-family: "BebasNeueBold", sans-serif
}

.s5-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.s5-boxes {
    max-width: 275px;
    width: 100%;
    height: 350px;
    position: relative;
    background-color: #f5f5f5
}

.s5-boxes img {
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 274px;
    width: 100%;
    height: 200px;
    border-left: 5px solid #d9a158
}

.s5-boxes span {
    font-size: 16px;
    /*font-family: "AvenirNextCyr-Regular", sans-serif;*/
    width: 60%;
    color: #fff;
    background-color: #d9a158;
    padding: 5px 10px;
    position: absolute;
    z-index: 9;
    display: block;
    top: 171px;
    font-weight: lighter;
}

.s5-boxes p {
    font-size: 17px;
    font-family: "AvenirNextCyr-Bold", sans-serif;
    color: #2d3135;
    padding: 15px 13px 0;
    margin-bottom: unset;
    text-align: left;
}

.romb3 {
    cursor: pointer;
    color: #fff;
    background: #dba764
}

.fs18 {
    font-size: 18px;
}

.fs18-fix {
    font-size: 14px;
    font-family: "AvenirNextCyr-Regular", sans-serif;
    padding: 15px;
    text-align: left;
}

.first-line2, .second-line2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%
}

.color-orange {
    color: #d9a158 !important;
    background-color: unset !important;
    padding: unset !important;
    position: unset !important;
    display: unset !important;
    font-size: 26px!important;
    font-family: "AvenirNextCyr-Regular", sans-serif;
}

.mr10 {
    margin-right: 12px
}

@media (max-width: 1500px) {
    .header_text {
        padding-top: 170px;
        padding-bottom: 300px
    }

    .s1, .s3 {
        background-size: cover;
        /*background-image: unset;*/
        /*background-color: #f6f6f6*/
    }

    .romb {
        width: 150px;
        height: 150px
    }

    .romb-rot {
        height: 222px
    }
}

@media (max-width: 848px){
    .s1 {
        background-position: center ;
        background-position-x: 73%;
    }
}

@media (max-width: 781px) {
    .header__title_text {
        font-size: 35px
    }

    .header__subtitle {
        max-width: 70%;
        font-size: 35px
    }
}

@media (max-width: 560px) {
    .header__title_text {
        text-align: center;
        font-size: 35px
    }

    .header__subtitle {
        text-align: center;
        max-width: 100%;
        font-size: 35px
    }
}

@media (max-width: 1200px) {
    .header_text {
        padding: 180px 0
    }

    .header-fs {
        font-size: 50px;
    }

    .dots-right {
        right: 0
    }

    .dots-left {
        left: 0
    }

    .steps {
        display: none
    }

    .first-years {
        margin: 0
    }

    .s4-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .blockofbox {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .first-line {
        padding-bottom: 15px
    }

    .box {
        max-width: 260px;
        height: 225px
    }

    .s4-inner .line {
        position: unset
    }

    .s5-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .s5-boxes {
        margin: 10px
    }

    .first-line2, .second-line2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.s6-inner {
    padding: 80px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.s6-inner h5 {
    font-family: "BebasNeueBold", sans-serif;
    font-size: 25px;
    color: #2d3135;
}

.s6-inner p {
    font-family: "AvenirNextCyr-Regular", sans-serif;
    font-size: 16px;
    color: #2d3135;
    font-weight: 700
}

.beb {
    font-family: "BebasNeueBold", sans-serif !important;
    font-size: 14px !important;
    color: #2d3135 !important;
    padding: 0 10px
}

.s6-blocks {
    width: 25%
}

.nat-tit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (max-width: 1080px) {
    .romb-rot2 {
        padding-left: 50px
    }
}

@media only screen and (min-width: 100px) and (max-width: 993px) {
    .navbar{
        height: auto !important;   
    }
    .top__title{
        text-align: center !important;
    }
    .dropdown-menu{
        display: none !important;
    }
    .dropdown-mobile{
        display: block;
    }
    .s1-right{
        padding-top: 0;
    }
    .header_block {
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .header_text {
        padding: 125px 0
    }

    .seeing-inner, .target {
        margin-bottom: 70px
    }

    .seeing {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .s1 {
        height: 885px
    }

    .s1-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .s1-right {
        padding-top: 100px;
        margin: 0 auto;
        max-width: 350px
    }

    .s1-left {
        max-width: 350px
    }

    .romb-rot {
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset
    }

    .romb span {
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset
    }

    .year {
        margin: 0
    }

    .first-years, .second-part-y {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .s2 {
        height: 810px
    }

    .s3-inner {
        padding-top: 0
    }

    .romb-rot2 {
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        padding-left: 0;
        max-width: 320px;
        width: 100%;
        padding-bottom: 40px
    }

    .romb span {
        font-size: 12px
    }

    .s3 {
        height: auto
    }

    .s3-inner {
        padding-top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto
    }

    .to-top {
        right: unset
    }

    .s4-inner {
        padding: 50px 0
    }

    .s6-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .s6-blocks {
        margin: 20px 0;
        width: unset
    }
}

@media (max-width: 992px) {
    .first-years, .second-part-y {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .year {
        width: 100%
    }

    .d-y {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .to-top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
}

@media (max-width: 576px) {
    #header{
        padding: 0 !important;
    }
    .revealator-zoomin{
        transform: unset !important;
        opacity: 1 !important;
    }
    .revealator-slideup{
        transform: unset !important;
        opacity: 1 !important;
    }
    .revealator-rotateleft{
        transform: unset !important;
        opacity: 1 !important;
    }
    .romb-rot{
        transform: unset;
        display: flex;
        justify-content: center;
    }
    .s3-inner {
        padding-top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto
    }
    .romb-rot2 {
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        padding-left: 0;
        max-width: 320px;
        width: 100%;
        padding-bottom: 40px
    }
    .s1-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .header_block {
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .preview_div{
        padding-top: 140px !important;
    }
    .s1-inner {
        padding: 90px 0;
    }

    .s1-right {
        padding-top: 120px
    }
    .s5-boxes p{
        padding: 36px 13px 0;
    }
    .dropdown-mobile li{
        font-size: 14px !important;
    }
    .top__subtitle_description{
        margin: 25px 0 15px 0;
    }
    .first_slide {
        margin-top: 15px;
    }
    .general_box_left img{
        width: 50px;
        height: 50px;
    }
    .infrastructure{
        padding-bottom: 50px;
    }
    .finish{
        padding-top: 50px;
    }
    .header_container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .top{
        background-size: cover;
        background-repeat: no-repeat;
    }
    .top__title{
        padding: 60px 0 !important;
    }
    .about-collapse{
        display: none; 
    }
    .about-collapse-active{
        display: block !important;
    }

}

@media (max-width: 600px) {
    .dots-left, .dots-right {
        display: none
    }

    .header-fs {
        font-size: 32px
    }

    .mission-title, .seeing-title, .target-title {
        font-size: 28px !important
    }

    .header_text {
        padding: 100px 0
    }
}

@media (max-width: 555px) {
    .s2-inner h3 {
        font-size: 40px
    }

    .first-line, .second-line {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .box {
        margin: 10px !important
    }

    .first-line {
        padding-bottom: 0
    }

    .first-line2, .second-line2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

@media (max-width: 480px) {
    .seeing-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 213px
    }

    .seeing-inner p {
        margin: 0;
        padding: 10px
    }

    .header_text {
        padding: 50px 0
    }

    .d-y {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .first-years, .second-part-y {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .year {
        width: 100%;
        padding: 10px;
        max-width: 320px !important
    }
    .s3{
        background-position: 25% 0%;
    }
    .s2-inner h3{
        padding-bottom: 35px;
    }
}

@media (max-width: 460px) {
    .s3-right {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center
    }

    .s3-right .line {
        right: unset
    }

    .romb-rot2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .romb-rot2 .romb3 {
        display: none
    }

    .s3 {
        height: auto
    }

    .s3-inner {
        height: auto
    }
    .bg-banner{
        display: none;
    }
    /* .romb-rot2 .romb {
        max-width: 300px;
        height: 150px;
        width: 100%;
        margin-right: 0
    } */

    .romb-rot2 {
        max-width: unset
    }
}

@media (max-width: 768px) {
    .s3-down-btn{
        bottom: 0;
    }
    .s2{
        height: 70%;
    }
    .navbar-nav .dropdown-menu{
        display: block;
        border: none;
    }
    .end_row .end_col_btn{
        margin: 1rem 0;
    }   
    .footer__col > div{
        margin: .8rem 0;
    }
    .fs18-fix{
        margin-top: 5px;
    }
    .s5-inner{
        padding-top: 2rem;
    }
    .s1 {
        height: auto
    }
    .s1-left{
        margin-top: 1rem !important;
    }

    .romb {
        width: 110px;
        height: 110px;
        margin: 27px;
        transform: rotate(45deg)!important;
    }

    .s1-right {
        height: auto !important;
        padding-top: 40px
    }
    .romb-rot{
        height: auto;
    }
    .romb3 {
        display: none
    }

    .s5-inner h3 {
        font-size: 40px
    }
    .romb{
        transform: rotate(45deg45deg) !important;
    }
    .romb span{
        transform: rotate(-45deg);
    }
    .romb-rot2{
        padding: 4rem 0;
    }
    .d-y .d-y_adaptiv, .first-years-adaptiv{
        display: flex;
        flex-direction: column;
    }
    .d-y .first-years{
        display: none;
    }
    .d-y .second-part-y{
        display: none;
    }
    .second-line{
        padding-left: 0px;
    }
}

.header_zone {
    margin-top: -19px
}

@media (max-width: 991px) {
    .header_zone {
        margin: 0 auto
    }
}

@media (max-width: 488px) {
    .s5-boxes span {
        top: 170px;
        font-size: 24px;
    }
}

a {
    color: inherit !important;
    text-decoration: none !important
}

a:hover {
    color: inherit !important;
    text-decoration: none !important
}
.footer .row{
    /* align-items: center; */
    justify-content: space-between;
}

.footer_line {
    margin-top: 70px
}

.footer {
    padding-top: 20px
}

.footer__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
}

.footer__logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.footer__logo img {
    height: 60px;
    max-width: 100px
}

.footer__logo_text {
    font-size: 13px;
    font-family: 'BebasNeueBold', sans-serif
}

.footer__number {
    color: #d9a158;
    font-size: 23px;
    font-family: 'BebasNeueBold', sans-serif
}

.footer__email {
    font-family: 'AvenirNextCyr-Regular', sans-serif;
    color: #2d3135;
    font-size: 16px
}

.footer__col_title {
    color: #2d3135;
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 25px;
    text-align: left;
}

.footer__col_list {
    color: #2d3135;
    font-family: 'AvenirNextCyr-Regular', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
}

.footer__col_list>a:hover{
    color: #dba764!important;
}

.footer_line_bottom {
    margin-top: 40px
}

.end_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.end_row {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.end_col {
    text-align: center;
    font-size: 14px;
    color: #2d3135;
    min-width: 162px;
    font-family: 'AvenirNextCyr-Regular', sans-serif
}

.end_col_btn {
    color: white;
    -webkit-box-pack: center;
    min-width: 170px;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirNextCyr-Bold", sans-serif;
    text-decoration: none;
    background: #d9a158;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    max-width: 120px;
    transition: all .5s ease;
}

.col-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

@media (max-width: 991px) {
    .footer__col_title {
        font-size: 20px
    }

    .footer__number {
        font-size: 22px
    }
}

@media (max-width: 767px) {
    .footer__logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: left
    }

    .footer__number {
        text-align: left;
        font-size: 15px
    }

    .footer__email {
        font-size: 9px;
        text-align: left
    }

    .footer__col_title {
        font-size: 15px;
        margin-top: 0
    }

    .footer__col_list {
        font-size: 14px
    }
}

@media (max-width: 575px) {
    .footer__logo {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        max-width: 300px;
        margin: 0 auto
    }

    .footer__col {
        max-width: 300px;
        margin: 0 auto;
        text-align: center
    }

    .footer__number {
        text-align: center;
        font-size: 25px
    }

    .footer__email {
        text-align: center;
        font-size: 25px
    }

    .footer__col_title {
        font-size: 25px;
        text-align: center;
    }

    .footer__col {
        margin-top: 10px
    }

    .footer__col_list {
        margin-top: 5px;
        font-size: 18px;
        text-align: center;
    }

    .end_row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .end_col {
        max-width: 300px;
        margin: 0 auto;
        text-align: center !important;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center
    }
}

.end_col_btn:hover {
    color: #000;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    cursor: pointer;
    text-decoration: none !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

@media (max-width: 767px) {
    .header-fs {
        text-align: center;
        padding: 5px
    }
}

@media (max-width: 685px) {
    header {
        background-position: center;
        background-size: cover;
        padding-bottom: 200px
    }
}

.preview_div {
    padding-top: 100px;
    margin-bottom: 100px
}
.preview-btn{
    display: flex;
    justify-content: space-between;
    padding: 0 4.5rem;
    height: 100px;
    /* margin-bottom: 1rem; */
}
.preview_cont {
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(#f8f8f8, rgba(255, 255, 255, 0));
    background: linear-gradient(#f8f8f8, rgba(255, 255, 255, 0))
}

header {
    padding-bottom: 50px
}

@media (max-width: 684px) {
    .header_text {
        padding-top: 150px;
        padding-bottom: 150px !important
    }

    header {
        padding: 0 !important
    }

    .preview_cont {
        margin-top: -120px;
        background: 0 0
    }
}

@media (max-width: 480px) {
    header {
        padding-top: 40px !important;
        padding-bottom: 80px !important
    }
}

/* @media (max-width: 1294px) {
    .romb-rot2 {
        margin-left: 20px
    }
} */

/* @media (max-width: 992px) {
    .romb-rot2 {
        margin: 0 auto
    }
} */

.col-img:hover {
    opacity: .8;
    cursor: pointer
}

@media (max-width: 991px) {
    .nav__lang {
        padding-top: 10px
    }
}

@media (max-width: 1199px) {
    .footer__number {
        font-size: 32px
    }
}

@media (max-width: 991px) {
    .footer__number {
        font-size: 25px
    }
}

@media (max-width: 767px) {
    .footer__number {
        font-size: 17px
    }
}

@media (max-width: 575px) {
    .footer__number {
        font-size: 25px
    }
}

@media (max-width: 1102px) {
    .seeing-inner{
        width: 450px;
    }
    .preview_div img{
        width: 200px;
    }
    .s4-inner{
        padding: 55px 0;
    }
    .nav-link {
        font-size: 13px !important
    }
}

@media (max-width: 991px) {
    .nav-link {
        font-size: 16px !important
    }
    
}

.hover_box_el {
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 48px
}
.hover_box_btn{
    color: #fff !important;
}

@media (max-width: 913px) {
    .hover_box_el {
        font-size: 30px
    }
}

@media (max-width: 742px) {
    .hover_box_el {
        font-size: 25px;
        text-align: center
    }

    .hover_box_list {
        text-align: center
    }

    .hover_box_btn {
        text-align: center;
        margin: 0 auto;
        transition: all .5s ease;
    }

    .hover_block {
        align-items: center !important;
        justify-content: center;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 100% !important;
        margin-top: 17% !important;
        height: 75%
    }

    .hover-fix {
        margin-top: -270px
    }
}

@media (max-width: 476px) {
    .hover_block {
        max-width: 100%;
        width: 100% !important;
        margin-top: 190px !important;
        height: 75%
    }
    .nav-link:hover:after{
        display: none;
    }
}

.hover_box_btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirNextCyr-Regular", sans-serif;
    color: #f5f5f5;
    text-decoration: none;
    background: #d9a158;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    max-width: 120px
}

.hover_box {
    margin: 10px
}

.hover_block {
    float: right;
    background: rgba(255, 255, 255, .4);
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.hover_box_btn {
    cursor: pointer;
    color: #fff !important;
    text-decoration: none !important
}

.hover_box_list {
    margin-top: 5px;
    font-family: 'AvenirNextCyr-Regular', sans-serif
}
.hover_box_list a{
    padding: 5px;
    width: fit-content;
}
.top {
    position: relative
}

.test:hover .hover_block {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    opacity: 1
}



@media (max-width: 728px) {
    .hover_box_el {
        font-size: 35px
    }
}

@media (max-width: 580px) {
    .hover_block {
        float: none;
        width: 100%
    }
}

@media (max-width: 542px) {
    .hover_block {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .hover_box_btn {
        margin: 0 auto
    }

    .hover_box_list {
        text-align: center
    }
}

.target-title:hover {
    color: #dba764;
    cursor: pointer
}

.mission-title:hover {
    color: #dba764;
    cursor: pointer
}

.seeing-title:hover {
    color: #dba764;
    cursor: pointer
}

.nav_container {
    min-height: 71px !important
}

/* .nav-link:hover {
    border-bottom: 2px solid #dba764
} */

.hover_box_el {
    font-family: 'BebasNeueBold', sans-serif;
    /*font-weight: 500;*/
    transition: .5s;
    font-size: 48px;
    padding-top: 25px;
}

.hover_box_btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirNextCyr-Bold", sans-serif;
    /*font-weight: 700;*/
    color: #f5f5f5;
    text-decoration: none;
    background: #d9a158;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    max-width: 120px;
    padding-bottom: 16px;
}

.hover_box {
    margin: 10px
}

.hover_block {
    float: right;
    background: rgba(255, 255, 255, .4);
    z-index: 9999;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.hover_box_btn {
    cursor: pointer;
    color: #fff !important;
    text-decoration: none !important
}

.hover_box_list {
    margin-top: 5px;
    font-family: 'AvenirNextCyr-Regular', sans-serif;
    position: relative;
}

.hover_box_list>a:hover{
    background-color:rgba(217, 217, 217, 1);
    font-weight: bold;
}
/* .hover_box_list>a:hover:after{
    width: 100%;
    height: 2px;
    background-color: #dba764;
    bottom: 27px;
    transform: scale(1);
}
.hover_box_list>a:after{
    content: '';
    position: absolute;
    transition: all .3s ease;
} */
.top-index {
    position: relative
}

.hover_block {
    height: 100%
}

.test:hover .hover_block {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    opacity: 1
}



@media (max-width: 728px) {
    .hover_box_el {
        font-size: 35px
    }
}

@media (max-width: 580px) {
    .hover_block {
        float: none;
        width: 100%
    }
}

@media (max-width: 542px) {
    .hover_block {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .hover_box_btn {
        margin: 0 auto
    }

    .hover_box_list {
        text-align: center
    }
}

@media (max-width: 991px) {
    #hover_id {
        display: none
    }


}

.top-index {
    min-height: 600px;
    margin-top: 1px;
    background-image: url(../img/bg_main.png);
    background-color: rgba(0, 0, 0, .3);
    background-size: cover;
}

.top__title {
    padding-top: 155px;
    padding-bottom: 185px;
    max-width: 1065px;
    margin: 0 auto;
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 65px;
    color: #fff;
    text-align: left;
    /*font-weight: 700;*/
    text-shadow: 1px 3px 2px rgba(0, 0, 0, .3)
}

.span-fix-1 {
    width: 100%;
    text-align: center;
}

.span-fix {
    width: 100%;
    font-family: 'BebasNeueBold',sans-serif;
    text-align: center;
    max-width: 710px;
    background: #dba764;
    color: #2d3135;
}

@media (max-width: 725px) {
    .span-fix-1 {
        text-align: center;
        margin: 0 auto
    }

    .span-fix {
        margin: 0 auto;
        max-width: 80%;
        font-size: 45px
    }
}

@media (max-width: 612px) {
    .span-fix-1 {
        text-align: center;
        margin: 0 auto
    }

    .span-fix {
        margin: 0 auto;
        max-width: 100%;
        font-size: 45px;
        padding: 3px
    }
}

@media (max-width: 550px) {
    .top {
        background-position: left center
    }
}

.target {
    z-index: 99;
    position: relative;
}
.nav-dropdown{
    transition: all .5s ease;
}
/* /* .nav-dropdown:hover .dropdown-menu{
    display: block !important;
} */

/* .cel-2:focus .seeing-inner{
    transform: rotate(360deg);
} */

.animateBlock{
    transform: rotate(360deg);
    transition: all 1s ease;
}
.modal-header p{
    margin-bottom: 0;
}
.modal-body a:hover{
    text-decoration: underline !important;
}
.modal-logo img{
    width: 70px;
}
.modal-logo p{
    font-family: auto !important;
    font-size: 19px;
}
.modal p{
    margin-bottom: .5rem;
}
.mod-footer{
    position: relative;
}
.mod-line{
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #d9a158;
    right: -47px;
    bottom: 5px;
}
.mod-footer span{
    color: #d9a158;
}
.link-nic{
    color: #d9a158 !important;
}
.preview-block{
    display: flex;
    align-items: center;
    position: relative;
}
.preview-block img{
    opacity: .47;
    width: 222px;
    height: 222px;
    z-index: 11;
    transform: scale(.8);
}
.preview-text{
    font-size: 15px !important;
    height: 100%;
    height: 222px;
    max-width: 315px;
    padding: 50px 0px 1rem;
    transform: translateX(-100%);
    transition: all .3s ease;
    /* position: absolute; */
    background: #fff;
    opacity: 0;
    z-index: -1;
    /* display: none; */
    font-family: 'AvenirNextCyr-Regular',sans-serif;
}

.preview-text p{
    font-size: 18px;
    display: none;
}
.preview-text-active{
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
    padding: 50px 10px 1rem;
    /* display: block !important; */
    width: 100%;
}
.preview-text-active p{
    display: block !important;
}

.submenu{
    display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* background-color: RGBA(255,255,255,0.9); */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 28px;
  padding-top: .5rem;
}
.submenu-list{
    display: flex;
}
.submenu-list ul {
    padding: 0;
}
.submenu ul li{
    list-style-type: none;
}
.submenu ul li a{
    font-size: 15px;
    margin-bottom: 0;
}
.submenu ul li a:hover{
    background-color: rgba(217, 217, 217, 1);;
    font-weight: bold;
}

.sub-active:hover .submenu{
    display: block !important;
}

@media only screen and (min-width: 1024px) and (max-width: 1400px){
    .dropdown-menu{
        width: 58.5%;
        left: 41.5%;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1650px){
    .dropdown-menu{
        width: 57.5%;
        left: 42.5%;
    }
}
@media only screen and (min-width: 1650px) and (max-width: 1700px){
    .dropdown-menu{
        width: 56.5%;
        left: 43.5%;
    }
}
@media only screen and (min-width: 1700px) and (max-width: 2000px){
    .dropdown-menu{
        width: 56.5%;
        left: 43.5%;
    }
}
@media only screen and (min-width: 2000px) and (max-width: 2450px){
    .dropdown-menu{
        width: 56.5%;
        left: 44.5%;
    }
}
@media only screen and (min-width: 2450px) and (max-width: 2800px){
    .dropdown-menu{
        width: 54.5%;
        left: 45.5%;
    }
}
.swal2-confirm{
    background-color: #dba764 !important;
}
.tagline-top{
    margin-top: -30px;
}