@font-face {
    font-family: "BebasNeueBold";
    src: url(../fonts/ofontruBebasNeue.woff) format("woff"),
    url(../fonts/ofontruBebasNeue.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AvenirNextCyr-Bold";
    src: url(../fonts/AvenirNextCyr-Bold.woff) format("woff"),
    url(../fonts/AvenirNextCyr-Bold.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextCyr-Regular";
    src: url(../fonts/AvenirNextCyr-Regular.woff) format("woff"),
    url(../fonts/AvenirNextCyr-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0
}

.header_logo {
    -o-object-fit: cover;
    object-fit: cover;
    height: 70px;
    padding-top: 3px;
}

.logo_content {
    color: #2d3135;
    font-size: 14px;
    padding-top: 5px;
    margin-right: 100px;
    font-family: 'BebasNeueBold', sans-serif
}

@media (max-width: 1095px) {
    .logo_content {
        margin-right: 50px
    }
}

@media (max-width: 454px) {
    .logo_content {
        margin: 0 auto
    }
}

.navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.navbar_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.nav__lang {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

/* .active {
    color: #dba764 !important
}

.active-link {
    padding: 30px;
    border-bottom: 2px solid #dba764;
    color: #dba764 !important
} */

.nav__lg {
    color: #2d3135;
    font-size: 20px;
    font-family: 'BebasNeueBold', sans-serif;
}

@media (max-width: 1200px) {
    .nav_container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto
    }
}

@media (max-width: 1053px) {
    .nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important
    }
}

@media (max-width: 991px) {
    .nav-link {
        margin: 0 auto;
        padding: 20px
    }
}

@media (max-width: 440px) {
    .nav_container {
        padding: 0
    }

    .logo_content {
        font-size: 14px
    }

    .header_logo {
        height: 72px
    }
}

@media (max-width: 991px) {
    .top {
        margin-top: 0 !important
    }
}

.nav-link:hover {
    color: #dba764 !important
}

.inf-cent {
    margin-top: -19px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../img/inf_centr.jpg);
    background-size: cover
}

@media (max-width: 991px) {
    .inf-cent {
        margin-top: 0
    }
}

.inf-cent__title {
    color: #fff;
    font-size: 65px;
    text-align: center;
    font-family: "BebasNeueBold", sans-serif
}

@media (max-width: 498px) {
    .inf-cent__title {
        font-size: 45px
    }
}

.inf-cent_row {
    font-family: "BebasNeueBold", sans-serif;
    font-size: 50px;
    /*font-weight: 700;*/
    padding-top: 90px
}

.inf-cent__subtitle-descr {
    font-family: "AvenirNextCyr-Regular", sans-serif;
    /*font-weight: 400;*/
    font-size: 20px;
    color: #2d3135
}

.bottom__box {
    width: 100%;
    max-width: 570px;
    border: 3px solid #f5f5f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px;
    min-height: 300px
}

.bottom__subtitle {
    min-height: 100px
}

.bottom__desc {
    min-height: 100px
}

.bottom__col img {
    width: 100%;
    max-width: 570px;
    -o-object-fit: cover;
    object-fit: cover
}

.bottom__img-block {
    position: relative
}

.bottom__date {
    font-family: "AvenirNextCyr-Regular", sans-serif;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    color: #f5f5f5;
    width: 100%;
    max-width: 170px;
    position: absolute;
    bottom: 0;
    background-color: #d9a158
}

.bottom__subtitle {
    font-size: 20px;
    font-family: "AvenirNextCyr-Bold", sans-serif
}

.bottom__desc {
    font-size: 14px;
    font-family: "AvenirNextCyr-Regular", sans-serif
}

.bottom__button:hover {
    background: #dba764;
    color: #fff;
    transition: .4s;
    cursor: pointer
}

.bottom__button {
    color: #dba764;
    margin-top: 20px;
    border: 2px solid #dba764;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: "AvenirNextCyr-Bold", sans-serif;
    /*font-weight: bolder;*/
    text-align: center;
    max-width: 180px
}

.bottom {
    padding-top: 70px;
    padding-bottom: 80px
}

@media (max-width: 991px) {
    .bottom__row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .bottom__subtitle {
        min-height: auto
    }

    .bottom__desc {
        min-height: auto
    }

    .bottom__col {
        max-width: 100% !important;
        width: 100% !important
    }
}

.bottom__col {
    width: 100%;
    max-width: 550px;
    margin: 10px
}

@media (max-width: 1199px) {
    .bottom__row {
        -ms-flex-wrap: unset !important;
        flex-wrap: unset !important
    }
}

@media (max-width: 991px) {
    .bottom__box {
        margin: 0 auto !important
    }

    .bottom__col {
        text-align: center !important
    }

    .bottom__date {
        left: 75px
    }

    .bottom__subtitle {
        text-align: left
    }

    .bottom__desc {
        padding-top: 10px;
        text-align: left
    }
}

@media (max-width: 767px) {
    .bottom__date {
        left: 0
    }
}

@media (max-width: 575px) {
    .bottom__col {
        padding: 15px;
        margin: 20px !important
    }
}

.footer_line {
    margin-top: 70px
}

.footer {
    padding-top: 20px
}

.footer__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.footer__logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.footer__logo img {
    height: 60px;
    max-width: 100px
}

.footer__logo_text {
    font-size: 14px;
    font-family: 'BebasNeueBold', sans-serif
}

.footer__number {
    color: #d9a158;
    font-size: 40px;
    font-family: 'BebasNeueBold', sans-serif
}

.footer__email {
    font-family: 'AvenirNextCyr-Regular', sans-serif;
    color: #2d3135;
    font-size: 16px
}

.footer__col_title {
    margin-top: -8px;
    color: #2d3135;
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 25px
}

.footer__col_list {
    color: #2d3135;
    font-family: 'AvenirNextCyr-Regular', sans-serif;
    font-size: 16px;
    margin-top: 10px
}

.footer_line_bottom {
    margin-top: 40px
}

.end_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.end_row {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.end_col {
    text-align: center;
    font-size: 14px;
    color: #2d3135;
    min-width: 162px;
    font-family: 'AvenirNextCyr-Regular', sans-serif
}

.end_col_btn {
    min-width: 170px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirNextCyr-Bold", sans-serif;
    color: #f5f5f5 !important;
    text-decoration: none;
    background: #d9a158;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    max-width: 120px
}

.col-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

@media (max-width: 991px) {
    .footer__col_title {
        font-size: 20px
    }

    .footer__number {
        font-size: 22px
    }
}

@media (max-width: 767px) {
    .footer__logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: left
    }

    .footer__number {
        text-align: left;
        font-size: 15px
    }

    .footer__email {
        font-size: 9px;
        text-align: left
    }

    .footer__col_title {
        font-size: 15px;
        margin-top: 0
    }

    .footer__col_list {
        font-size: 14px
    }
}

@media (max-width: 575px) {
    .footer__logo {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        max-width: 300px;
        margin: 0 auto
    }

    .footer__col {
        max-width: 300px;
        margin: 0 auto;
        text-align: center
    }

    .footer__number {
        text-align: center;
        font-size: 25px
    }

    .footer__email {
        text-align: center;
        font-size: 25px
    }

    .footer__col_title {
        font-size: 25px
    }

    .footer__col {
        margin-top: 10px
    }

    .footer__col_list {
        margin-top: 5px;
        font-size: 18px
    }

    .end_row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .end_col {
        max-width: 300px;
        margin: 0 auto;
        text-align: center !important;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center
    }
}

/* .end_col_btn:hover {
    background: #ff8c00;
    color: #000;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
    text-decoration: none !important
} */

.nav__lg:hover {
    cursor: pointer;
    color: #dba764 !important
}

a {
    color: inherit !important;
    text-decoration: none !important
}

a:hover {
    color: inherit !important;
    text-decoration: none !important
}

.bottom__img-block:hover {
    cursor: pointer;
    opacity: .9
}

@media (max-width: 991px) {
    .nav__lang {
        padding-top: 10px
    }
}

@media (max-width: 1199px) {
    .footer__number {
        font-size: 32px
    }
}

@media (max-width: 991px) {
    .footer__number {
        font-size: 25px
    }
}

@media (max-width: 767px) {
    .footer__number {
        font-size: 17px
    }
}

@media (max-width: 575px) {
    .footer__number {
        font-size: 25px
    }
}

@media (max-width: 1102px) {
    .nav-link {
        font-size: 13px !important
    }
}

@media (max-width: 991px) {
    .nav-link {
        font-size: 17px !important
    }
}

/* .nav-link:hover {
    border-bottom: 2px solid #dba764
} */

.hover_box_el {
    font-family: 'BebasNeueBold', sans-serif;
    /*font-weight: 500;*/
    font-size: 50px
}

.hover_box_btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirNextCyr-Bold", sans-serif;
    /*font-weight: 700;*/
    color: #f5f5f5;
    text-decoration: none;
    background: #d9a158;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    max-width: 120px
}

.hover_box {
    margin: 10px
}

.hover_block {
    float: right;
    background: rgba(255, 255, 255, .4);
    z-index: 9999;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.hover_box_btn {
    cursor: pointer;
    color: #fff !important;
    text-decoration: none !important
}

.hover_box_list {
    margin-top: 5px;
    font-family: 'AvenirNextCyr-Regular', sans-serif
}

.top {
    position: relative
}

.hover_block {
    height: 100%
}

.test:hover .hover_block {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    opacity: 1
}

.test:hover #top__title_text {
    opacity: 0
}

@media (max-width: 728px) {
    .hover_box_el {
        font-size: 35px
    }
}

@media (max-width: 580px) {
    .hover_block {
        float: none;
        width: 100%
    }
}

@media (max-width: 542px) {
    .hover_block {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .hover_box_btn {
        margin: 0 auto
    }

    .hover_box_list {
        text-align: center
    }
}

.navbar {
    z-index: 99999
}

@media (max-width: 991px) {
    #hover_id {
        display: none
    }

    .test:hover #top__title_text {
        opacity: 1
    }
}

@media (max-width: 991px) {
    #hover_id {
        display: none
    }

    .test:hover #top__title_text {
        opacity: 1
    }
}

.span-fix-1 {
    width: 100%;
    max-width: 100%;
}

.top {
    margin-top: 7px;
    background-position: center;
    background-image: url(../img/inf_centr.jpg);
    background-color: rgba(0, 0, 0, .3);
    background-size: cover
}

.top__title {
    padding-top: 155px;
    padding-bottom: 185px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 65px;
    color: #fff;
    /*font-weight: 700;*/
    text-shadow: 1px 3px 2px rgba(0, 0, 0, .3)
}

@media (max-width: 651px) {
    .span-fix-1 {
        font-size: 40px;
        padding: 10px
    }
}

@media (max-width: 1102px){
    .top {
        margin-top: 6px;
    }
}
.orange-title:lang(kk){
    font-family: "monserat-regular";
}
.orange-title{
    color: #d9a158;
    font-family: "AvenirNextCyr-Regular", sans-serif;
    font-weight: bold;
}
.moreNews{
    display: none;
}