@font-face {
  font-family: "BebasNeueBold";
  src: url(../fonts/ofontruBebasNeue.woff) format("woff"),
    url(../fonts/ofontruBebasNeue.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr-Bold";
  src: url(../fonts/AvenirNextCyr-Bold.woff) format("woff"),
    url(../fonts/AvenirNextCyr-Bold.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr-Regular";
  src: url(../fonts/AvenirNextCyr-Regular.woff) format("woff"),
    url(../fonts/AvenirNextCyr-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
.header_logo {
  -o-object-fit: cover;
  object-fit: cover;
  height: 70px;
  padding-top: 3px;
}

.logo_content {
  color: #2d3135;
  font-size: 14px;
  padding-top: 5px;
  margin-right: 100px;
  font-family: "BebasNeueBold", sans-serif;
}
@media (max-width: 1095px) {
  .logo_content {
    margin-right: 50px;
  }
}

@media (max-width: 454px) {
  .logo_content {
    margin: 0 auto;
  }
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__lang {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* .active {
    color: #dba764 !important
}

.active-link {
    padding: 30px;
    border-bottom: 2px solid #dba764;
    color: #dba764 !important
} */

.nav__lg {
  color: #2d3135;
  font-size: 20px;
  font-family: "BebasNeueBold", sans-serif;
}

@media (max-width: 1200px) {
  .nav_container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 1053px) {
  .nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 991px) {
  .nav-link {
    margin: 0 auto;
    padding: 20px;
  }
}

@media (max-width: 440px) {
  .nav_container {
    padding: 0;
  }

  .logo_content {
    font-size: 14px;
  }

  .header_logo {
    height: 72px;
  }
}

@media (max-width: 991px) {
  .top {
    margin-top: 0 !important;
  }
}

.nav-link:hover {
  color: #dba764 !important;
}

.header_container {
  margin-top: 7px;
  padding-top: 160px;
  padding-bottom: 160px;
  background-size: cover;
  background-image: url(../img/ivest-bg.jpg);
}

.header__title {
  font-family: "BebasNeueBold", sans-serif;
  font-size: 65px;
  color: #fff;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 991px) {
  .header_container {
    margin: 0 auto;
  }
}

.top__row {
  padding-top: 40px;
}

.top__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.top__col_title {
  font-family: "BebasNeueBold", sans-serif;
  font-size: 49px;
  color: #2d3135;
}

.top__col_title_description {
  font-size: 20px;
  font-family: "AvenirNextCyr-Regular", sans-serif;
  color: #2d3135 !important;
  padding-bottom: 1rem;
}

.top__col_list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__cub {
  width: 8px;
  height: 8px;
  background: #2d3135;
}

.top__cub_descr {
  margin-left: 7px;
  font-weight: bold;
  color: #d9a158;
}
.top__cub_descr:hover {
  color: #9f5e09;
}
.top__col_list {
  font-family: "AvenirNextCyr-Regular", sans-serif;
  /* margin-top: 20px; */
  color: #2d3135;
}

.top__content {
  font-family: "AvenirNextCyr-Regular", sans-serif;
  font-size: 20px;
}

.top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1161px) {
  .top__img {
    margin: 0 auto;
    max-width: 300px;
  }
}

@media (max-width: 767px) {
  .top__row {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .top__col {
    width: 100%;
    max-width: 100%;
  }

  .top__row {
    position: relative;
  }

  .top__img {
    max-width: 250px;
    position: absolute;
    bottom: -50px;
    right: -130px;
  }

  .top__col_title_description {
    z-index: 99999;
  }

  .top__row {
    margin: 0 auto !important;
  }
}

@media (max-width: 575px) {
  .top__col_title {
    text-align: center;
  }

  .top__col_title_description {
    text-align: center;
  }

  .top__img {
    max-width: 250px;
    position: absolute;
    bottom: -50px;
    right: 20px;
  }

  .top__col_list {
    max-width: 200px;
    margin-left: 40px;
  }
}

@media (max-width: 527px) {
  .top__img {
    position: unset;
    text-align: center;
    margin: 0 auto;
  }

  .ball_col {
    max-width: 100%;
    text-align: center;
  }

  .top__cub {
    display: none;
  }

  .top__col_list {
    max-width: 100%;
    text-align: center;
    /* margin: 0 auto; */
    margin-top: 10px;
  }

  .top__col_title_description {
    padding-bottom: 5px;
  }
}

@media (max-width: 352px) {
  .top__col_title {
    font-size: 35px;
  }

  .top__row {
    padding-top: 5px;
  }
}

.top__content {
  padding-top: 1rem;
  font-family: "AvenirNextCyr-Regular", sans-serif;
  font-size: 19px;
}

.top__content_context {
  margin: 0 auto;
  padding-top: 10px;
}

@media (max-width: 831px) {
  .top__content {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .top__content {
    font-size: 17px;
  }
}

.salutation {
  background-size: cover;
  background-image: url(../img/sulation.jpg);
  padding-bottom: 80px;
  background-position: left center;
}

@media (max-width: 734px) {
  .col-fix {
    padding: 0;
  }
}

.salutation_list-title {
  font-size: 19px;
  width: 100%;
  /* margin: 0 auto; */
  margin: 25px 0px;
  padding-left: 0;
  font-family: "AvenirNextCyr-Regular", sans-serif;
}

.salutation_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}
.salutation_box p {
  margin-bottom: 0;
}

.salutation__cub {
  font-size: 20px;
  font-family: "AvenirNextCyr-Regular", sans-serif;
  width: 7px;
  height: 7px;
  background: #dba764;
}

.salutation_box {
  margin-top: 10px;
}

/* .salutation__descr {
    margin-left: 15px
} */

.invest {
  padding-top: 155px;
}

.inevst_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.invest__general_cub {
  margin-top: 30px;
  width: 300px;
  height: 300px;
  margin-left: 150px;
  border: 9px solid #fff;
  background: 0 0;
  position: relative;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.invest__min_cub {
  width: 120px;
  position: absolute;
  height: 120px;
  top: 20px;
  right: 28%;
  background: #d9a158;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  margin: 60px 0 10px 310px;
}

.invest__min_cub_cont {
  font-family: "Avenir Next Cyr Heavy", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  width: 100%;
  max-width: 100%;
  margin-left: -5px;
  margin-top: 44px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.invest__polygon {
  padding-left: 15px;
  font-family: "Avenir Next Cyr Heavy", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  width: 200px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-size: cover;
  background-position: left;
  background-image: url(../img/polygon.png);
  right: -91px;
  top: 245px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invest__title {
  font-family: "BebasNeueBold", sans-serif;
  font-size: 40px;
}

.invest__box {
  margin-top: 10px;
  padding: 20px;
  background: #f3f3f3;
  border-left: 5px solid #d9a158;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.invest__box_title {
  font-family: "AvenirNextCyr-Bold", sans-serif;
  font-size: 20px;
  color: #2d3135;
}

.invest__box_description {
  font-family: "AvenirNextCyr-Regular", sans-serif;
  font-size: 14px;
  line-height: 1.1;
  color: #2d3135;
}

.invest__col_information {
  margin-top: -173px;
}

@media (max-width: 1199px) {
  .invest__general_cub {
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .inevst_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .invest__col_information {
    margin-top: 10px;
  }

  .invest__title {
    text-align: center;
  }

  .invest {
    margin-top: -70px;
  }

  .salutation__descr {
    z-index: 999;
  }
}

@media (max-width: 766px) {
  .invest__general_cub {
    display: none;
  }
}

.alternative {
  padding-top: 40px;
  font-family: "BebasNeueBold", sans-serif;
  font-size: 50px;
  text-align: center;
  color: #2d3135;
}

.private {
  padding-top: 20px;
  font-family: "BebasNeueBold", sans-serif;
  font-size: 50px;
  text-align: center;
  color: #2d3135;
}

.private_line {
  width: 100%;
  max-width: 65px;
  background: #dba764;
  height: 4px;
  margin: 0 auto;
}

.private__description {
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  margin-bottom: 1rem;
  color: #2d3135;
  line-height: 1.1;
  font-family: "AvenirNextCyr-Regular", sans-serif;
}

.private__col {
  padding: 15px;
  margin: 5px;
  border: 2px solid #f7f7f7;
}

.private__col img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.private__col_title {
  margin-top: 25px;
  margin-bottom: 7px;
  font-family: "AvenirNextCyr-Bold", sans-serif;
  text-align: center;
}

.private__col_context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.private__col_cub {
  max-width: 8px;
  margin-top: 4px;
  width: 100%;
  height: 8px;
  background: #dba764;
}

.private__col_desc {
  padding-left: 5px;
  color: #2d3135;
  font-size: 12px;
  font-family: "AvenirNextCyr-Regular", sans-serif;
  text-align: left;
}

.realty__col img {
  margin-top: 10px !important;
}

.private__row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex; */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.private__col {
  width: 100%;
  max-width: 210px;
}

@media (max-width: 1199px) {
  .private__col {
    width: 100%;
    max-width: 300px;
  }
}

.private__container {
  padding-bottom: 50px;
}

.realty {
  background-image: url(../img/realty.jpg);
  background-size: cover;
  padding-bottom: 100px;
}

.realty__title {
  padding-top: 80px;
}

.realty__col_title {
  text-align: center;
}

.realty__col {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 15px;
  margin: 5px;
  border: 2px solid #f7f7f7;
  width: 100%;
  max-width: 275px;
}

.realty__col img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.realty__row {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.private__row {
  padding-top: 20px;
}

.fund {
  padding-top: 80px;
}

.private__description {
  max-width: 900px;
}

.found__row {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.found__container {
  padding-bottom: 100px;
}

.found__col {
  width: 100%;
  margin: 5px;
  max-width: 550px;
  border: 2px solid #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.found__col_box {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.found__col {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
}

.found__col img {
  padding-left: 5px;
  width: 100px;
  height: 60px;
}

.found__col_description {
  margin-top: 10px;
}

.found__col_title {
  font-size: 16px;
  font-family: "AvenirNextCyr-Bold", sans-serif;
}

.found__col_description {
  font-size: 12px;
  color: #2d3135;
  font-family: "AvenirNextCyr-Regular", sans-serif;
}

.infrastructure {
  background-size: cover;
  background-image: url(../img/infrastructure.jpg);
  padding-bottom: 100px;
}

.infrastructure__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.infrastructure__col_title {
  text-align: center;
  font-family: "AvenirNextCyr-Bold", sans-serif;
  font-size: 16px;
}

.infrastructure__col img {
  text-align: center;
  width: 100%;
  height: 50px;
}

.infrastructure__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.infrastructure__col {
  padding: 50px 30px;
  background: #fff;
  margin: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 218px;
}

.infrastructure__col_title {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 70px;
  display: -webkit-box;
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.finish {
  padding-bottom: 100px;
  padding-top: 100px;
}

.finish__col_title {
  font-family: "BebasNeueBold", sans-serif;
  font-size: 50px;
  text-align: center;
}

.finish__col_description {
  font-family: "BebasNeueBold", sans-serif;
}

.finish__col_cub_content {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "BebasNeueBold", sans-serif;
  font-size: 17px;
  color: #2d3135;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.finish__col_list {
  font-family: "BebasNeueBold", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.finish__col_cub {
  width: 100%;
  margin-top: 9px;
  max-width: 8px;
  height: 8px;
  background: #dba764;
}

.finish__col {
  width: 100%;
  max-width: 500px;
  /* border: 4px dotted #ebebeb; */
  border-radius: 5px;
}

.finish__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  margin-top: -40px;
  text-align: center;
  background: #d7a057;
  color: #fff;
  font-size: 14px;
  font-family: "AvenirNextCyr-Bold", sans-serif;
}

.finish__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.finish__top {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.finish__subtitle {
  font-family: "BebasNeueBold", sans-serif;
  font-size: 35px;
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

.finish__box_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  margin-bottom: -110px;
  margin-top: 50px;
  background: #d7a057;
  color: #fff;
  font-size: 14px;
  font-family: "AvenirNextCyr-Bold", sans-serif;
}

.finish__arrow_top {
  left: -27.5px;
  position: absolute;
  max-width: 20px;
}

.finish__arrow_down {
  right: -27.5px;
  position: absolute;
  max-width: 20px;
}

.finish__middle {
  position: relative;
}

@media (max-width: 1199px) {
  .finish__box_bottom {
    margin-top: 93px;
  }

  .finish__subtitle {
    padding-top: 30px;
  }

  .finish__arrow_down {
    top: 45px;
  }

  .finish__arrow_top {
    top: 45px;
  }
}

@media (max-width: 991px) {
  .finish__row {
    max-width: 100%;
  }

  .finish__col-sm-6 {
    width: 100%;
    max-width: 100%;
  }

  .finish__box {
    margin: 0 auto;
    margin: 10px;
  }

  .finish__box_bottom {
    margin: 0 auto;
    margin: 10px;
  }

  .finish__subtitle {
    padding-top: 0;
    margin: 0.5rem auto;
  }
  .finish__box_bottom:first-child {
    margin-top: 0;
  }

  .finish__col_sm-6 {
    width: 100%;
    -ms-flex: 100%;
    flex: 100%;
    margin: 0 auto !important;
    max-width: 900px;
  }

  .finish__row {
    margin: 0 auto;
  }

  .finish__col-sm-6 {
    -ms-flex: 100% !important;
    flex: 100% !important;
  }

  .finish__col {
    margin-top: 40px !important;
  }

  .finish__arrow_down {
    top: 10px;
  }

  .finish__arrow_top {
    top: 10px;
  }
}

@media (max-width: 431px) {
  .finish__arrow_down {
    display: none;
  }

  .finish__arrow_top {
    display: none;
  }

  .finish__box {
    margin: 5px;
    font-size: 12px;
  }

  .finish__top {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .finish__bottom {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .finish__col {
    margin-top: 5px;
    padding: 10px !important;
  }
}

@media (max-width: 368px) {
  .finish__col_title {
    font-size: 40px;
    text-align: center;
  }

  .finish__col_description {
    text-align: center;
  }
}

.footer_line {
  margin-top: 70px;
}

.footer {
  padding-top: 20px;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__logo img {
  height: 60px;
  max-width: 100px;
}

.footer__logo_text {
  font-size: 14px;
  font-family: "BebasNeueBold", sans-serif;
}

.footer__number {
  color: #d9a158;
  font-size: 40px;
  font-family: "BebasNeueBold", sans-serif;
}

.footer__email {
  font-family: "AvenirNextCyr-Regularr", sans-serif;
  color: #2d3135;
  font-size: 16px;
}

.footer__col_title {
  margin-top: -8px;
  color: #2d3135;
  font-family: "BebasNeueBold", sans-serif;
  font-size: 25px;
}

.footer__col_list {
  color: #2d3135;
  font-family: "AvenirNextCyr-Regular", sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

.footer_line_bottom {
  margin-top: 40px;
}

.end_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 162px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.end_row {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.end_col {
  text-align: center;
  font-size: 14px;
  color: #2d3135;
  font-family: "AvenirNextCyr-Regular", sans-serif;
}

.end_col_btn {
  min-width: 170px;
  color: white !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "AvenirNextCyr-Bold", sans-serif;
  color: #f5f5f5;
  text-decoration: none;
  background: #d9a158;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  max-width: 120px;
}

.col-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media (max-width: 991px) {
  .footer__col_title {
    font-size: 20px;
  }

  .footer__number {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }

  .footer__number {
    text-align: left;
    font-size: 15px;
  }

  .footer__email {
    font-size: 9px;
    text-align: left;
  }

  .footer__col_title {
    font-size: 15px;
    margin-top: 0;
  }

  .footer__col_list {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .found__container {
    padding-bottom: 50px;
  }
  .realty__title {
    padding-top: 40px;
  }
  .footer__logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer__col {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  .footer__number {
    text-align: center;
    font-size: 25px;
  }

  .footer__email {
    text-align: center;
    font-size: 25px;
  }

  .footer__col_title {
    font-size: 25px;
  }

  .footer__col {
    margin-top: 10px;
  }
  .footer__col > div {
    margin: 0.5rem 0;
  }
  .footer__col_list {
    margin-top: 5px;
    font-size: 18px;
  }

  .end_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .end_col {
    max-width: 300px;
    margin: 0 auto;
    text-align: center !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
}

/* .end_col_btn:hover {
    background: #dba764;
    color: #000;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    cursor: pointer;
    text-decoration: none !important
} */

.invest__box {
  padding-left: 35px;
  padding-right: 25px;
}

@media (max-width: 991px) {
  .invest__box {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.nav__lg:hover {
  cursor: pointer;
  color: #dba764 !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

@media (max-width: 991px) {
  .nav__lang {
    padding-top: 10px;
  }
}

@media (max-width: 1199px) {
  .footer__number {
    font-size: 32px;
  }
}

@media (max-width: 991px) {
  .footer__number {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .footer__number {
    font-size: 17px;
  }
}

@media (max-width: 575px) {
  .footer__number {
    font-size: 25px;
  }
}

@media (max-width: 1102px) {
  .nav-link {
    font-size: 13px !important;
  }
}

@media (max-width: 991px) {
  .nav-link {
    font-size: 17px !important;
  }
}

.hover_box_el {
  font-family: "BebasNeueBold", sans-serif;
  font-size: 50px;
}

.hover_box_btn {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "AvenirNextCyr-Bold", sans-serif;
  color: #f5f5f5;
  text-decoration: none;
  background: #d9a158;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  max-width: 120px;
}

.hover_box {
  margin: 10px;
}

.hover_block {
  float: right;
  background: rgba(255, 255, 255, 0.4);
  z-index: 9999;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hover_box_btn {
  cursor: pointer;
  color: #fff !important;
  text-decoration: none !important;
}

.hover_box_list {
  margin-top: 5px;
  font-family: "AvenirNextCyr-Regular", sans-serif;
  color: #2d3135;
}

.top {
  position: relative;
}

.hover_block {
  height: 100%;
}

.test:hover .hover_block {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  opacity: 1;
}

.test:hover #top__title_text {
  opacity: 0;
}

@media (max-width: 728px) {
  .hover_box_el {
    font-size: 35px;
  }
}

@media (max-width: 580px) {
  .hover_block {
    float: none;
    width: 100%;
  }
}

@media (max-width: 542px) {
  .hover_block {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hover_box_btn {
    margin: 0 auto;
  }

  .hover_box_list {
    text-align: center;
  }
}

.navbar {
  z-index: 99999;
}

@media (max-width: 991px) {
  #hover_id {
    display: none;
  }

  .test:hover #top__title_text {
    opacity: 1;
  }
}

.for-dinamic {
  position: absolute;
  z-index: 9999;
  top: 177px;
  left: -54px;
  transform: rotate(4deg);
}

.top__cub_descr {
  cursor: pointer;
}

@media (max-width: 1102px) {
  .top {
    margin-top: 6px;
  }
}

.top__img {
  width: 80%;
}

/* CIRCLE */

.schedule {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-center {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.circle-bottom {
  clip-path: polygon(0 50%, 50% 50%, 100% 100%, 0% 100%);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #f3f3f2;
}
.circle-bottom span {
  bottom: 50px;
  left: 80px;
  transform: rotate(27deg);
  color: #000;
}
.circle-right {
  clip-path: polygon(78% 0, 100% 0, 100% 106%, 50% 50%);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff !important;
}
.circle-right span {
  right: 10px;
  top: 155px;
  transform: rotate(83deg);
}
.circle-left {
  clip-path: polygon(0 0, 73% 0, 44% 52%, 0 50%);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff !important;
}
.circle-left span {
  right: 223px;
  top: 66px;
  transform: rotate(-45deg);
}
.circle-content span {
  font-size: 22px;
  position: absolute;
  font-weight: 900;
  z-index: 99;
}
