/* @font-face {
    font-size: 65px;
    font-family: BebasNeueBold, sans-serif;;
    color: #fff;
    /*font-weight: 700;*/


/* padding: 220px;
} */

#file-val img {
    width: 25px;
    height: 25px;
}

.wrapper-title {
    height: 418px !important;
    /* margin-top: 80px !important; */
}

.top-career {
    background-position: center;
    background-image: url(../images/career-bg.png);
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
}

.text-part-one h2,
.text-part-two h2 {
    font-size: 32px;
    font-family: "BebasNeueBold", sans-serif;
    color: #2d3135;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.text-part-one h2:lang(kk) {
    font-family: BebasNeueBold, sans-serif;
    ;
}

.text-part-two h2:lang(kk) {
    font-family: BebasNeueBold, sans-serif;
    ;
}

.text-part-one p,
.text-part-two p {
    font-size: 17px;
    /* font-family: "AvenirNextCyr-Regular", sans-serif; */
    color: #2d3135;
    text-align: justify;
    margin-bottom: 1rem;
}

.modal-career .close {
    position: absolute;
    top: 0;
    right: 0;
}

.s1 img {
    width: 550px;
}

.first-part {
    padding: 30px 0 0 0;
}

.first-part,
.sec-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.img-part-bottom {
    animation-duration: 3s;
}

.sec-part {
    padding-bottom: 50px;
    margin-top: 30px;
}

.img-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.img-part img {
    width: 98%;
    height: auto;
}

.border-left {
    width: 15px;
    height: 330px;
    background-color: #d9a158;
    margin-right: -5px;
    z-index: 99;
}

.border-right {
    width: 15px;
    height: 330px;
    background-color: #d9a158;
    margin-left: -5px;
    z-index: 99;
}

.s6-inner {
    padding: 80px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.s6-inner:lang(kk) {
    font-family: BebasNeueBold, sans-serif;
    ;
}

.s6-inner h5 {
    font-family: "BebasNeueBold", sans-serif;
    font-size: 25px;
    color: #2d3135;
}

.s6-inner p {
    font-family: "AvenirNextCyr-Regular", sans-serif;
    font-size: 16px;
    color: #2d3135;
}

.beb {
    font-family: "roboto", sans-serif !important;
    font-size: 14px !important;
    color: #2d3135 !important;
    padding: 0 10px;
}

.s6-blocks {
    width: 25%;
}

.nat-tit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.mr10 {
    margin-right: 10px;
}

.color-orange {
    color: #d9a158 !important;
    background-color: unset !important;
    padding: unset !important;
    position: unset !important;
    display: unset !important;
}

.career-btn:lang(kk) {
    font-family: BebasNeueBold, sans-serif;
    ;
}

.career-btn {
    margin-bottom: 13px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: center; */
    height: 54px;
    color: #f5f5f5 !important;
    text-decoration: none;
    background: #d9a158;
    width: 100%;
    padding: 0;
    font-size: 38px;
    font-family: "BebasNeueBold", sans-serif;
}

.career-btn a {
    line-height: 37px;
}

.career-btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #f5f5f5 !important;
}

@media (max-width: 993px) {
    .text-part-two {
        width: auto !important;
        margin-left: 0 !important;
    }
    .career-btn {
        margin-top: 2rem;
        height: auto !important;
        line-height: 35px;
        padding: 8px 0;
    }
    .first-part,
    .sec-part {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .text-part-one,
    .text-part-two {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .s6-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .s6-blocks {
        margin: 20px 0;
        width: unset;
    }
}

@media (max-width: 600px) {
    .img-part img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
    .career-btn {
        height: auto !important;
    }
    .text-part-two {
        width: 100% !important;
        margin-top: 1rem !important;
    }
    .s1 img {
        width: 100%;
    }
    .border-left,
    .border-right {
        display: none;
    }
    .text-part-one,
    .text-part-two {
        margin: 0;
        width: 100%;
    }
    .text-part-one h2,
    .text-part-two h2 {
        font-size: 40px;
    }
}

* {
    margin: 0;
    padding: 0;
}

.header_logo {
    -o-object-fit: cover;
    object-fit: cover;
    height: 70px;
    padding-top: 3px;
}

.logo_content {
    color: #2d3135;
    font-size: 14px;
    padding-top: 5px;
    margin-right: 100px;
    font-family: "BebasNeueBold", sans-serif;
}

.logo_content:lang(kk) {
    font-family: BebasNeueBold, sans-serif;
}

@media (max-width: 1095px) {
    .logo_content {
        margin-right: 50px;
    }
}

@media (max-width: 454px) {
    .logo_content {
        margin: 0 auto;
    }
}

.navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav__lang {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


/* .active {
    color: #dba764 !important
}

.active-link {
    padding: 30px;
    border-bottom: 2px solid #dba764;
    color: #dba764 !important
} */

.nav__lg {
    color: #2d3135;
    font-size: 20px;
    font-family: BebasNeueBold, sans-serif;
    ;
}

@media (max-width: 1200px) {
    .nav_container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 1053px) {
    .nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 991px) {
    .nav-link {
        margin: 0 auto;
        padding: 20px;
    }
}

@media (max-width: 440px) {
    .nav_container {
        padding: 0;
    }
    .logo_content {
        font-size: 14px;
    }
    .header_logo {
        height: 72px;
    }
}

@media (max-width: 991px) {
    .top {
        margin-top: 0 !important;
    }
}

.nav-link:hover {
    color: #dba764 !important;
}

.nav__lg:hover {
    cursor: pointer;
    color: #dba764 !important;
}

.footer_line {
    margin-top: 70px;
}

.footer {
    padding-top: 20px;
}

.footer__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__logo img {
    height: 60px;
    max-width: 100px;
}

.footer__logo_text:lang(kk) {
    font-family: BebasNeueBold, sans-serif;
    ;
}

.footer__number:lang(kk) {
    font-family: BebasNeueBold, sans-serif;
    ;
}

.footer__logo_text {
    font-size: 14px;
    color: #2d3135;
    font-family: "BebasNeueBold", sans-serif;
}

.footer__number {
    color: #d9a158;
    font-size: 40px;
    font-family: "BebasNeueBold", sans-serif;
}

.footer__email {
    font-family: "AvenirNextCyr-Regular", sans-serif;
    color: #2d3135;
    font-size: 16px;
}

.footer__col_title {
    color: #2d3135;
    margin-top: 0px;
    font-family: "BebasNeueBold", sans-serif;
    font-size: 25px;
    text-align: left;
}

.footer__col_list {
    color: #2d3135;
    font-family: "AvenirNextCyr-Regular", sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

.footer_line_bottom {
    margin-top: 40px;
}

.end_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    min-width: 162px;
    -ms-flex-direction: column;
    flex-direction: column;
}

.end_row {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.end_col {
    text-align: center;
    font-size: 14px;
    font-family: "AvenirNextCyr-Regular", sans-serif;
}

.end_col_btn:lang(kk) {
    min-width: 210px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.end_col_btn {
    min-width: 170px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "arial-Bold", sans-serif;
    color: #f5f5f5 !important;
    text-decoration: none;
    background: #d9a158;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    max-width: 120px;
}

.col-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

@media (max-width: 991px) {
    .footer__col_title {
        font-size: 20px;
    }
    .footer__number {
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    .footer__logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: left;
    }
    .footer__number {
        text-align: left;
        font-size: 15px;
    }
    .footer__email {
        font-size: 9px;
        text-align: left;
    }
    .footer__col_title {
        font-size: 15px;
        margin-top: 0;
    }
    .footer__col_list {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .footer__logo {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        max-width: 300px;
        margin: 0 auto;
    }
    .footer__col {
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    .footer__number {
        text-align: center;
        font-size: 25px;
    }
    .footer__email {
        text-align: center;
        font-size: 25px;
    }
    .footer__col_title {
        font-size: 25px;
    }
    .footer__col {
        margin-top: 10px;
    }
    .footer__col_list {
        margin-top: 5px;
        font-size: 18px;
    }
    .end_row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .end_col {
        max-width: 300px;
        margin: 0 auto;
        text-align: center !important;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }
}


/* .end_col_btn:hover {
    background: #ff8c00;
    color: #000;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    cursor: pointer;
    text-decoration: none !important
} */

a {
    /* .s1 {
    margin-top: 100px
} */
    @media (max-width: 991px) {
        .career {
            background-position: center;
            margin-top: 0;
        }
        .nav__lang {
            padding-top: 10px;
        }
    }
}

.career-img:hover {
    /* opacity: .8; */
    cursor: pointer;
}

@media (max-width: 1199px) {
    .footer__number {
        font-size: 32px;
    }
}

@media (max-width: 991px) {
    .footer__number {
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    .footer__number {
        font-size: 17px;
    }
}

@media (max-width: 575px) {
    .footer__number {
        font-size: 25px;
    }
}


/* .nav-link:hover {
    border-bottom: 2px solid #dba764
} */

.hover_box_el:lang(kk) {
    font-family: BebasNeueBold, sans-serif;
    ;
}

.hover_box_el {
    font-family: "BebasNeueBold", sans-serif;
    /*font-weight: 500;*/
    font-size: 50px;
}

.hover_box_btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirNextCyr-Bold", sans-serif;
    /*font-weight: 700;*/
    color: #f5f5f5;
    text-decoration: none;
    background: #d9a158;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    max-width: 120px;
}

.hover_box {
    margin: 10px;
}

.hover_block {
    float: right;
    background: rgba(255, 255, 255, 0.4);
    z-index: 9999;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hover_box_btn {
    cursor: pointer;
    color: #fff !important;
    text-decoration: none !important;
}

.hover_box_list {
    margin-top: 5px;
    font-family: "AvenirNextCyr-Regular", sans-serif;
}

.top {
    position: relative;
}

.hover_block {
    height: 100%;
}

.test:hover .hover_block {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    opacity: 1;
}

.test:hover #top__title_text {
    opacity: 0;
}

@media (max-width: 728px) {
    .hover_box_el {
        font-size: 35px;
    }
}

@media (max-width: 580px) {
    .hover_block {
        float: none;
        width: 100%;
    }
}

@media (max-width: 542px) {
    .hover_block {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .hover_box_btn {
        margin: 0 auto;
    }
    .hover_box_list {
        text-align: center;
    }
}

.navbar {
    z-index: 99999;
}

@media (max-width: 991px) {
    #hover_id {
        display: none;
    }
    .test:hover #top__title_text {
        opacity: 1;
    }
}

.top {
    /* margin-top: 7px; */
    background-position: center;
    background-image: url(../images/carrer-bg.jpg);
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
}


/* .top__title:lang(kk){
    font-family: BebasNeueBold, sans-serif;;
} */

.top__title {
    padding-top: 155px;
    padding-bottom: 185px;
    max-width: 1070px;
    margin: 0 auto;
    font-family: "BebasNeueBold", sans-serif;
    font-size: 65px;
    color: #fff;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
}

.span-fix-1 {
    max-width: 100%;
    width: 100%;
    text-align: center;
}

@media (max-width: 1102px) {
    .top {
        margin-top: 6px;
    }
}

.modal-career .close {
    position: absolute;
    right: 0;
    top: 0;
}

.first-part {
    margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
    .img-part {
        padding: 0 !important;
    }
    .text-part-one {
        width: 100%;
        order: 1;
    }
    .text-part-two {
        width: 100%;
    }
    .first-part {
        padding: 30px 0 0 0;
        margin-bottom: 15px;
    }
    .text-part-one h2,
    .text-part-two h2 {
        font-size: 24px;
        margin-bottom: 0;
    }
    .text-part-one p,
    .text-part-two p {
        margin-bottom: 15px;
        text-align: center;
    }
    .sec-part {
        padding-bottom: 0 !important;
    }
    .img-part img {
        width: 100%;
        height: 100%;
    }
    .career-btn {
        font-size: 30px;
        margin-top: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .text-part-two {
        width: auto !important;
    }
    .career-btn {
        margin-top: 1rem;
        height: auto !important;
    }
    .first-part {
        flex-direction: row;
    }
    .sec-part {
        flex-direction: row;
    }
    .text-part-one {
        width: 40%;
    }
    .img-part img {
        width: 100%;
        height: auto;
    }
    .img-part {
        width: 60%;
    }
    .text-part-one {
        margin-right: 20px;
    }
    .border-left {
        width: 15px;
        height: 236px;
    }
    .first-part {
        padding: 30px 0 0 0;
    }
    .text-part-two {
        width: 40%;
        margin-left: 20px;
    }
    .border-right {
        height: 236px;
    }
    .career-btn {
        font-size: 30px;
        padding: 5px 0;
        padding-bottom: 5px;
    }
    .text-part-one h2,
    .text-part-two h2 {
        font-size: 30px;
    }
}

.form__label img {
    width: 25px;
    cursor: pointer;
}

.input-file {
    display: none;
}

.js-labelFile {
    position: absolute;
    width: 100%;
    height: 100%;
}

.career-bg .modal .close {
    position: absolute !important;
    right: -35px !important;
    top: -28px !important;
}