@font-face {
    font-family: "BebasNeueBold";
    src: url(../font/ofont.ru_BebasNeue.ttf);
    /* font-weight: normal;
    font-style: normal; */
}
@font-face {
    font-family: "AvenirNextCyr-Bold";
    src: url(../font/AvenirNextCyr-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextCyr-Regular";
    src: url(../font/AvenirNextCyr-Regular.woff) format("woff"),
    url(../font/AvenirNextCyr-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

