.footer_line{margin-top:70px}.footer{padding-top:20px}.footer__col{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.footer__col{display:-webkit-box;display:-ms-flexbox;display:flex}.footer__logo{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.footer__logo img{height:60px;max-width:100px}.footer__logo_text{font-size:14px;font-family:'BebasNeueBold',sans-serif}.footer__number{color:#d9a158;font-size:40px;font-family:'BebasNeueBold',sans-serif}.footer__email{font-family:'Avenir Next Cyr Medium',sans-serif;font-weight:500;color:#2d3135;font-size:16px}.footer__col_title{margin-top:-8px;font-family:'BebasNeueBold',sans-serif;font-size:25px}.footer__col_list{font-family:'Avenir Next Cyr Regular',sans-serif;font-size:16px;margin-top:10px}.footer_line_bottom{margin-top:40px}.end_col{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.end_row{padding-bottom:20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.end_col{text-align:center;font-size:14px;font-family:'Avenir Next Cyr Medium',sans-serif}.end_col_btn{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;display:-webkit-box;display:-ms-flexbox;display:flex;font-family:"Avenir Next Cyr Medium",sans-serif;font-weight:700;color:#f5f5f5;text-decoration:none;background:#d9a158;width:100%;padding:10px;font-size:16px;max-width:120px}.col-btn{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}@media (max-width:991px){.footer__col_title{font-size:20px}.footer__number{font-size:22px}}@media (max-width:767px){.footer__logo{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:left}.footer__number{text-align:left;font-size:15px}.footer__email{font-size:9px;text-align:left}.footer__col_title{font-size:15px;margin-top:0}.footer__col_list{font-size:14px}}@media (max-width:575px){.footer__logo{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:center;-ms-flex-align:center;-ms-grid-row-align:center;align-items:center;max-width:300px;margin:0 auto}.footer__col{max-width:300px;margin:0 auto;text-align:center}.footer__number{text-align:center;font-size:25px}.footer__email{text-align:center;font-size:25px}.footer__col_title{font-size:25px}.footer__col{margin-top:10px}.footer__col_list{margin-top:5px;font-size:18px}.end_row{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.end_col{max-width:300px;margin:0 auto;text-align:center!important;-webkit-box-align:center;-ms-flex-align:center;-ms-grid-row-align:center;align-items:center}}.end_col_btn:hover{color:#000;-webkit-transition:.4s;transition:.4s;cursor:pointer;text-decoration:none!important}


.adress-bottom{
  font-family: "AvenirNextCyr-Regular";
}
@media screen and (min-width:768px) and (max-width:1024px){
    .footer__logo{
        justify-content: flex-start !important;
      }
      .footer__number{
        display: flex;
      }
      .footer__email{
        display: flex;
      }
}