@font-face {
    font-family: "AvenirNextCyr-Bold";
    src: url(../font/AvenirNextCyr-Bold.woff) format("woff"), url(../font/AvenirNextCyr-Bold.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "arial-Bold";
    src: url(../font/Arial-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "monserat-bold";
    src: url(../font/Montserrat-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "monserat-regular";
    src: url(../font/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextCyr-Regular";
    src: url(../font/AvenirNextCyr-Regular.woff) format("woff"), url(../font/AvenirNextCyr-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url(../font/roboto.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto-bold";
    src: url(../font/roboto-bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: BebasNeueBold;
    src: url(../font/BebasNeue-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

.adress-bottom {
    font-family: "AvenirNextCyr-Regular";
}

.adress-bottom:lang(kk) {
    font-family: "monserat-regular";
}

@media (min-width: 1024px) {
    .inform-wrapper {
        min-height: 295px !important;
        margin-bottom: 1rem;
    }
}

.container-player-poster {
    height: 0 !important;
    width: 100% !important;
    display: none !important;
}

.container-player-inner {
    width: 100% !important;
    position: absolute;
    left: 0 !important;
}

.nav__lg:lang(kk) {
    font-family: BebasNeueBold, sans-serif;
}

.nav__lg {
    color: #2d3135;
    font-size: 20px;
    font-family: BebasNeueBold, sans-serif;
}

.f20 {
    margin-bottom: 20px;
}

.d-y {
    margin-top: 20px;
}

.s5-inform {
    margin-top: 23px;
}

.s5-inner h3 {
    height: 54px;
}

* {
    margin: 0;
    padding: 0;
}

.header-link-info {
    padding: 0 2rem 0 0.7rem;
}

.header-link-btn {
    padding: 20px 2rem 0 0.7rem;
}

.first-years-mob {
    display: none;
}

.contact-content {
    border: none !important;
    padding: 0 !important;
    position: relative;
}

.doc {
    text-decoration: none;
    color: #2d2e35;
    padding: 15px;
    border-radius: 6px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.doc:focus,
.doc:hover {
    color: #9d6c26 !important;
    text-decoration: none;
    background: #f5f0e7;
}

.down_style {
    color: #fff !important;
}

.doc:focus .doc__content>.doc__title,
.doc:hover .doc__content>.doc__title {
    text-decoration: none;
}

.doc__type {
    background: #d9a158;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 56px;
    flex: 0 0 56px;
    max-width: 56px;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 3px;
}

.doc__type-title {
    font-size: 13px;
    color: #fff;
}

.doc__icon {
    width: 24px;
    height: 24px;
}

.doc__title {
    font-size: 1.125rem;
    line-height: 20px;
    padding-left: 15px;
}

#top__title_text {
    padding: 0 !important;
    height: 100%;
    display: flex;
    align-items: center;
}

.contact-content:before {
    content: "";
    width: 50px;
    height: 3px;
    background-color: #d9a158;
    right: 1px;
    position: absolute;
    bottom: 10%;
}

.tagline-top {
    width: 100%;
}

.target-1 {
    background-image: url(../images/target1.jpg);
    background-repeat: no-repeat;
}

.vision {
    background-image: url(../images/vision.jpg);
    background-repeat: no-repeat;
}

.mission-2 {
    background-image: url(../images/mission.jpg);
    background-repeat: no-repeat;
}

.target-row {
    width: 100%;
}

.target-item {
    width: 340px;
    height: 252px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 4px;
    background-position-x: center;
    background-size: cover;
    padding: 35px 45px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0px 13px 14.94px 3.06px rgba(104, 104, 112, 0.21);
    box-shadow: 0px 13px 14.94px 3.06px rgba(104, 104, 112, 0.21);
    box-sizing: border-box;
    backface-visibility: hidden;
}

.target-item h1 {
    position: relative;
    z-index: 3;
    color: #fff;
    text-transform: uppercase;
}

.target-card {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.target-card-text {
    background-color: rgba(227, 227, 227, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(100%);
    transition: all 0.5s ease;
    border-left: 5px solid #d9a158;
}

.target-card-text .fs18-fix {
    text-align: center !important;
}

.target-card:hover .target-card-text {
    transform: translateY(0);
}

.target-card .target-title {
    top: 45%;
    position: absolute;
}

.target-card img {
    width: 100%;
    max-width: 100%;
    /* max-height: 290px; */
    border-left: 5px solid #d9a158;
}

.target-span {
    position: absolute;
    bottom: 3rem;
    left: 1.5rem;
}

.back-target-span {
    position: absolute;
    bottom: 3.5rem;
    left: 3.5rem;
}

.back-target-item {
    position: absolute;
    left: 0;
    top: -40px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.back-target-item {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    width: 350px;
    height: 368px;
    background-position-x: center;
    background-image: url(../images/back-target.png);
    background-size: cover;
    background-position-y: center;
    padding: 40px 60px;
}

.back-target-item p {
    width: 220px;
}


/* .target-card:hover .target-item {
  -webkit-transform: rotateY(180deg) scale(1.1);
  -ms-transform: rotateY(180deg) scale(1.1);
  transform: rotateY(180deg) scale(1.1);
}
.target-card:hover .back-target-item {
  -webkit-transform: rotateY(360deg) scale(1.1);
  -ms-transform: rotateY(360deg) scale(1.1);
  transform: rotateY(360deg) scale(1.1);
} */

.target-item h1 {
    font-size: 24px;
    /* font-family: "HelveticaNeueCyr"; */
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    margin-bottom: 25px;
}

.back-target-item h1 {
    text-align: center;
    font-size: 24px;
    /* font-family: "HelveticaNeueCyr"; */
    color: #000;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 25px;
}

.back-target-item p {
    width: 220px;
    font-size: 16px;
    color: #000;
    line-height: 1.5;
    text-align: center;
    width: 240px;
}

.target-item p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: left;
    width: 240px;
}

.navbar-nav {
    justify-content: center;
    width: 100%;
}

.banner-main {
    position: relative;
    /* min-height: 600px; */
    transition: all 1s ease;
}

.bg-banner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: red; */
    z-index: 9999;
    background-size: cover;
    opacity: 0;
}

.header_logo {
    -o-object-fit: cover;
    object-fit: cover;
    height: 70px;
    padding-top: 3px;
    margin-right: 5px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    min-height: 75px;
    display: flex;
    align-items: center;
}

#header.default {
    z-index: 999 !important;
}

.navbar {
    padding: 0 1rem !important;
}

.logo_content {
    color: #2d3135;
    font-size: 16px;
    margin-left: 0;
    padding-top: 5px;
    margin-right: 40px;
    font-family: BebasNeueBold, sans-serif;
    text-align: left;
    /* letter-spacing: -1px; */
}

.hover_box_bg {
    background-color: #fff;
    opacity: 1;
    /* padding-top: 25px; */
}

.block_pt_invest {
    padding-top: 80px;
}

.block_pt_invest_info {
    padding-top: 85px;
}

@media (max-width: 1095px) {
    .logo_content {
        margin-right: 50px;
    }
}

@media (max-width: 454px) {
    .logo_content {
        margin: 0 auto;
    }
}

.navbar {
    position: static;
    height: 80px !important;
    /* padding-left: 0;
  padding-right: 0; */
}

.navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav__lang {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0.5rem;
}

.nav-dropdown {
    height: 80px;
    display: flex;
    align-items: center;
    padding-right: 35px;
}

.nav-link {
    /* padding: 29px 30px 35px; */
    padding: 0 !important;
    /* margin: 0 7px; */
    font-size: 14px;
    /* font-family: 'Yanone Kaffeesatz', arial; */
    color: #2d3135 !important;
    position: relative;
}

.nav-link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dba764;
    bottom: -8px;
    left: 0;
    transition: all 0.3s ease;
    transform: scale(0);
}

.nav-link:hover:after {
    width: 100%;
    height: 2px;
    background-color: #dba764;
    transform: scale(1);
}

.dropdown-menu:lang(kk) {
    width: 61%;
    left: 39%;
}

.dropdown-menu {
    width: 58%;
    left: 42%;
    top: 87px;
    min-height: 300px;
    top: 52px;
    /* background: RGBA(255,255,255,0.7); */
    background-color: transparent;
    border-radius: 0;
    border-color: none;
    border: none;
    /* display: none; */
    z-index: 99999;
    padding: 0;
}

.dropdown-menu .hover_box_list a {
    text-align: left;
}

.header-link-left {
    background-color: #f1f1f1;
    opacity: 0.9;
}


/* .drop-menu-2{
    background: RGBA(255,255,255,0.9);
} 
.drop-menu-3{
    background: RGBA(255,255,255,0.9);
}
.drop-menu-4{
    background: RGBA(255,255,255,1); */


/* } */

.dropdown-menu img {
    width: 100%;
    height: 100%;
}

.drop-row {
    margin: 0 !important;
    display: flex;
    padding-top: 25px;
}

.dropdown-left {
    width: 41%;
}

.dropdown-right {
    /* background: RGBA(255,255,255,0.8); */
    padding-left: 9px;
    min-height: 300px;
    width: 100%;
}

.drop-right-text {
    min-height: 235px;
}

.dropdown-menu-active {
    display: block;
}

.dropdown-mobile {
    display: none;
}

.dropdown-mobile ul {
    background-color: #fff;
}

.dropdown-mobile li {
    list-style-type: none;
}

.dropdown-menu a {
    display: block;
    margin-bottom: 0;
    color: #dba764;
    text-align: center;
}

.hover_box_btn:hover {
    color: #fff !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.active {
    color: #dba764 !important;
}

.active-link {
    color: #dba764;
}

.active-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dba764;
    bottom: 27px;
    left: 0;
    transition: all 0.3s ease;
    transform: scale(1);
}


/* .active-link {
    padding: 30px 30px 34px;
    color: #dba764 !important;
}
.active-link:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dba764;
    bottom: 27px;
    left: 0;
    transform: scale(1);
} */


/* .nav__lg:lang(kk) {
  font-family: BebasNeueBold, sans-serif;
} */

.nav__lg {
    color: #2d3135;
    font-size: 20px;
    font-family: BebasNeueBold, sans-serif;
}

@media (max-width: 1200px) {
    .nav_container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 1053px) {
    .nav-link {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

@media (max-width: 991px) {
    .nav-link {
        margin: 0 auto;
        padding: 30px 20px;
    }
}

@media (max-width: 440px) {
    .nav_container {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 99999;
    }
    .nav_container {
        padding: 0;
    }
    .logo_content {
        font-size: 13px;
    }
    .navbar {
        padding: 0.5rem;
    }
    .header_logo {
        height: 50px;
    }
}

@media (max-width: 991px) {
    .top {
        margin-top: 0 !important;
    }
}

.nav-link:hover {
    color: #dba764 !important;
}

.nav__lg:hover {
    cursor: pointer;
    color: #dba764 !important;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    text-align: center;
    display: none;
    padding-right: 0 !important;
}


/* .header__title_text:lang(kk) {
  font-family: BebasNeueBold, sans-serif;;
} */

.header__title_text {
    font-size: 65px;
    font-family: BebasNeueBold, sans-serif;
}


/* .header__subtitle:lang(kk) {
  font-family: BebasNeueBold, sans-serif;;
} */

.header__subtitle {
    width: 100%;
    padding: 2px;
    color: #000;
    text-align: center;
    max-width: 700px;
    background: #dba764;
    font-family: BebasNeueBold, sans-serif;
}

.header_zone {
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
}


/* .header_text:lang(kk) {
  font-family: BebasNeueBold, sans-serif;;
} */

.header_text {
    text-transform: uppercase;
    font-family: BebasNeueBold, sans-serif;
    font-size: 65px;
    color: #fff;
    padding-top: 360px;
    padding-bottom: 300px;
}

.header-fs {
    font-size: 65px;
}

.header_text span {
    background-color: #dba764;
    color: #2d3135;
}

.header_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mission,
.seeing,
.target {
    text-align: center;
}

.mission p,
.target p {
    color: #2d3135;
}


/* .target-title:lang(kk){
  font-family: "roboto-Bold", sans-serif;
  font-size: 40px;
} */

.target-title {
    font-family: BebasNeueBold, sans-serif;
    font-size: 45px;
    text-shadow: 2px 5px 12px black, 0 0em 17em #dba764;
    text-transform: uppercase;
    color: #fff;
    /* margin: 0; */
    height: fit-content;
    position: relative;
    width: 100%;
    text-align: center;
}

.seeing-title img {
    margin-bottom: 3rem;
}

.target-center {
    margin: 0 4rem 6rem;
}

.fix-img-active {
    transform: scale(1) !important;
    opacity: 1 !important;
    transition: all 0.5s ease;
}


/* .mission-title:lang(kk) {
  font-family: BebasNeueBold, sans-serif;;
} */

.mission-title {
    font-family: BebasNeueBold, sans-serif;
    font-size: 50px;
    color: #2d3135;
}

.seeing-inner p {
    line-height: 0.9;
    margin-left: 15px;
    font-family: "AvenirNextCyr-Regular", sans-serif;
    font-size: 18px;
    color: #2d3135;
}


/* .mission img, .seeing-inner img, .target img {
    opacity: .47;
    width: 222px;
    height: 222px;
} */

.mission img:hover,
.seeing-inner img:hover,
.seeing-inner:hover,
.target img:hover {
    opacity: 1;
    -webkit-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.seeing-inner img:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.seeing-title {
    display: flex;
    align-items: center;
}


/* .seeing-title .target-title{
    margin: 0 1rem;
} */


/* .target-active {
  color: #dba764;
} */

.seeing-title span {
    width: 60px;
    height: 4px;
    background-color: #dba764;
    display: block;
}

.seeing-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 500px;
    background-color: #fff;
}

.seeing-inner p {
    text-align: center;
    margin-right: 20px;
}

.seeing {
    position: relative;
}

.s1 {
    background-image: url(../images/nic.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    display: flex;
    align-items: center;
    padding-top: 100px;
    /* margin-top: -50px; */
}

.s1-inner {
    padding: 120px 0 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.s1-left {
    width: 529px;
    /* margin-top: -17px; */
    /* margin-left: -169px; */
}

.s1-right {
    /* margin-left: -40px !important; */
}


/* .s1-left h3:lang(kk) {
  font-family: BebasNeueBold, sans-serif;;
} */

.s1-left h3 {
    font-family: BebasNeueBold, sans-serif;
    font-size: 45px;
    color: #2d3135;
    margin: 0;
    text-transform: uppercase;
}

.line-inter {
    margin-top: 14px !important;
    margin-bottom: 20px !important;
}


/* .s1-left span {
  width: 60px;
  height: 4px;
  background-color: #dba764;
  display: block;
  cursor: pointer;
  margin: 0.5rem auto 0;
} */


/* .s1-left span:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */

.line {
    cursor: auto !important;
}

.s1-left p {
    padding-left: 0;
    /* font-family: "AvenirNextCyr-Regular", sans-serif; */
    font-size: 19px;
    color: #2d3135;
    max-width: 528px;
    margin: 0 auto;
}

.s1-left-arrow {
    width: 65px !important;
    height: 65px !important;
    background-color: #dba764;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin: 1.5rem auto 0;
    transition: all 0.5s ease;
}

.s1-left-arrow:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section-dropdown-row {
    width: 100%;
    align-items: end;
}

.s1-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 430px;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-left: 60px; */
    /* height: 290px */
}

.section-dropdown-row {
    justify-content: space-between;
    width: 87% !important;
}

.investmentsDiv {
    display: flex;
    justify-content: center;
    margin-left: 113px;
}

.romb-rot {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 222px;
}


/* .fix-img {
    opacity: .6;
    transform: scale(.6);
} */

.romb1 {
    background-color: #fff;
    color: #000;
}

.romb1 span a {
    margin-top: 10px;
}

.line {
    margin-top: 10px;
}

.steps {
    margin-top: -23px;
}

.steps img {
    width: auto;
}


/* .s1-left {
    margin-top: -40px
} */

.romb {
    background-color: #fff;
    width: 151px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border: 2px solid #dba764;
}

.romb:hover {
    background-color: #dba764;
    transition: 0.75s;
}

.romb:hover span {
    color: #fff !important;
    transition: 0.75s;
}

.romb:hover .romb-link {
    color: #fff !important;
    transition: 0.75s;
}

.romb span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-align: center;
    font-size: 20px;
    font-family: BebasNeueBold, sans-serif;
    text-transform: uppercase;
}

.romb span a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.romb3 {
    background-color: unset;
    /* border: 10px solid #fff; */
}

.section-dropdown {
    position: relative;
    min-height: 600px;
    overflow: hidden;
    transition: all 1s ease;
}


/* #s1{
  padding-top: 120px;
  margin-top: -120px;
} */

.s2 {
    height: 100%;
    font-family: "monserat-regular";
    position: absolute;
    background-color: #fff;
    top: 0;
    transform: translateY(140%);
    opacity: 0;
    transition: all 1s ease;
}

.s2-active {
    transform: translateY(0) !important;
    opacity: 1 !important;
}

.s2-inner {
    padding-top: 120px;
}


/* .s2-inner h3:lang(kk) {
  font-family: BebasNeueBold, sans-serif;;
} */

.s2-inner h3 {
    font-family: BebasNeueBold, sans-serif;
    font-size: 50px;
    color: #2d3135;
    /*font-weight: 800;*/
    /* padding-bottom: 80px; */
}


/* .s2-inner .line {
  width: 60px;
  height: 4px;
  background-color: #dba764;
  display: block;
  margin: 0 auto;
} */

.s4 {
    max-width: 100% !important;
    height: 100%;
    /* font-family: "AvenirNextCyr-Bold", sans-serif; */
    position: absolute;
    background-color: #fff;
    top: 0;
    transform: translateY(120%);
    transition: all 1s ease;
}

.s4-active {
    transform: translateY(0);
}

.first-years {
    margin-left: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.y-text {
    font-family: "monserat-regular";
    font-size: 14px;
    margin: 10px 0;
}

.bold-num {
    font-family: "Avenir Next Cyr Bold", sans-serif;
    font-size: 25px;
}

.mr {
    margin-right: 15px;
}

.year13 {
    max-width: 225px;
    width: 100%;
}

.year12 {
    margin-left: -30px;
    width: 90px;
}

.year12:nth-child(2) {
    margin-left: 130px;
    width: 200px;
    /* width: auto !important; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.bold-num {
    line-height: 24px;
}

.year13:nth-child(2) {
    max-width: 210px;
    width: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.year12:nth-child(3) {
    max-width: 200px;
    width: 100%;
    margin-left: 80px;
}

.year13:nth-child(3) {
    max-width: 215px;
    width: 100%;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.year12:nth-child(4) {
    max-width: 200px;
    width: 100%;
    margin-left: 70px;
}

.year12:nth-child(5) {
    max-width: 200px;
    width: 100%;
    margin-left: 80px;
}

.year13:nth-child(4) {
    max-width: 145px;
    width: 100%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second-part-y {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* height: 100px; */
}

.steps {
    /* max-width: 1140px;
  width: 96%; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 5px auto 20px;
    /* margin-bottom: 20px;
    margin-top: 5px; */
}

.circle {
    border: 5px solid #dba764;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.d-y_adaptiv {
    display: none;
}

.s3 {
    background-image: url(../images/nic-2.png);
    /*background-size: 100%;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.s3-inner {
    padding: 120px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: end;
}

.romb-rot2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 400px;
    width: 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.s3-right {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: -137px;
}

.s3-right p {
    padding-left: 0;
    /* font-family: "AvenirNextCyr-Regular", sans-serif; */
    font-size: 19px;
    color: #2d3135;
    max-width: 503px;
    margin: 0 auto;
}


/* .title:lang(kk) {
  font-family: BebasNeueBold, sans-serif;;
  text-transform: uppercase;
} */

.title {
    font-family: BebasNeueBold, sans-serif;
    font-size: 45px;
    color: #2d3135;
    margin: 0;
    line-height: 45px;
    padding-top: 25px;
}

.line {
    width: 60px;
    height: 4px;
    background-color: #dba764;
    display: block;
    cursor: pointer;
    margin: 13px auto;
}

.s3-right p {
    font-size: 19px;
    color: #2d3135;
    /* font-family: "AvenirNextCyr-Regular", sans-serif; */
    margin-bottom: 0;
}


/* .s3-down-btn {
    position: absolute;
    right: 0;
    bottom: -90px
} */

.s4-inner {
    padding: 130px 0;
    position: relative;
}


/* .s4-inner h3:lang(kk) {
  font-family: BebasNeueBold, sans-serif;;
} */

.s4-inner h3 {
    font-size: 50px;
    font-family: BebasNeueBold, sans-serif;
    color: #2d3135;
    /*font-weight: 700;*/
}

.s4-inner .line {
    width: 60px;
    height: 4px;
    background-color: #dba764;
    display: block;
    margin: 0 auto;
}

.s5 {
    padding-top: 2rem;
}

.blockofbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    /* padding-bottom: 40px; */
}

.box {
    max-width: 260px;
    width: 100%;
    padding: 20px 15px;
    background-color: #f7f7f7;
    text-align: center;
}

.box:lang(kk) {
    font-family: "monserat-regular";
    font-size: 15px;
}

.f20:lang(kk) {
    font-family: sans-serif;
    font-weight: 600;
}

.f20 {
    color: #dba764;
    font-size: 19px;
    text-transform: uppercase;
    font-family: "arial-Bold", sans-serif;
}

.fix-font {
    font-family: "AvenirNextCyr-Bold", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

body {
    line-height: 1.2;
    padding-top: 75px;
}

.f14 {
    color: #2d3135;
    font-size: 14px;
    font-family: "AvenirNextCyr-Regular", sans-serif !important;
    font-weight: 300;
}

.m10 {
    margin: 0 0 0 20px;
}

.first-line,
.second-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.second-line {
    padding-left: 10px;
}

.s5-inner {
    padding-bottom: 95px;
}


/* .s5-inner h3:lang(kk) {
  font-family: BebasNeueBold, sans-serif;;
} */

.s5-inner h3 {
    text-align: center;
    color: #2d3135;
    font-size: 50px;
    font-family: BebasNeueBold, sans-serif;
    text-transform: uppercase;
}

.s5-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.s5-boxes {
    max-width: 275px;
    width: 100%;
    min-height: 375px;
    position: relative;
    background-color: #f5f5f5;
}

.s5-boxes img {
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 274px;
    width: 100%;
    height: 100%;
    max-height: 200px;
    border-left: 5px solid #d9a158;
}

.s5-boxes span {
    font-size: 16px;
    /*font-family: "AvenirNextCyr-Regular", sans-serif;*/
    width: 61%;
    color: #fff;
    background-color: #d9a158;
    padding: 5px 10px;
    position: absolute;
    z-index: 9;
    display: block;
    bottom: 0;
    font-weight: lighter;
    height: 29px;
}

.s5-boxes p {
    font-size: 15px;
    font-family: BebasNeueBold, sans-serif;
    color: #2d3135;
    padding: 15px 13px 0;
    margin-bottom: unset;
    text-align: center;
}

.s5-boxes a {
    font-size: 15px;
    font-family: BebasNeueBold, sans-serif;
    color: #2d3135;
    padding: 15px 13px 0;
    margin-bottom: unset;
    text-align: center;
}

.inform-wrapper-last p {
    font-size: 17px;
    text-align: center;
    padding-top: 0 !important;
}

.romb3 {
    cursor: auto;
    color: #fff;
    background: #dba764;
}


/* .fs18:lang(kk) {
  font-family: BebasNeueBold, sans-serif;;
} */

.fs18 {
    font-family: BebasNeueBold, sans-serif;
    font-size: 45px;
    color: #2d3135;
    margin: 0;
}

.fs18-fix {
    /* font-family: "AvenirNextCyr-Regular", sans-serif; */
    font-weight: 400;
    font-size: 19px;
    color: #2d3135;
    padding: 15px;
    text-align: left;
}

.first-line2,
.second-line2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
}

.color-orange {
    color: #d9a158 !important;
    margin-top: 10px;
    background-color: unset !important;
    padding: unset !important;
    position: unset !important;
    display: flex !important;
    justify-content: center;
    font-size: 26px !important;
    font-weight: bolder;
    /* font-family: "AvenirNextCyr-Regular", sans-serif; */
}

.s-boxes-last {
    color: #fff !important;
    /* max-width: 230px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s-boxes-last p {
    color: #fff !important;
}

.mr10 {
    margin-right: 12px;
}

@media (max-width: 1500px) {
    .header_text {
        padding-top: 170px;
        padding-bottom: 300px;
    }
    .s1,
    .s3 {
        background-size: cover;
        /*background-image: unset;*/
        /*background-color: #f6f6f6*/
    }
    .romb {
        width: 151px;
        height: 150px;
    }
    /* .romb-rot {
    height: 222px;
  } */
}

@media (max-width: 848px) {
    .s1 {
        background-position: center;
        background-position-x: 73%;
    }
}

@media (max-width: 781px) {
    .header__title_text {
        font-size: 35px;
    }
    .header__subtitle {
        max-width: 70%;
        font-size: 35px;
    }
}

@media (max-width: 560px) {
    .header__title_text {
        text-align: center;
        font-size: 35px;
    }
    .header__subtitle {
        text-align: center;
        max-width: 100%;
        font-size: 35px;
    }
}

@media (max-width: 1200px) {
    .header_text {
        padding: 180px 0;
    }
    .header-fs {
        font-size: 50px;
    }
    .dots-right {
        right: 0;
    }
    .dots-left {
        left: 0;
    }
    .first-years {
        margin: 0;
    }
    .s4-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .blockofbox {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        /* flex-direction: column; */
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    .first-line {
        padding-bottom: 15px;
    }
    .box {
        max-width: 46%;
        margin-bottom: 15px !important;
        /* height: 225px; */
        margin: 0 20px;
        /* width: calc(50% - 20px); */
    }
    .s4-inner .line {
        position: unset;
    }
    .s5-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        /* -ms-flex-direction: column; */
        /* flex-direction: column; */
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    /* .s5-boxes {
    margin: 10px;
  } */
    .first-line2,
    .second-line2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.s6-inner {
    padding: 80px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


/* .s6-inner h5:lang(kk) {
  font-family: BebasNeueBold, sans-serif;;
} */

.s6-inner h5 {
    font-family: BebasNeueBold, sans-serif;
    font-size: 25px;
    color: #2d3135;
}

.s6-inner p {
    font-family: "AvenirNextCyr-Regular", sans-serif;
    font-size: 16px;
    color: #2d3135;
    font-weight: 700;
}

.beb {
    font-family: "roboto", sans-serif !important;
    font-size: 14px !important;
    color: #2d3135 !important;
    padding: 0 10px;
}

.s6-blocks {
    width: 25%;
}

.nat-tit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 1080px) {
    .romb-rot2 {
        padding-left: 50px;
    }
}

@media only screen and (min-width: 100px) and (max-width: 993px) {
    .navbar {
        height: auto !important;
    }
    .top-index video {
        object-fit: fill !important;
    }
    .top__title {
        /* position: static !important; */
        text-align: center !important;
    }
    .dropdown-menu {
        display: none !important;
    }
    .dropdown-mobile {
        display: block;
        margin-top: 0.5rem;
    }
    .s1-right {
        padding-top: 0;
    }
    /* .header_block {
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    } */
    .header_text {
        padding: 125px 0;
    }
    .seeing-inner,
    .target {
        margin-bottom: 70px;
    }
    .seeing {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .s1 {
        height: 885px;
    }
    .s1-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0;
    }
    .s1-right {
        padding-top: 100px;
        margin: 0 auto;
        max-width: 350px;
    }
    /* .romb-rot {
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
    } */
    .romb span {
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
    }
    .year {
        margin: 0;
        position: relative;
    }
    .first-years,
    .second-part-y {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .s2 {
        height: 810px;
    }
    .s3-inner {
        padding-top: 0;
    }
    .romb-rot2 {
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        padding-left: 0;
        max-width: 320px;
        width: 100%;
        padding-bottom: 40px;
    }
    .romb span {
        font-size: 14px;
    }
    .s3 {
        height: auto;
    }
    .s3-inner {
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        /* flex-direction: column; */
        height: auto;
    }
    .to-top {
        right: unset;
    }
    .s4-inner {
        padding: 50px 0;
    }
    .s6-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .s6-blocks {
        margin: 20px 0;
        width: unset;
    }
}

@media (max-width: 1024px) {
    .first-years,
    .second-part-y {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .d-y {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .to-top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

.nav__lang-mobile {
    display: none;
}

.link-lux {
    display: flex;
    justify-content: center;
}

@media (max-width: 320px) {
    .romb {
        width: 93px !important;
        height: 95px !important;
        margin: 8px !important;
    }
}

@media (max-width: 578px) {
    .year .title-collapse {
        display: flex;
        justify-content: center;
    }
    .year .title-collapse img {
        margin: 0 !important;
    }
    .modal .button--reg {
        margin-top: 0 !important;
    }
    .pointer-mobile {
        display: block !important;
    }
    /* .button--reg{
    margin-top: 75px;
  } */
    .download-a {
        width: 30px;
        height: 30px;
    }
    .download_right_col {
        width: 30px;
        height: 30px;
    }
    .mod-footer {
        margin-left: 0 !important;
        margin-top: 10px;
    }
    .top__title .px-5 {
        padding: 0 !important;
    }
    .tagline-top {
        margin-top: 0 !important;
    }
    /* .logo_content:lang(kk){
    font-size: 14px !important;
  } */
    .collapse-content {
        display: none;
    }
    .y-text {
        font-size: 11px !important;
        position: absolute;
        top: 16px;
        background-color: #fff;
        z-index: 999;
        width: 95%;
    }
    .s5-inner h3 {
        height: auto !important;
    }
    .title {
        font-size: 25px;
        padding: 0;
        margin: 0;
    }
    .link-lux a {
        display: block;
        margin: 0 !important;
    }
    .s4-inner {
        padding-top: 105px !important;
    }
    .link-lux {
        margin: 1rem 0 !important;
        text-align: center !important;
        display: block;
    }
    .top__title {
        font-size: 40px;
    }
    .s3-right {
        margin-right: 0 !important;
    }
    .s5-boxes {
        max-width: 100% !important;
        min-height: 0;
        height: auto !important;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
    .target-card-text .fs18-fix {
        font-size: 14px;
        padding-top: 0;
    }
    .wrapper-video {
        height: 45vh !important;
    }
    .nav__lang-mobile {
        display: block;
    }
    .nav__lang-desk {
        display: none;
    }
    .romb {
        width: 90px;
        height: 90px;
        margin: 8px;
        /* transform: rotate(45deg) !important; */
    }
    .d-y {
        flex-direction: row !important;
        /* align-items: baseline; */
        height: 100%;
        position: relative;
    }
    #s-1-cl {
        position: absolute;
        bottom: 12px;
    }
    .list-arrow-down {
        display: none;
    }
    .s1-left-arrow {
        margin-top: 1rem !important;
        width: 45px !important;
        height: 45px !important;
    }
    .s2 {
        height: 100% !important;
    }
    .s2-inner h3 {
        padding-bottom: 0;
    }
    .mr {
        margin-right: 0 !important;
        margin-bottom: 70px;
    }
    .s2 {
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0;
    }
    .first-years {
        display: none;
    }
    .first-years-mob {
        display: block;
        width: 135px;
    }
    .year13 {
        margin-top: 45px;
        font-size: 12px;
    }
    .second-part-y {
        height: 100%;
    }
    .year12 {
        margin-top: 5px;
        margin-left: 0px;
        font-size: 13px;
        width: auto !important;
    }
    .year12:nth-child(2) {
        margin-top: 42px;
        margin-left: 0px;
        width: auto !important;
    }
    .year13:nth-child(2) {
        margin-top: 65px;
        margin-left: 0px;
    }
    .year12:nth-child(3) {
        margin-top: 42px;
        margin-left: 0px;
    }
    .year13:nth-child(3) {
        margin-top: 70px;
        margin-left: 0px;
    }
    .year12:nth-child(4) {
        margin-top: 42px;
        margin-left: 0px;
    }
    .year12:nth-child(5) {
        margin-top: 42px;
        margin-left: 0px;
    }
    .year13:nth-child(4) {
        margin-top: 58px;
        margin-left: 0px;
    }
    .back-target-item p {
        width: 91%;
        margin: 0 auto;
    }
    .circle {
        margin: 0 0;
        width: 20px;
        height: 20px;
        z-index: 99999;
        background: #fff;
    }
    .steps img {
        transform: rotate(90deg);
        width: 70px;
    }
    .steps {
        flex-direction: column;
        width: 25px;
        margin: 5px 8px;
        height: 470px;
    }
    .s3 {
        padding-top: 45px;
    }
    body {
        /* padding-top: 125px; */
    }
    #header {
        padding: 0 !important;
    }
    .top-index {
        /* min-height: 600px !important; */
        background-size: auto !important;
        background-position-y: 21%;
        background-position-x: 32%;
    }
    .back-target-item {
        padding: 40px 14px;
        width: 100%;
        margin: 10px 0;
    }
    /* .preview_cont {
        margin-top: -90px !important;
    } */
    .s1-left {
        width: 100%;
    }
    .top__title {
        font-size: 35px !important;
    }
    .target-card {
        width: 100%;
        max-height: 207px;
        margin-bottom: 1rem;
    }
    .target-item {
        width: 100%;
    }
    .s1-right {
        padding-top: 50px !important;
        padding-bottom: 30px !important;
    }
    .revealator-zoomin {
        transform: unset !important;
        opacity: 1 !important;
    }
    .revealator-slideup {
        transform: unset !important;
        opacity: 1 !important;
    }
    .revealator-rotateleft {
        transform: unset !important;
        opacity: 1 !important;
    }
    .romb-rot {
        transform: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(45deg);
        /* justify-content: center; */
    }
    .s3 {
        padding-top: 10px !important;
    }
    .s1 {
        padding-top: 0 !important;
    }
    .romb-rot2 {
        display: flex;
        justify-content: center;
        flex-direction: row !important;
        align-items: center !important;
        transform: rotate(45deg) !important;
        padding-top: 43px;
        margin-top: 20px;
    }
    .s3-inner {
        padding-top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }
    .romb-rot2 {
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        padding-left: 0;
        max-width: 320px;
        width: 100%;
        padding-bottom: 40px;
    }
    .s1-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .header_block {
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    /* .preview_div {
        padding-top: 140px !important;
    } */
    .s1-inner {
        padding: 70px 0;
    }
    .s3-inner {
        padding-bottom: 50px;
    }
    .s5-inner {
        padding-top: 2rem !important;
    }
    .s4-inner h3 {
        font-size: 35px;
    }
    .s5-inner h3 {
        font-size: 37px !important;
    }
    .s4 {
        overflow-y: scroll;
    }
    .s1-right {
        padding-top: 120px;
    }
    .s5-boxes p {
        padding: 15px 13px 0;
    }
    .dropdown-mobile li {
        font-size: 14px !important;
    }
    .top__subtitle_description {
        margin: 25px 0 15px 0;
    }
    .first_slide {
        margin-top: 15px;
    }
    .general_box_left img {
        width: 50px;
        height: 50px;
    }
    .infrastructure {
        padding-bottom: 30px;
    }
    .finish {
        padding-top: 50px;
    }
    .header_container {
        padding-top: 0;
        padding-bottom: 0;
    }
    .banner-top {
        /* height: 200px; */
        background-position-x: -125px;
    }
    .top {
        background-size: cover;
        background-repeat: no-repeat;
    }
    .top__title {
        padding: 0 !important;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .about-collapse {
        display: none;
    }
    .about-collapse-active {
        display: block !important;
    }
}

@media (max-width: 600px) {
    .dots-left,
    .dots-right {
        display: none;
    }
    .header-fs {
        font-size: 32px;
    }
    .mission-title,
    .seeing-title,
    .target-title {
        font-size: 28px !important;
    }
    .header_text {
        padding: 100px 0;
    }
}

@media (max-width: 555px) {
    .s2-inner h3 {
        font-size: 30px;
        padding-bottom: 0 !important;
    }
    .s2-inner {
        padding-top: 73px;
    }
    .first-line,
    .second-line {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .box {
        margin: 5px !important;
        font-size: 12px;
        padding: 10px 5px;
    }
    .f20 {
        font-size: 14px;
    }
    .first-line {
        padding-bottom: 0;
    }
    .first-line2,
    .second-line2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .fs18 {
        padding: 15px;
        font-size: 28px;
    }
    .seeing-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 213px;
    }
    .seeing-inner p {
        margin: 0;
        padding: 10px;
    }
    .header_text {
        padding: 50px 0;
    }
    .d-y {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .first-years,
    .second-part-y {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 135px;
    }
    .s3 {
        background-position: 25% 0%;
    }
    .s2-inner h3 {
        padding-bottom: 35px;
    }
}

@media (max-width: 460px) {
    .s3-right {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }
    .s3-right .line {
        right: unset;
    }
    .romb-rot2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .s3 {
        height: auto;
    }
    .s3-inner {
        padding-top: 70px;
        height: auto;
        flex-flow: wrap-reverse;
    }
    .bg-banner {
        display: none;
    }
    /* .romb-rot2 .romb {
        max-width: 300px;
        height: 150px;
        width: 100%;
        margin-right: 0
    } */
    .romb-rot2 {
        max-width: unset;
    }
}

@media screen and (min-width: 730px) and (max-width: 1000px) {
    .footer__logo {
        width: 50% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer__logo a>img {
        margin-left: 0;
    }
    .target-card .target-title {
        top: 40% !important;
    }
    .footer__email {
        font-size: 14px !important;
    }
    .fs18 {
        font-size: 28px;
    }
    .fs18-fix {
        font-size: 16px;
    }
    .tagline-top {
        text-align: left;
    }
    .s1-left-arrow {
        margin: 0 auto;
        width: 45px !important;
        height: 45px !important;
    }
    .s2-active {
        /* height: auto; */
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .map-list {
        display: flex;
        justify-content: center;
    }
    .wrapper-video {
        height: 45vh !important;
    }
    .act-box {
        padding: 15px;
        margin: 10px auto;
    }
    .slick-dots {
        margin-top: 20px;
    }
    .tab-col_position {
        font-size: 18px;
    }
    .steps img {
        width: 50px;
    }
    .mr {
        display: none;
    }
    .steps {
        margin: 5px 0px 0px;
    }
    .preview_div {
        padding-top: 20px;
    }
    .s2 {
        height: 101%;
    }
    .s3-right {
        margin-right: 0 !important;
    }
    .section-dropdown-row {
        width: auto !important;
    }
    .s1-left {
        width: auto;
    }
    .nav-dropdown {
        display: block !important;
        padding-right: 0 !important;
        margin-bottom: 1rem;
        height: auto !important;
    }
    .s5-boxes {
        /* height: auto; */
        /* min-height: 360px; */
    }
    .top-index video {
        height: 45vh !important;
    }
    .target-row {
        justify-content: center;
    }
    .year {
        width: 140px !important;
        max-width: unset !important;
    }
    .target-card {
        width: 100%;
    }
    .target-card:last-child {
        margin-bottom: 1rem;
    }
    .investmentsDiv {
        margin-left: 0;
    }
    .s1-right {
        margin-left: 0 !important;
    }
    .nav__lang-mobile {
        display: block;
    }
    .nav__lang-desk {
        display: none;
    }
    .top__title {
        padding-top: 110px !important;
        padding-bottom: 0 !important;
        font-size: 54px !important;
    }
    .span-fix {
        max-width: 755px !important;
        /* margin: 0 auto; */
    }
    .mission-card {
        margin: 0 auto;
    }
    .romb-rot {
        transform: rotate(45deg);
        padding-left: 80px;
        margin-top: -35px;
    }
    .romb-rot2 {
        transform: rotate(45deg);
        /* width: 246px; */
    }
    .s3-right {
        width: 77%;
    }
    .s4 {
        overflow-y: scroll;
    }
    .d-y {
        display: flex;
        flex-direction: column;
    }
    .first-years,
    .second-part-y {
        display: flex;
        flex-direction: row;
        width: 113%;
    }
    .year12:nth-child(1) {
        margin-left: -45px;
        width: 15%;
    }
    .first__slide_icon {
        width: 60px;
    }
    .width_tab_3 {
        width: 970px !important;
    }
    .year12 .bold-num {
        font-size: 19px;
    }
    .year12 p {
        font-size: 13px;
    }
    .year13 .bold-num {
        font-size: 19px;
    }
    .year13 p {
        font-size: 13px;
    }
    .year12:nth-child(2) {
        margin-left: 32px;
        margin-right: 5px;
    }
    .year12:nth-child(3) {
        margin-left: 40px;
        margin-right: 5px;
    }
    .year12:nth-child(4) {
        margin-left: 41px;
        margin-right: 50px;
    }
    .year13:nth-child(1) {
        margin-left: 42px;
        justify-content: flex-end;
    }
    .year13:nth-child(2) {
        margin-left: 40px;
        justify-content: flex-end;
    }
    .year13:nth-child(3) {
        margin-left: 46px;
        margin-right: 30px;
        justify-content: flex-end;
    }
    .year13:nth-child(4) {
        margin-left: 11px;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .year {
        max-width: unset !important;
        width: 170px !important;
    }
    .year12:nth-child(2) {
        margin-left: 96px;
        margin-right: 5px;
    }
    .year12:nth-child(3) {
        margin-left: 35px;
        margin-right: 5px;
    }
    .year12:nth-child(4) {
        margin-left: 0px;
        margin-right: 50px;
    }
    .year13:nth-child(1) {
        margin-left: 57px;
        justify-content: flex-end;
    }
    .year13:nth-child(2) {
        margin-left: 77px;
        justify-content: flex-end;
    }
    .year13:nth-child(3) {
        margin-left: 78px;
        margin-right: 30px;
        justify-content: flex-end;
    }
    .year13:nth-child(4) {
        margin-left: 46px;
        justify-content: flex-end;
    }
    .dropdown-mobile {
        display: block;
    }
    .nav-link {
        font-weight: bold;
    }
    .target-card .target-title {
        top: auto !important;
    }
    .footer__logo {
        justify-content: center !important;
    }
    .footer__number {
        font-size: 22px;
    }
    .romb {
        width: 130px;
        height: 130px;
    }
    .romb span {
        font-size: 15px;
    }
    .year12:nth-child(1) {
        margin-left: -67px;
    }
    .year12:nth-child(2) {
        margin-left: 75px;
    }
    .year12:nth-child(3) {
        margin-left: 74px;
    }
    .year12:nth-child(4) {
        margin-left: 75px;
        margin-right: 0px;
    }
    .target-card-text {
        min-height: 100% !important;
        max-height: fit-content !important;
    }
    .fs18 {
        font-size: 25px;
    }
    .target-card {
        overflow: auto;
    }
    .target-card-text .fs18-fix {
        font-size: 15px;
        padding-top: 0 !important;
    }
    .dropdown-menu {
        display: none !important;
    }
    .nav_container {
        min-height: auto !important;
    }
    .navbar {
        height: auto !important;
    }
    .navbar-collapse {
        background-color: #fff;
    }
}

@media (max-width: 1050px) {
    .s3-down-btn {
        bottom: 0;
    }
    /* .s2 {
    height: 70%;
  } */
    .navbar-nav .dropdown-menu {
        display: block;
        border: none;
    }
    .end_row .end_col_btn {
        margin: 1rem 0;
    }
    .footer__col>div {
        margin: 0 0 0.8rem 0;
    }
    .fs18-fix {
        /* margin-top: -20px; */
    }
    .s5-inner {
        /* padding-top: 2rem; */
    }
    .s1 {
        height: auto;
        padding: 0;
    }
    .s1-left {
        margin-top: 1rem !important;
    }
    .romb {
        width: 104px;
        height: 104px;
        margin: 8px;
    }
    .s1-right {
        height: auto !important;
        padding-top: 40px;
    }
    .romb-rot {
        height: auto;
    }
    .romb {
        transform: rotate(45deg45deg) !important;
    }
    .romb span {
        font-size: 16px;
        transform: rotate(-45deg);
    }
    .d-y .d-y_adaptiv,
    .first-years-adaptiv {
        display: none;
        flex-direction: column;
    }
    .second-line {
        padding-left: 0px;
    }
}

.header_zone {
    margin-top: -19px;
}

@media (max-width: 991px) {
    .header_zone {
        margin: 0 auto;
    }
}

@media (max-width: 488px) {
    .s5-boxes span {
        font-size: 21px;
        width: 85%;
        line-height: 15px;
    }
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

a:hover {
    color: inherit !important;
    text-decoration: none !important;
}

.footer .row {
    /* align-items: center; */
    justify-content: space-between;
}

.footer_line {
    margin-top: 70px;
}

.footer {
    padding-top: 20px;
}

.footer__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
}

.footer__logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

.footer__logo img {
    height: 60px;
    max-width: 100px;
}


/* .footer__logo_text:lang(kk) {
  font-family: BebasNeueBold, sans-serif;;
} */

.footer__logo_text {
    font-size: 13px;
    font-family: BebasNeueBold, sans-serif;
}

.footer__number a {
    pointer-events: none;
}


/* .footer__number:lang(kk) {
  font-family: BebasNeueBold, sans-serif;;
} */

.footer__number {
    color: #d9a158;
    font-size: 23px;
    font-family: BebasNeueBold, sans-serif;
}

.footer__email {
    font-family: "AvenirNextCyr-Regular", sans-serif;
    color: #2d3135;
    font-size: 16px;
}

.footer__col_title:lang(kk) {
    color: #2d3135;
    font-family: BebasNeueBold, sans-serif;
    font-size: 22px;
    /* text-align: left; */
}

.footer__col_list:lang(kk) {
    font-family: "monserat-regular";
    font-size: 15px;
}

.footer__col_list {
    color: #2d3135;
    font-family: "AvenirNextCyr-Regular", sans-serif;
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
    text-transform: none;
}

.footer__col_list>a:hover {
    color: #dba764 !important;
}

.footer_line_bottom {
    margin-top: 40px;
}

.end_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.end_row {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.end_col {
    text-align: center;
    font-size: 16px;
    color: #2d3135;
    min-width: 162px;
    font-family: "AvenirNextCyr-Regular", sans-serif;
}

.end_col_btn {
    color: white;
    -webkit-box-pack: center;
    min-width: 170px;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "arial-Bold", sans-serif;
    text-decoration: none;
    background: #d9a158;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    max-width: 120px;
    transition: all 0.5s ease;
}

.col-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

@media (max-width: 991px) {
    .footer__col_title {
        font-size: 20px;
        margin-top: 12px;
    }
    .footer__number {
        font-size: 22px;
    }
}

@media (max-width: 769px) {
    #footer_2 {
        margin-top: 25px;
    }
    .footer__logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .footer__number {
        text-align: left;
        font-size: 15px;
    }
    .footer__email {
        font-size: 9px;
        text-align: left;
    }
    .footer__col_title {
        font-size: 15px;
        margin-top: 0;
    }
    .footer__col_list {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .top-index video {
        height: 45vh !important;
    }
    .tagline-top {
        font-size: 28px;
    }
    .inf-block-img img {
        height: 100% !important;
    }
    .s5-inner {
        padding-bottom: 20px;
    }
    .footer__logo {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        max-width: 300px;
        margin: 0 auto;
    }
    .footer__col {
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    .footer__number {
        text-align: center;
        font-size: 25px;
    }
    .footer__email {
        text-align: center;
        font-size: 18px;
    }
    .footer__col_title {
        font-size: 25px;
        text-align: center;
    }
    .footer__col {
        margin-top: 10px;
    }
    .footer__col_list {
        margin-top: 5px;
        font-size: 18px;
        text-align: center;
    }
    .end_row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .end_col {
        max-width: 300px;
        margin: 0 auto;
        text-align: center !important;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }
}

.end_col_btn:hover {
    color: #000;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
    .header-fs {
        text-align: center;
        padding: 5px;
    }
}

@media (max-width: 685px) {
    header {
        background-position: center;
        background-size: cover;
        padding-bottom: 200px;
        height: auto;
    }
    .nav-dropdown {
        height: auto !important;
        display: block;
        margin-top: 1rem;
        padding-right: 0 !important;
    }
}

.preview_div {
    padding-top: 50px;
    padding-bottom: 54px;
}

.preview-btn {
    display: flex;
    justify-content: space-between;
    padding: 0 4.5rem;
    height: 100px;
    /* margin-bottom: 1rem; */
}

.preview_cont {
    /* background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(#f8f8f8, rgba(255, 255, 255, 0));
    background: linear-gradient(#f8f8f8, rgba(255, 255, 255, 0)) */
    background-color: #fff;
}


/* header {
    padding-bottom: 50px
} */

@media (max-width: 684px) {
    .header_text {
        padding-top: 150px;
        padding-bottom: 150px !important;
    }
    header {
        padding: 0 !important;
    }
}


/* @media (max-width: 1294px) {
    .romb-rot2 {
        margin-left: 20px
    }
} */


/* @media (max-width: 1024px) {
    .romb-rot2 {
        margin: 0 auto
    }
} */

.col-img:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 991px) {
    .nav__lang {
        margin-top: 20px;
        padding-top: 10px;
    }
}

@media (max-width: 1199px) {
    .footer__number {
        font-size: 22px;
    }
}

@media (max-width: 991px) {
    .footer__number {
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    .footer__number {
        font-size: 17px;
    }
}

@media (max-width: 575px) {
    .investmentsDiv {
        margin-left: 0 !important;
    }
    .footer__number {
        font-size: 25px;
    }
}

@media (max-width: 1102px) {
    .seeing-inner {
        width: 450px;
    }
    .preview_div img {
        width: 100%;
    }
    .s4-inner {
        padding: 80px 0 50px;
    }
    .nav-link {
        font-size: 16px !important;
        margin-bottom: 0.6rem;
    }
}

@media (max-width: 991px) {
    .nav-link {
        font-weight: bold;
        font-size: 16px !important;
    }
}


/* .hover_box_el:lang(kk) {
  font-family: BebasNeueBold, sans-serif;;
} */

.hover_box_el {
    font-family: BebasNeueBold, sans-serif;
    font-size: 42px;
}

.hover_box_btn {
    color: #fff !important;
}

@media (max-width: 913px) {
    .hover_box_el {
        font-size: 30px;
    }
}

@media (max-width: 742px) {
    .hover_box_el {
        font-size: 25px;
        text-align: center;
    }
    .hover_box_list {
        text-align: center;
    }
    .hover_box_btn {
        text-align: center;
        margin: 0 auto;
        transition: all 0.5s ease;
    }
    .hover_block {
        align-items: center !important;
        justify-content: center;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 100% !important;
        margin-top: 17% !important;
        height: 75%;
    }
    .hover-fix {
        margin-top: -270px;
    }
}

@media (max-width: 476px) {
    .hover_block {
        max-width: 100%;
        width: 100% !important;
        margin-top: 190px !important;
        height: 75%;
    }
    .nav-link:hover:after {
        display: none;
    }
}

.hover_box_btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirNextCyr-Regular", sans-serif;
    color: #f5f5f5;
    text-decoration: none;
    background: #d9a158;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    max-width: 120px;
}

.hover_box {
    margin: 10px;
}

.hover_block {
    float: right;
    background: rgba(255, 255, 255, 0.4);
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hover_box_btn {
    cursor: pointer;
    color: #fff !important;
    text-decoration: none !important;
}

.hover_box_list {
    margin-top: 5px;
    font-family: "monserat-regular";
}

.hover_box_list a {
    padding: 5px;
    width: fit-content;
}

.top {
    position: relative;
}

.test:hover .hover_block {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    opacity: 1;
}

@media (max-width: 728px) {
    .hover_box_el {
        font-size: 35px;
    }
}

@media (max-width: 580px) {
    .hover_block {
        float: none;
        width: 100%;
    }
}

@media (max-width: 542px) {
    .hover_block {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .hover_box_btn {
        margin: 0 auto;
    }
    .hover_box_list {
        text-align: center;
    }
}

.nav_container {
    min-height: 71px;
}

.hover_box_el {
    font-family: BebasNeueBold, sans-serif;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 40px;
    padding-top: 35px;
}

.dropdown_block {
    height: 350px;
}

.hover_box_btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: BebasNeueBold, sans-serif;
    color: #f5f5f5;
    text-decoration: none;
    background: #d9a158;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    max-width: 120px;
    /* padding-bottom: 16px; */
}

.hover_box {
    margin: 10px;
}

.hover_block {
    float: right;
    background: rgba(255, 255, 255, 0.4);
    z-index: 9999;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hover_box_btn {
    cursor: pointer;
    color: #fff !important;
    text-decoration: none !important;
}

.hover_box_list {
    margin-top: 5px;
    position: relative;
}

.hover_box_list>a:hover {
    background-color: rgba(217, 217, 217, 1);
    color: #000;
}

.top-index {
    position: relative;
}

.hover_block {
    height: 100%;
}

.test:hover .hover_block {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    opacity: 1;
}

@media (max-width: 728px) {
    .hover_box_el {
        font-size: 35px;
    }
}

@media (max-width: 580px) {
    .hover_block {
        float: none;
        width: 100%;
    }
}

@media (max-width: 542px) {
    .hover_block {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .hover_box_btn {
        margin: 0 auto;
    }
    .hover_box_list {
        text-align: center;
    }
}

@media (max-width: 991px) {
    #hover_id {
        display: none;
    }
}

.top-index {
    /* max-height: 700px; */
    /* min-height: 600px; */
    /* overflow: hidden; */
    margin-top: 1px;
    /* background-image: url(../images/bg.png); */
    /* background-image: url(../images/bg2.jpg); */
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* background-size: cover; */
}

.wrapper-video {
    width: 100%;
    height: 88vh;
}

.top-index video {
    width: 100%;
    height: 88vh;
    object-fit: cover;
}

.tagline-top {
    position: relative;
    z-index: 3;
    color: #fff;
}

.span-fix {
    position: relative;
    z-index: 3;
    color: #fff;
}


/* .top__title:lang(kk) {
  font-family: "roboto-Bold", sans-serif;
  font-size: 45px;
} */

.top__title {
    max-width: 100%;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    font-family: BebasNeueBold, sans-serif;
    font-size: 65px;
    color: #fff;
    text-align: left;
    /* font-weight: 700; */
    text-transform: uppercase;
    top: 0;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
}

.top__title .span-fix {
    text-align: left;
}

.span-fix-1 {
    width: 100%;
    text-align: center;
}


/* .span-fix:lang(kk) {
  font-family: "roboto-Bold", sans-serif;
} */

.span-fix:lang(kk) {
    max-width: 970px;
}

.span-fix {
    width: 100%;
    font-family: BebasNeueBold, sans-serif;
    text-align: center;
    max-width: 710px;
    background: #dba764;
    color: #2d3135;
}

@media (max-width: 725px) {
    .span-fix-1 {
        text-align: center;
        margin: 0 auto;
    }
    .span-fix {
        margin: 0 auto;
        max-width: 80%;
        font-size: 45px;
    }
}

@media (max-width: 612px) {
    .span-fix-1 {
        text-align: center;
        margin: 0 auto;
    }
    .span-fix {
        text-align: center !important;
        margin: 0 auto;
        max-width: 100%;
        font-size: 27px;
        padding: 3px;
    }
}

@media (max-width: 550px) {
    .top {
        background-position: left center;
    }
}

.target {
    z-index: 99;
    position: relative;
}

.nav-dropdown {
    /* transition: all 0.5s ease; */
    /* margin: 7px; */
}


/* /* .nav-dropdown:hover .dropdown-menu{
    display: block !important;
} */


/* .cel-2:focus .seeing-inner{
    transform: rotate(360deg);
} */

.animateBlock {
    transform: rotate(360deg);
    transition: all 1s ease;
}

.modal-header p {
    margin-bottom: 0;
}

.modal-content .modalKonkursBody a:hover {
    text-decoration: none !important;
}

.modal-body a:hover {
    text-decoration: underline !important;
}

.modal-logo img {
    width: 70px;
}

.modal-logo p {
    font-family: auto !important;
    font-size: 19px;
}


/* .modal p:lang(kk){
  font-family: "monserat-regular";
} */

.modal p {
    margin-bottom: 0.5rem;
    font-family: "monserat-regular";
    /* text-align: justify; */
}

.mod-footer {
    position: relative;
    margin-left: -25px;
}

.width_tab_3 {
    width: 1050px;
}

.tab-col-image_tab_3 {
    /* margin: 0 0.1px 1rem; */
    padding-bottom: 15px;
}

.mod-line {
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #d9a158;
    right: -47px;
    bottom: 5px;
}

.mod-footer span {
    color: #d9a158;
}

.link-nic {
    color: #d9a158 !important;
}

.preview-block {
    display: flex;
    align-items: center;
    position: relative;
}

.preview-block img {
    opacity: 0.47;
    width: 222px;
    height: 222px;
    z-index: 11;
    transform: scale(0.8);
}

.preview-text {
    font-size: 15px !important;
    height: 100%;
    height: 222px;
    max-width: 315px;
    padding: 50px 0px 1rem;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    /* position: absolute; */
    background: #fff;
    opacity: 0;
    z-index: -1;
    /* display: none; */
    font-family: "AvenirNextCyr-Regular", sans-serif;
}

.preview-text p {
    font-size: 18px;
    display: none;
}

.preview-text-active {
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
    padding: 50px 10px 1rem;
    /* display: block !important; */
    width: 100%;
}

.preview-text-active p {
    display: block !important;
}

.submenu {
    min-width: 373px;
    padding-left: 1rem;
    margin-bottom: 7px;
}

.submenu-list {
    display: flex;
    justify-content: space-around;
}

.submenu-list ul {
    padding: 0;
}

.submenu ul li {
    list-style-type: none;
}

.submenu ul li:hover {
    background-color: rgba(217, 217, 217, 1);
}

.submenu ul li a {
    font-size: 13px;
    margin-bottom: 0;
}

.submenu ul li a:hover {
    font-weight: bold;
}

.sub-active:hover .submenu {
    display: block !important;
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
    .fs18 {
        font-size: 32px;
    }
    .fs18-fix {
        font-size: 16px;
    }
    .dropdown-menu {
        width: 62%;
        left: 38%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .dropdown-menu {
        width: 61%;
        left: 39%;
    }
    .dropdown-menu:lang(kk) {
        width: 65% !important;
        left: 35% !important;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1400px) {
    .dropdown-menu {
        width: 60%;
        left: 40%;
    }
    .dropdown-menu:lang(kk) {
        width: 64%;
        left: 36%;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1650px) {
    .dropdown-menu {
        width: 59%;
        left: 41%;
    }
    .dropdown-menu:lang(kk) {
        width: 62.5%;
        left: 37.5%;
    }
}

@media only screen and (min-width: 1650px) and (max-width: 1700px) {
    .dropdown-menu {
        width: 58.5%;
        left: 41.5%;
    }
}

@media only screen and (min-width: 1710px) and (max-width: 2000px) {
    .dropdown-menu {
        width: 57.5%;
        left: 42.5%;
    }
}

@media only screen and (min-width: 2000px) and (max-width: 2450px) {
    .dropdown-menu {
        width: 56.5%;
        left: 43.5%;
    }
}

@media only screen and (min-width: 2450px) and (max-width: 2800px) {
    .dropdown-menu {
        width: 54.5%;
        left: 45.5%;
    }
}

@media (max-width: 1172px) {
    .submenu-list {
        flex-direction: column;
    }
}

.flipcard:hover .target-item,
​.flipcard.h.flip .target-item {
    transform: rotateY(180deg);
}

.flipcard:hover .back-target-item,
​.flipcard.h.flip .back-target-item {
    transform: rotateY(0deg);
}

.flipcard .back-target-item {
    transform: rotateY(-180deg);
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1300px;
    }
}

@media screen and (min-width: 1220px) and (max-width: 1335px) {
    .first-years {
        margin-left: 45px;
    }
    .year13:nth-child(2) {
        margin-left: 70px;
    }
    .year13:nth-child(3) {
        margin-left: 70px;
    }
    .year13:nth-child(4) {
        margin-left: 104px;
    }
    .year12:nth-child(2) {
        margin-left: 145px;
    }
    .year12:nth-child(3) {
        margin-left: 87px;
    }
    .year12:nth-child(4) {
        margin-left: 93px;
    }
}

@media screen and (min-width: 1260px) and (max-width: 1300px) {
    .first-years {
        margin-left: 74px;
    }
    .year15 {
        margin-left: 59px;
    }
    .year17 {
        margin-left: 68px;
    }
    .year12 {
        margin-left: -25px;
    }
    .year16 {
        margin-left: 150px;
    }
    .year18 {
        margin-left: 154px;
    }
    .invest__general_cub {
        margin-left: 200px;
    }
}

.swal2-confirm {
    background-color: #dba764 !important;
}

.tagline-top {
    margin-top: -50px;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .top-index video {
        height: 100% !important;
    }
}

@supports (-ms-ime-align:auto) {
    .top-index video {
        height: 100% !important;
    }
    .footer__number p {
        color: #d9a158;
    }
}

.title-collapse {
    position: relative;
    padding-bottom: 5px;
}

.pointer-mobile {
    display: none;
}

.pointer-mobile {
    width: 20px;
    height: 20px;
    margin: 0 auto 5px;
    animation-duration: 1s;
    animation-name: cursor;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes cursor {
    from {
        transform: scale(.8);
    }
    to {
        transform: scale(1);
    }
}

.pointer-opacity {
    transition: all .5s ease;
    display: none !important;
}

.btn.focus,
.btn:focus {
    box-shadow: none !important;
}

button:focus {
    outline: none !important;
}
