@font-face {
    font-family: "BebasNeueBold";
    src: url(../font/ofontruBebasNeue.woff) format("woff"), url(../font/ofontruBebasNeue.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextCyr-Bold";
    src: url(../font/AvenirNextCyr-Bold.woff) format("woff"), url(../font/AvenirNextCyr-Bold.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}


/* @font-face {
  font-family: "Arial";
  src: url(../font/9041.ttf);
  font-weight: normal;
  font-style: normal;
} */

@font-face {
    font-family: "AvenirNextCyr-Regular";
    src: url(../font/AvenirNextCyr-Regular.woff) format("woff"), url(../font/AvenirNextCyr-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

.found__container {
    margin-top: 15px;
}

.top__subtitle_risk {
    font-family: Arial, sans-serif;
    font-size: 19px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.1;
}

.top__subtitle_risk:lang(kk) {
    font-family: "monserat-regular", sans-serif;
    font-size: 19px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.1;
}

.finish__col-sm-6 {
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-top: 4rem; */
}

.third-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #f7f7f7;
}

#portfel:target {
    padding-top: 82px;
    margin-top: -86px;
    /* margin-bottom: 47px; */
}


/* .portfel-line {
  margin-top: 0 !important;
} */

.portfel-title {
    padding-top: 30px;
    z-index: 99;
    /* padding-bottom: 60px; */
}

.finish__col {
    /* height: 222px; */
}

.invest-box-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.invest__box-right {
    border-left: none !important;
    border-right: 5px solid #d9a158;
}

.invest__box_description-bottom {
    text-align: center;
}

.invest__box_description-bottom span>b {
    font-size: 19px;
    font-family: "AvenirNextCyr-Bold";
}

.invest__box_description-top b {
    /* font-size: 19px; */
    font-family: "AvenirNextCyr-Bold";
}

.schedule-title {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    height: 90%;
    margin-top: 15px;
}

.schedule-row {
    margin-top: 30px !important;
}

.invest__box-left {
    margin-top: 100px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.invest-approach {
    margin-top: 146px !important;
}

.investments-top {
    /* margin-top: 7px; */
    background-position: center;
    background-image: url(../images/inv-bg.png);
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

.header_logo {
    -o-object-fit: cover;
    object-fit: cover;
    height: 70px;
    padding-top: 3px;
}

.logo_content {
    color: #2d3135;
    font-size: 14px;
    padding-top: 5px;
    margin-right: 100px;
    font-family: "BebasNeueBold", sans-serif;
}

@media (max-width: 1095px) {
    .logo_content {
        margin-right: 50px;
    }
}

@media (max-width: 454px) {
    .logo_content {
        margin: 0 auto;
    }
}

.navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav__lang {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


/* .nav-link {
  padding: 30px;
  /* margin: 7px; */


/* font-size: 14px;
font-family: "AvenirNextCyr-Regular",
sans-serif;
color: #2d3135 !important;

}
*/


/* .active {
    color: #dba764 !important
}

.active-link {
    padding: 30px;
    border-bottom: 2px solid #dba764;
    color: #dba764 !important
} */

.nav__lg {
    color: #2d3135;
    font-size: 20px;
    font-family: "BebasNeueBold", sans-serif;
}

@media (max-width: 1200px) {
    .nav_container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 1053px) {
    .nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 991px) {
    .nav-link {
        margin: 0 auto;
        padding: 20px;
    }
}

@media (max-width: 440px) {
    .nav_container {
        padding: 0;
    }
    .logo_content {
        font-size: 14px;
    }
    .header_logo {
        height: 72px;
    }
}

@media (max-width: 991px) {
    .top {
        margin-top: 0 !important;
    }
}

.nav-link:hover {
    color: #dba764 !important;
}

.header_container {
    /* margin-top: 7px; */
    padding-top: 160px;
    padding-bottom: 160px;
    background-size: cover;
    background-image: url(../images/nic-bg.png);
}

.header__title {
    font-family: "BebasNeueBold", sans-serif;
    font-size: 65px;
    color: #fff;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 991px) {
    .header_container {
        margin: 0 auto;
    }
}

.top__row {
    padding-top: 40px;
    padding-bottom: 60px;
}

.top__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.top__col_title {
    font-family: "BebasNeueBold", sans-serif;
    font-size: 49px;
    color: #2d3135;
    height: 50px;
}

.top__col_title_description {
    font-size: 20px;
    font-family: "AvenirNextCyr-Regular", sans-serif;
    color: #2d3135 !important;
    padding-bottom: 1rem;
}

.top__col_list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


/* .top__col_list-1{
  margin: 0 29px 0 auto !important;
} */


/* .top__col_list-2{
  margin: 10px 0 0 !important;
} */

.top__cub {
    width: 8px;
    height: 8px;
    background: #2d3135;
}

.top__cub_descr {
    font-weight: bold;
    color: #d9a158;
}

.top__col_list {
    position: relative;
    /* margin-left: 7px; */
    width: fit-content;
}

.top__col_list:hover:after {
    width: 100%;
    height: 2.6px;
    background-color: #dba764;
    bottom: -5px;
    transform: scale(1);
}

.top__col_list:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dba764;
    bottom: -5px;
    left: 0;
    transition: all 0.3s ease;
    transform: scale(0);
}

.top__col_list {
    font-family: "AvenirNextCyr-Regular", sans-serif;
    /* margin-top: 20px; */
    color: #2d3135;
}

.top__content {
    font-family: "AvenirNextCyr-Regular", sans-serif;
    font-size: 20px;
}

.top__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 1161px) {
    .top__img {
        margin: 0 auto;
        max-width: 300px;
    }
}

@media (max-width: 767px) {
    .top__row {
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .top__col {
        width: 100%;
        max-width: 100%;
    }
    .top__row {
        position: relative;
    }
    .top__img {
        max-width: 250px;
        position: absolute;
        bottom: -50px;
        right: -130px;
    }
    .top__col_title_description {
        z-index: 99999;
    }
    .top__row {
        margin: 0 auto !important;
    }
}

.morePublic-mobile {
    display: none;
}

.moreNews-mobile {
    display: none;
}

@media (max-width: 576px) {
    .title-alternative {
        padding-top: 80px !important;
        margin-top: -80px !important;
    }
    .private__row {
        justify-content: center !important;
    }
    .finish__col-sm-6 {
        height: auto !important;
    }
    .third_box_top {
        margin: 0 0 1rem !important;
    }
    .third_box_bottom {
        margin: 0 0 1rem !important;
    }
    .realty {
        padding-bottom: 0 !important;
    }
    .infrastructure {
        padding-bottom: 0 !important;
    }
    .finish__col-sm-6 {
        padding-top: 0 !important;
    }
    .realty__col {
        max-width: inherit !important;
    }
    .investment-descr {
        display: none;
    }
    .morePublic-desktop {
        display: none;
    }
    .moreNews-desktop {
        display: none;
    }
    .invest__title {
        margin-top: 0rem;
    }
    #risk {
        margin-top: -120px !important;
        padding-top: 120px !important;
        padding-bottom: 0 !important;
    }
    .investment-descr {
        text-align: left !important;
    }
    .investment-descr ul {
        padding-left: 0 !important;
    }
    .investments-top {
        background-position-x: -320px !important;
    }
    .realty {
        background-size: cover !important;
        background-position-y: -60px !important;
    }
    .finish__col {
        margin-top: 0 !important;
        height: auto !important;
    }
    .finish {
        margin-top: 50px !important;
    }
    .salutation {
        background-position-x: center !important;
        padding-bottom: 1px !important;
        padding-top: 0 !important;
        margin: 0 !important;
    }
    .investment-descr {
        padding-bottom: 30px;
    }
    .top__col_title {
        text-align: center;
        font-size: 31px;
    }
    .alternative {
        font-size: 31px !important;
    }
    .private {
        font-size: 31px !important;
        padding-top: 10px !important;
    }
    .private__description {
        padding: 5px 0 !important;
        max-width: 96% !important;
    }
    .private__description-title {
        padding: 5px 10px !important;
    }
    .realty__col.ssss {
        max-width: 100% !important;
    }
    .infrastructure__row {
        flex-direction: column;
    }
    .infrastructure__col {
        max-width: 100% !important;
        margin-bottom: 10px;
        padding: 30px !important;
    }
    .finish__col_title {
        margin-top: 17px !important;
        font-size: 31px !important;
    }
    .finish__subtitle {
        font-size: 30px !important;
    }
    .realty__row {
        padding-top: 0 !important;
    }
    .found__col {
        align-items: center !important;
    }
    .found__col_box {
        width: 70%;
        padding-left: 0 !important;
    }
    .found__col_description {
        width: 100% !important;
    }
    .invest-approach {
        margin-top: 0 !important;
    }
    .invest__box-left {
        margin-top: 30px !important;
    }
    .invest-box-inner {
        margin-bottom: 20px;
    }
    .investment-top-title {
        padding: 0;
    }
    .schedule-title {
        margin-top: -15px !important;
        margin-bottom: 30px;
    }
    .schedule {
        width: 100% !important;
        height: 300px !important;
    }
    .circle-content span {
        font-size: 21px;
    }
    .circle-left span {
        /* right: 151px !important; */
    }
    .invest {
        padding: 60px 0 0 0 !important;
    }
    .invest__title {
        font-size: 31px !important;
    }
    .top__col_title_description {
        text-align: center;
    }
    .top__img {
        max-width: 250px;
        position: absolute;
        bottom: -50px;
        right: 20px;
    }
    .top__col_list {
        max-width: 200px;
        margin-left: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .s5 {
        padding: 1rem 10px;
        margin: 0 auto !important;
    }
    .realty__col.ssss {
        max-width: 210px !important;
    }
    .second__bottom_row {
        display: flex;
        justify-content: center;
    }
    #invest-2 {
        margin-bottom: 30px;
    }
    .third_box_bottom {
        margin-top: 10px!important;
    }
    .private__row {
        justify-content: center !important;
    }
    .invest {
        padding-top: 0px !important;
        margin-top: 0px !important;
    }
    .invest__col_information {
        margin-top: 0 !important;
    }
    .finish__col-sm-6 {
        padding-top: 0 !important;
    }
    .finish__col {
        height: auto !important;
    }
    .schedule-title {
        margin-top: 0 !important;
        align-items: center;
        margin-bottom: 2rem;
    }
    .schedule-row {
        margin-top: 10px !important;
    }
    .inevst_row {
        flex-direction: row !important;
    }
    .invest__general_cub {
        width: 210px !important;
        height: 210px !important;
        margin-left: 100px !important;
    }
    .invest__min_cub {
        top: -21px !important;
        right: 19% !important;
    }
    .invest__polygon {
        right: -135px !important;
        top: 206px !important;
    }
    .found__col_description {
        width: 100% !important;
    }
    .found__row {
        flex-wrap: nowrap !important;
    }
    .found__col {
        align-items: center !important;
    }
    .infrastructure__row {
        justify-content: center !important;
    }
    .infrastructure__col {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .footer__logo {
        justify-content: center !important;
    }
    .footer__number {
        display: flex;
    }
    .footer__email {
        display: flex;
    }
    .invest__col_information {
        padding-left: 55px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .schedule-title {
        margin-top: 0 !important;
    }
    .schedule-row {
        margin-top: 10px !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .second__top_row {
        flex-wrap: wrap;
        margin-top: 10px;
        justify-content: end;
    }
    .third_box_bottom {
        margin: 0 10px;
    }
    .invest {
        padding-top: 20px !important;
        margin-top: 0px !important;
    }
    .invest__col_information {
        margin-top: 0 !important;
    }
}

.top__img {
    position: unset;
    text-align: center;
    margin: 0 auto;
}

.ball_col {
    max-width: 100%;
    text-align: center;
}

.top__col_list {
    max-width: 100%;
    text-align: center;
    /* margin: 0 auto; */
    margin-top: 10px;
}

.top__cub {
    display: none;
}

.top__col_list {
    max-width: 100%;
    text-align: left;
    /* margin: 0 auto;
  margin-top: 10px; */
}

.top__col_title_description {
    padding-bottom: 5px;
}

@media (max-width: 352px) {
    .top__col_title {
        font-size: 35px;
    }
    .top__row {
        padding-top: 5px;
    }
}

.top__content {
    padding-top: 1rem;
    font-family: "AvenirNextCyr-Regular", sans-serif;
    font-size: 19px;
}

.top__content_context {
    margin: 0 auto;
    padding-top: 10px;
}

@media (max-width: 831px) {
    .top__content {
        margin: 0 auto;
        text-align: center;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .top__content {
        font-size: 17px;
    }
}

.salutation {
    background-size: cover;
    background-image: url(../images/invest1.jpg);
    padding-bottom: 50px;
    background-position: left center;
}

@media (max-width: 734px) {
    .col-fix {
        padding: 0;
    }
}

.salutation_list-title {
    font-size: 19px;
    width: 100%;
    /* margin: 0 auto; */
    margin: 25px 0px;
    padding-left: 0;
    font-family: "AvenirNextCyr-Regular", sans-serif;
}

.salutation_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

.salutation_box p {
    margin-bottom: 0;
}

.salutation__cub {
    font-size: 20px;
    font-family: "AvenirNextCyr-Regular", sans-serif;
    width: 7px;
    height: 7px;
    background: #dba764;
}

.salutation_box {
    margin-top: 10px;
}


/* .salutation__descr {
    margin-left: 15px
} */

.invest {
    padding: 105px 0 0 0;
}

.inevst_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.invest__general_cub {
    margin-top: 30px;
    width: 260px;
    height: 260px;
    margin-left: 150px;
    border: 18px solid #d9a158;
    background: 0 0;
    position: relative;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    /* border-top-color: rgba(231, 231, 231, 0.7);
  border-bottom-color: rgba(231, 231, 231, 0.7);
  border-right-color: rgba(255, 255, 255, 0.7);
  border-left-color: rgba(231, 231, 231, 0.7); */
}

.invest__min_cub {
    width: 120px;
    position: absolute;
    height: 120px;
    top: 0;
    right: 50px;
    background: #d9a158;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 60px 0 10px 310px;
}

.invest__min_cub_cont {
    font-family: "Avenir Next Cyr Heavy", sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    width: 100%;
    max-width: 100%;
    margin-left: -5px;
    margin-top: 44px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.invest__polygon {
    padding-left: 15px;
    font-family: "Avenir Next Cyr Heavy", sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    width: 200px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-size: cover;
    background-position: left;
    background-image: url(../images/polygon.png);
    right: -121px;
    top: 226px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invest__title {
    font-family: BebasNeueBold, sans-serif;
    ;
    font-size: 40px;
}

.invest__box {
    margin-top: 10px;
    padding: 20px;
    background: #f3f3f3;
    border-left: 5px solid #d9a158;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.invest__box_title {
    font-family: BebasNeueBold, sans-serif;
    ;
    font-size: 20px;
    color: #2d3135;
}

.invest__box_description {
    /* font-family: "AvenirNextCyr-Regular", sans-serif; */
    font-size: 19px;
    line-height: 1.1;
    color: #2d3135;
}

.invest__col_information {
    margin-top: -173px;
    /* padding-right: 0; */
}

@media (max-width: 1199px) {
    .invest__general_cub {
        margin-left: 100px;
    }
}

@media (max-width: 991px) {
    .inevst_row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .invest__col_information {
        margin-top: 10px;
    }
    .invest__title {
        text-align: center;
    }
    .invest {
        margin-top: -70px;
    }
    .salutation__descr {
        z-index: 999;
    }
}

@media (max-width: 766px) {
    .invest__general_cub {
        display: none;
    }
}

.alternative {
    padding-top: 0;
    font-family: "BebasNeueBold", sans-serif;
    font-size: 50px;
    text-align: center;
    color: #2d3135;
}

.alternative:target {
    padding-top: 80px;
    margin-top: -20px;
}

.portfel-links:target {
    /* padding-top: 100px; */
    margin-top: -20px;
}

.private {
    padding-top: 10px;
    font-family: "BebasNeueBold", sans-serif;
    font-size: 50px;
    text-align: center;
    color: #2d3135;
}

.private_line {
    width: 100%;
    max-width: 65px;
    background: #dba764;
    height: 4px;
    margin: 0 auto 4px;
}

.private__description {
    text-align: center;
    font-size: 19px;
    /* padding-top: 10px; */
    margin-bottom: 15px;
    color: #2d3135;
    line-height: 1.1;
    /* font-family: "AvenirNextCyr-Regular", sans-serif; */
    font-family: "Arial";
}

.private__col {
    padding: 15px;
    margin: 5px;
    border: 2px solid #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.private__col img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.private__col_title {
    margin-top: 25px;
    margin-bottom: 7px;
    font-family: "AvenirNextCyr-Bold", sans-serif;
    text-align: center;
}

.private__col_context {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.private__col_cub {
    min-width: 8px;
    margin-top: 4px;
    height: 8px;
    background: #dba764;
}

.private__col_desc {
    padding-left: 5px;
    color: #2d3135;
    font-size: 12px;
    font-family: "monserat-regular";
    /* font-family: 'Arial'; */
    text-align: left;
}

.realty__col img {
    margin-top: 10px !important;
}

.private__row {
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex; */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.private__col {
    width: 100%;
    max-width: 210px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .realty {
        background-size: auto !important;
    }
    .private__col {
        width: 100%;
        /* max-width: 300px; */
        /* margin: 10px auto; */
    }
}

.private__container {
    padding-bottom: 50px;
}

.realty {
    background-image: url(../images/inv4.png);
    background-size: cover;
    padding-bottom: 25px;
    background-position-y: center;
}

.realty__title {
    padding-top: 30px;
}

.realty__col_title {
    text-align: center;
}

.realty__col {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 15px;
    margin: 5px;
    border: 2px solid #f7f7f7;
    width: 100%;
    max-width: 267px;
}

.realty__col.ssss {
    max-width: 175px;
}

.realty__col.ssss .private__col_title {
    min-height: 38px;
}

.realty__col img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.realty__row {
    /* padding-top: 20px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.private__row {
    /* padding-top: 20px; */
    padding-bottom: 25px;
}

.title-alternative {
    padding-top: 105px !important;
    margin-top: -85px !important;
    text-transform: uppercase;
}

.investment-descr {
    padding-top: 6px;
}

.fund {
    padding-top: 30px;
}

.private__description {
    max-width: 900px;
}

.found__row {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

.found__container {
    padding-bottom: 25px;
}

.found__col {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 15px;
    margin: 5px;
    border: 2px solid #f7f7f7;
    width: 100%;
    max-width: 267px;
}

.found__col_box {
    padding-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.found__col {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
}

.found__col img {
    padding-left: 5px;
    width: 100px;
    height: 60px;
}

.found__col_description {
    margin-top: 10px;
}

.found__col_title {
    font-size: 16px;
    font-family: "AvenirNextCyr-Bold", sans-serif;
}

.found__col_description {
    width: 396px;
    font-size: 12px;
    color: #2d3135;
    font-family: "AvenirNextCyr-Regular", sans-serif;
}

.infrastructure {
    background-size: cover;
    background-image: url(../images/inv3.png);
    padding-bottom: 25px;
    background-position-y: center;
}

.infrastructure__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.infrastructure__col_title:lang(kk) {
    font-weight: bolder;
    font-family: roboto, sans-serif;
    font-size: 16px;
}

.infrastructure__col_title {
    text-align: center;
    font-family: "AvenirNextCyr-Bold", sans-serif;
    font-size: 16px;
}

.infrastructure__col img {
    text-align: center;
    width: 50px;
    height: 58px;
    margin: 0 auto;
}

.infrastructure__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
}

.infrastructure__col {
    padding: 50px 30px;
    background: #fff;
    /* margin: 5px; */
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 210px;
}

.infrastructure__col_title {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 70px;
    display: -webkit-box;
    margin-top: 20px;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.finish {
    padding-bottom: 70px;
    padding-top: 120px;
    margin-top: -85px;
}

.finish__col_title {
    font-family: "BebasNeueBold", sans-serif;
    font-size: 50px;
    text-align: center;
    /* margin-top: -45px; */
    padding-bottom: 0px;
    text-transform: uppercase;
}

.finish__col_description {
    /* font-family: "AvenirNextCyr-Regular", sans-serif; */
    /* padding-top: 28px; */
}

.finish__col_cub_content {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "AvenirNextCyr-Regular", sans-serif;
    font-size: 19px;
    color: #2d3135;
    text-align: center;
    width: 100%;
}

.finish__col_list {
    font-family: "BebasNeueBold", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.finish__col_cub {
    width: 100%;
    margin-top: 9px;
    max-width: 8px;
    height: 8px;
    background: #dba764;
}

.finish__col {
    width: 100%;
    /* max-width: 500px; */
    /* border: 4px dotted #ebebeb; */
    border-radius: 5px;
}

.finish__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    margin-top: -40px;
    text-align: center;
    color: #2d3135;
    font-size: 14px;
    font-family: "AvenirNextCyr-Bold", sans-serif;
    background: #f3f3f3;
    border-left: 5px solid #d9a158;
}

.finish__box_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 93%;
    padding: 20px;
    min-height: 48%;
    text-align: center;
    color: #2d3135;
    font-size: 19px;
    background: #f3f3f3;
    border-left: 5px solid #d9a158;
}

@media (max-width: 1024px) {
    .finish__box_left {
        width: 100%;
        min-height: 160px !important;
        margin-bottom: 20px;
    }
}

.finish__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 5px;
}

.finish__top {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.finish__subtitle {
    font-family: "BebasNeueBold", sans-serif;
    font-size: 35px;
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.finish__box_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    margin-bottom: -35px;
    margin-top: 50px;
    font-size: 14px;
    font-family: "AvenirNextCyr-Bold", sans-serif;
    color: #2d3135;
    background: #f3f3f3;
    border-left: 5px solid #d9a158;
}

.finish__arrow_top {
    left: -27.5px;
    position: absolute;
    max-width: 20px;
}

.finish__arrow_down {
    right: -27.5px;
    position: absolute;
    max-width: 20px;
}

.finish__middle {
    position: relative;
}

@media (max-width: 1199px) {
    .finish__box_bottom {
        margin-top: 93px;
    }
    .finish__subtitle {
        padding-top: 30px;
    }
    .finish__arrow_down {
        top: 45px;
    }
    .finish__arrow_top {
        top: 45px;
    }
}

@media (max-width: 991px) {
    .finish__row {
        max-width: 100%;
    }
    .finish__col-sm-6 {
        width: 100%;
        max-width: 100%;
        height: auto !important;
    }
    .finish__box {
        margin: 0 auto;
        margin: 10px;
    }
    .finish__box_bottom {
        margin: 0 auto;
        margin: 10px;
    }
    .finish__subtitle {
        padding-top: 0;
        margin: 0.5rem auto;
    }
    .finish__box_bottom:first-child {
        margin-top: 0;
    }
    .finish__col_sm-6 {
        width: 100%;
        -ms-flex: 100%;
        flex: 100%;
        margin: 0 auto !important;
        max-width: 900px;
    }
    .finish__row {
        margin: 0 auto;
    }
    .finish__col-sm-6 {
        -ms-flex: 100% !important;
        flex: 100% !important;
    }
    .finish__col {
        margin-top: 25px;
    }
    .finish__arrow_down {
        top: 10px;
    }
    .finish__arrow_top {
        top: 10px;
    }
}

@media (max-width: 431px) {
    .finish__arrow_down {
        display: none;
    }
    .finish__arrow_top {
        display: none;
    }
    .finish__box {
        margin: 5px;
        font-size: 12px;
    }
    .finish__top {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .finish__bottom {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .finish__col {
        margin-top: 5px;
        padding: 10px !important;
    }
}

@media (max-width: 368px) {
    .finish__col_title {
        font-size: 40px;
        text-align: center;
    }
    .finish__col_description {
        text-align: center;
    }
}

.footer_line {
    margin-top: 70px;
}

.footer {
    padding-top: 20px;
}

.footer__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__logo img {
    height: 60px;
    max-width: 100px;
}

.footer__logo_text {
    font-size: 14px;
    font-family: "BebasNeueBold", sans-serif;
}

.footer__number {
    color: #d9a158;
    font-size: 40px;
    font-family: "BebasNeueBold", sans-serif;
}

.footer__email {
    font-family: "AvenirNextCyr-Regularr", sans-serif;
    color: #2d3135;
    font-size: 16px;
}

.footer__col_title {
    margin-top: 0px;
    color: #2d3135;
    font-family: "BebasNeueBold", sans-serif;
    font-size: 25px;
}

.footer__col_list {
    color: #2d3135;
    font-family: "AvenirNextCyr-Regular", sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

.footer_line_bottom {
    margin-top: 40px;
}

.end_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 162px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.end_row {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.end_col {
    text-align: center;
    font-size: 14px;
    color: #2d3135;
    font-family: "AvenirNextCyr-Regular", sans-serif;
}

.end_col_btn {
    min-width: 170px;
    color: white !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirNextCyr-Bold", sans-serif;
    color: #f5f5f5;
    text-decoration: none;
    background: #d9a158;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    max-width: 120px;
}

.col-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

@media (max-width: 991px) {
    .footer__col_title {
        font-size: 20px;
    }
    .footer__number {
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    .footer__logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: left;
    }
    .footer__number {
        text-align: left;
        font-size: 15px;
    }
    .footer__email {
        font-size: 9px;
        text-align: left;
    }
    .footer__col_title {
        font-size: 15px;
        margin-top: 0;
    }
    .footer__col_list {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .found__container {
        padding-bottom: 0px;
    }
    .realty__title {
        padding-top: 40px;
    }
    .footer__logo {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        max-width: 300px;
        margin: 0 auto;
    }
    .footer__col {
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    .footer__number {
        text-align: center;
        font-size: 25px;
    }
    .footer__email {
        text-align: center;
        font-size: 25px;
    }
    .footer__col_title {
        font-size: 25px;
    }
    .footer__col {
        margin-top: 10px;
    }
    .footer__col>div {
        margin: 0.5rem 0;
    }
    .footer__col_list {
        margin-top: 5px;
        font-size: 18px;
    }
    .end_row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .end_col {
        max-width: 300px;
        margin: 0 auto;
        text-align: center !important;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }
}


/* .end_col_btn:hover {
    background: #dba764;
    color: #000;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    cursor: pointer;
    text-decoration: none !important
} */

.invest__box {
    padding-left: 35px;
    padding-right: 25px;
}

@media (max-width: 991px) {
    .invest__box {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.nav__lg:hover {
    cursor: pointer;
    color: #dba764 !important;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

a:hover {
    color: inherit !important;
    text-decoration: none !important;
}

@media (max-width: 991px) {
    .nav__lang {
        padding-top: 10px;
    }
}

@media (max-width: 1199px) {
    .footer__number {
        font-size: 32px;
    }
}

@media (max-width: 991px) {
    .footer__number {
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    .footer__number {
        font-size: 17px;
    }
}

@media (max-width: 575px) {
    .footer__number {
        font-size: 25px;
    }
}

@media (max-width: 1102px) {
    .nav-link {
        font-size: 13px !important;
    }
}

@media (max-width: 991px) {
    .nav-link {
        font-size: 17px !important;
    }
}

.hover_box_el {
    font-family: "BebasNeueBold", sans-serif;
    font-size: 50px;
}

.hover_box_btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "AvenirNextCyr-Bold", sans-serif;
    color: #f5f5f5;
    text-decoration: none;
    background: #d9a158;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    max-width: 120px;
}

.hover_box {
    margin: 10px;
}

.hover_block {
    float: right;
    background: rgba(255, 255, 255, 0.4);
    z-index: 9999;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hover_box_btn {
    cursor: pointer;
    color: #fff !important;
    text-decoration: none !important;
}

.hover_box_list {
    margin-top: 5px;
    font-family: "AvenirNextCyr-Regular", sans-serif;
    color: #2d3135;
}

.top {
    position: relative;
}

.hover_block {
    height: 100%;
}

.test:hover .hover_block {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    opacity: 1;
}

.test:hover #top__title_text {
    opacity: 0;
}

@media (max-width: 728px) {
    .hover_box_el {
        font-size: 35px;
    }
}

@media (max-width: 580px) {
    .hover_block {
        float: none;
        width: 100%;
    }
}

@media (max-width: 542px) {
    .hover_block {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .hover_box_btn {
        margin: 0 auto;
    }
    .hover_box_list {
        text-align: center;
    }
}

.navbar {
    z-index: 99999;
}

@media (max-width: 991px) {
    #hover_id {
        display: none;
    }
    .test:hover #top__title_text {
        opacity: 1;
    }
}

.for-dinamic {
    position: absolute;
    z-index: 9999;
    top: 177px;
    left: -54px;
    transform: rotate(4deg);
}

.top__cub_descr {
    cursor: pointer;
}

@media (max-width: 1102px) {
    .top {
        margin-top: 6px;
    }
}

.top__img {
    width: 80%;
}


/* CIRCLE */

.schedule {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-center {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.circle-center img {
    width: 81px;
    height: auto;
    margin-top: -14px;
}

.circle-bottom {
    -webkit-clip-path: polygon(0 50%, 42.9% 53.5%, 100% 100%, 0% 100%);
    clip-path: polygon(0 50%, 42.9% 53.5%, 100% 100%, 0% 100%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 242);
}

.circle-bottom span {
    bottom: 40px;
    left: 71px;
    transform: rotate(30deg);
    color: #000;
    font-family: "AvenirNextCyr-Bold";
}

.circle-right {
    -webkit-clip-path: polygon(78% 0, 100% 0, 100% 97.5%, 50% 52%);
    clip-path: polygon(78% 0, 100% 0, 100% 97.5%, 50% 52%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(243, 243, 242);
}

.circle-right span {
    right: 10px;
    top: 123px;
    font-family: "AvenirNextCyr-Bold";
    transform: rotate(83deg);
}

.circle-left {
    -webkit-clip-path: polygon(0 0, 74% 0, 45% 50%, 0 46%);
    clip-path: polygon(0 0, 74% 0, 45% 50%, 0 46%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(243, 243, 242);
}

.circle-left span {
    right: 179px;
    top: 52px;
    transform: rotate(-45deg);
    bottom: 288px;
    font-family: "AvenirNextCyr-Bold";
}

.circle-content span {
    font-size: 22px;
    position: absolute;
    font-weight: 900;
    z-index: 99;
}

.line-text {
    width: 60px;
    height: 4px;
    background-color: #dba764;
    display: block;
    cursor: pointer;
    margin: 0.5rem auto 0;
}

.finish__row {
    /* margin-top: 3rem; */
}

.circle-text b {
    position: absolute;
    z-index: 999;
    font-size: 14px;
}

.circle-text b:nth-of-type(-n + 10) {
    bottom: 47%;
    -ms-transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 50% 100%;
    padding-bottom: 30%;
}

.circle-text b:nth-of-type(1) {
    -ms-transform: rotate(290deg);
    -webkit-transform: rotate(290deg);
    transform: rotate(290deg);
}

.circle-text b:nth-of-type(2) {
    -ms-transform: rotate(298deg);
    -webkit-transform: rotate(298deg);
    transform: rotate(298deg);
}

.circle-text b:nth-of-type(3) {
    -ms-transform: rotate(306deg);
    -webkit-transform: rotate(306deg);
    transform: rotate(306deg);
}

.circle-text b:nth-of-type(4) {
    -ms-transform: rotate(314deg);
    -webkit-transform: rotate(314deg);
    transform: rotate(314deg);
}

.circle-text b:nth-of-type(5) {
    -ms-transform: rotate(322deg);
    -webkit-transform: rotate(322deg);
    transform: rotate(322deg);
}

.circle-text b:nth-of-type(6) {
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
}

.circle-text b:nth-of-type(7) {
    -ms-transform: rotate(338deg);
    -webkit-transform: rotate(338deg);
    transform: rotate(338deg);
}

.circle-text b:nth-of-type(8) {
    -ms-transform: rotate(346deg);
    -webkit-transform: rotate(346deg);
    transform: rotate(346deg);
}

.circle-text b:nth-of-type(9) {
    -ms-transform: rotate(354deg);
    -webkit-transform: rotate(354deg);
    transform: rotate(354deg);
}

.circle-text b:nth-of-type(10) {
    -ms-transform: rotate(362deg);
    -webkit-transform: rotate(362deg);
    transform: rotate(362deg);
}

.second .third_box_top {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 0 10px;
}

.second .third_box_bottom {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.yellow-text {
    color: #dba764;
    font-weight: 500;
}

.investment-descr ul {
    padding-left: 10%;
}

.investment-descr ul li {
    list-style-type: none;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.investment-descr ul li span {
    width: 5px;
    height: 4px;
    background-color: #dba764;
    display: block;
    margin-right: 5px;
}

.investment-descr {
    font-size: 19px;
    font-family: "Arial";
    text-align: justify;
}

.investment-descr:lang(kk) {
    font-family: "monserat-regular";
}

.private__description:lang(kk) {
    font-family: "monserat-regular";
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .third_box_bottom {
        width: 17%;
    }
    .third__descr {
        font-size: 13px;
    }
}