.map_content img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.map-wrapper {
  margin-bottom: 96px;
}
.map_content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  border-color: rgb(247, 247, 247);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 82px;
  margin: 100px 0;
}
.map-before::before {
  background: none !important;
}
.map-title {
  position: relative;
}
.map_content::before {
  content: "";
  background-image: url(../images/arrow-map.png);
  background-repeat: no-repeat;
  background-position-x: center;
  position: absolute;
  bottom: -5rem;
  height: 56px;
  width: 26px;
}

#map-collapse {
  display: none;
}
.map-li {
  list-style-type: none;
  font-size: 16px;
  font-family: BebasNeueBold, sans-serif;;
  color: rgb(45, 49, 53);
  line-height: 1.2;
  padding-left: 30px;
  position: relative;
  margin-bottom: 20px;
  text-align: left;
}
.map-li::before {
  content: "";
  background-color: rgb(217, 161, 88);
  width: 7px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 34%;
}
.map-container {
  max-width: 1210px !important;
}
.corp-map-btn {
  background-color: transparent;
  font-size: 16px;
  color: rgb(45, 49, 53);
  line-height: 1.2;
  border: none;
}
.corp-map-btn {
  text-align: left !important;
}
#map-collapse {
  margin-bottom: 20px;
}
#map-collapse li {
  font-size: 14px;
  font-family: "AvenirNextCyr-Regular";
  color: rgb(45, 49, 53);
  line-height: 2;
  text-align: left;
  list-style-type: none;
  padding-left: 50px;
}
.corp-map-btn:focus {
  outline: none;
}

.map_text {
  font-size: 17px;
  font-family: BebasNeueBold, sans-serif;;
}
.map-top {
  /* margin-top: 7px; */
  background-position: center;
  background-image: url(../images/astana.jpg);
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
}

.mainscreen__img {
  object-position: 0 55%;
}
.map__wrapper {
  padding: 100px 0 70px;
}

.map__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  justify-content: center;
  color: #2d3135;
}

.map__item {
  width: 33.333%;
  padding: 0 15px;
  position: relative;
}

.map__content {
  border: 4px solid #f7f7f7;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map__text {
  font-family: "BebasNeueBold", sans-serif;
  font-size: 25px;
  margin-left: 25px;
}

.map__item::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../images/arrow_down.svg);
  left: 50%;
  transform: translate(0, -50%);
  bottom: -65px;
  width: 15px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.lists__group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 125px;
}

.news__list {
  width: 33.3%;
  text-align: left;
}
.news-wrapper {
  width: 100% !important;
}
.news__list li {
  list-style-type: none;
  position: relative;
  margin-bottom: 15px;
  font-family: "AvenirNextCyr-Regular";
}

.news__list li::before {
  content: "";
  background-color: #dba764;
  width: 6px;
  height: 6px;
  position: absolute;
  left: -20px;
  top: 6px;
}

.news__list {
  padding: 0 20px;
}
.mobile-map {
  display: none;
}

.desktop_adaptiv {
  display: block;
}

.mob_adaptiv {
  display: none;
}

@media screen and (max-width: 1024px) {
  .map__item::after {
    display: none;
  }
  .map__item {
    width: 50%;
    margin-bottom: 20px;
  }
  .mob_adaptiv {
    display: block;
  }
  .desktop_adaptiv {
    display: none;
  }
  .lists__group {
    margin-top: 20px;
  }
  .news__list {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .news__list {
    width: 50%;
  }
  .lists__group {
    margin-top: 80px;
  }
}

@media screen and (max-width: 576px) {
  .news__list {
    width: 100%;
  }
  .map__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .lists__group {
    margin-top: 50px;
  }
  .map__wrapper {
    display: none;
  }
  .mobile-map {
    display: block;
  }
}
