* {
    margin: 0;
    padding: 0
}

.header_logo {
    -o-object-fit: cover;
    object-fit: cover;
    height: 78px
}

.logo_content {
    color: #2d3135;
    font-size: 15px;
    margin-right: 100px;
    font-family: 'BebasNeueBold', sans-serif
}

@media (max-width: 1095px) {
    .logo_content {
        margin-right: 50px
    }
}

@media (max-width: 454px) {
    .logo_content {
        margin: 0 auto
    }
}

.navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.navbar_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.nav__lang {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.nav-link {
    padding: 30px;
    margin: 10px;
    font-size: 14px;
    font-family: 'Avenir Next Cyr Regular', sans-serif;
    color: #2d3135 !important
}

.active {
    color: #dba764 !important
}

.active-link {
    padding: 30px;
    border-bottom: 2px solid #dba764;
    color: #dba764 !important
}

.nav__lg {
    color: #000;
    font-size: 20px;
    font-family: 'BebasNeueBold', sans-serif;
    font-weight: 800
}

@media (max-width: 1200px) {
    .nav_container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto
    }
}

@media (max-width: 1053px) {
    .nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important
    }
}

@media (max-width: 991px) {
    .nav-link {
        margin: 0 auto;
        padding: 20px
    }
}

@media (max-width: 440px) {
    .nav_container {
        padding: 0
    }

    .logo_content {
        font-size: 14px
    }

    .header_logo {
        height: 72px
    }
}

@media (max-width: 991px) {
    .top {
        margin-top: 0 !important
    }
}

.nav-link:hover {
    color: #dba764 !important
}

.nav__lg:hover {
    cursor: pointer;
    color: #dba764 !important
}

@media (max-width: 991px) {
    .nav__lang {
        padding-top: 10px
    }
}

@media (max-width: 1102px) {
    .nav-link {
        font-size: 13px !important
    }
}

@media (max-width: 991px) {
    .nav-link {
        font-size: 17px !important
    }
}