@font-face {
    font-family: "BebasNeueBold";
    src: url(../font/ofontruBebasNeue.woff) format("woff"), url(../font/ofontruBebasNeue.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextCyr-Bold";
    src: url(../font/AvenirNextCyr-Bold.woff) format("woff"), url(../font/AvenirNextCyr-Bold.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextCyr-Regular";
    src: url(../font/AvenirNextCyr-Regular.woff) format("woff"), url(../font/AvenirNextCyr-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

.news-back {
    padding: 0.85rem !important;
    color: #dba764 !important;
    margin-top: 0;
}

.news-back:hover {
    color: #fff !important;
}

.button--reg:hover {
    color: #fff !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.button--trans:hover {
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
    transition: all 0.5s ease;
}

.news-top {
    /* margin-top: 7px; */
    background-position: center;
    background-image: url(../images/kazakhstan_town.1920x1080.jpg);
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
}

.button--trans {
    border: 4px solid #f5f5f5;
    padding: 0.77rem 3.5rem;
    font-family: "AvenirNextCyr-Bold";
    margin-left: 15px;
}

.mainscreen__img {
    object-position: 0 20%;
}

.news__wrapper {
    padding: 20px 0 35px;
    text-align: left;
    font-family: "AvenirNextCyr", sans-serif;
    color: #2d3135;
}

.news__title {
    font-family: "BebasNeueBold";
    font-size: 50px;
    color: #2d3135;
    text-transform: uppercase;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.news__date {
    background-color: #dba764;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-left: 32px;
    margin-top: 8px;
}

.news__image {
    width: 100%;
    display: block;
    margin-top: 45px;
    max-height: 480px;
}

.news__title--small {
    color: #2d3135;
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
    font-family: "AvenirNextCyr-Regular";
    margin-bottom: 20px;
}

.news__text {
    margin-top: 50px;
    line-height: 1.5;
    font-size: 20px;
}

.social__block {
    margin-bottom: 70px;
}

.social__inner {
    padding: 35px 25px;
    border: 7px solid #dba764;
    display: flex;
    text-align: left;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.social__inner::before {
    content: "";
    position: absolute;
    width: 64px;
    height: 10px;
    background-color: #ffffff;
    left: 70px;
    top: -8px;
}

.social__inner::after {
    content: "";
    position: absolute;
    width: 64px;
    height: 10px;
    background-color: #ffffff;
    right: 35px;
    bottom: -8px;
}

.social__text {
    font-family: BebasNeueBold, sans-serif;
    ;
    max-width: 420px;
    font-size: 18px;
}

.social__share {
    font-family: BebasNeueBold, sans-serif;
    ;
    font-size: 20px;
    font-size: 30px;
    margin-left: 20px;
    padding: 10px;
}

.social__icons {
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
}

.social__icon {
    font-size: 14px;
    color: #ffffff !important;
    display: flex;
    margin-right: 4px;
    margin-bottom: 4px;
}

.social__icon i {
    background-color: #000000;
    padding: 8px;
    margin-right: 4px;
}

.social__stats {
    background-color: #f5f5f5;
    font-size: 14px;
    padding: 5px;
    color: #919191;
    display: inline-block;
}

.social__icon:nth-child(1) i {
    background-color: #00abf0;
}

.social__icon:nth-child(2) i {
    background-color: #39579a;
}

.social__icon:nth-child(3) i {
    background-color: #df4a32;
}

.social__icon:nth-child(4) i {
    background-color: #df4a32;
}

.social__icon:nth-child(5) i {
    background-color: #cd1d1f;
}

.buttons {
    text-align: left;
    margin-bottom: 40px;
}

.buttons a {
    display: inline-block;
    margin-bottom: 30px;
}

@media screen and (max-width:576px) {
    .buttons a {
        margin-bottom: 20px;
    }
    .news__wrapper {
        padding-bottom: 20px !important;
    }
    .buttons {
        margin-bottom: 20px !important;
    }
    .news__content p img {
        width: 100% !important;
        height: auto !important;
    }
    .s5-boxes img {
        max-width: 100%;
    }
    .s5-boxes {
        max-width: 100%;
    }
    .news__title {
        font-size: 30px;
    }
    .news__date {
        margin-top: 0;
        margin-left: 0;
    }
    .social__inner {
        padding: 20px 15px;
    }
    .social__icons {
        margin-left: 11px;
    }
    .social__share {
        margin-left: 0;
    }
    .button--trans {
        margin-left: 0;
    }
    .s5 {
        padding: 0;
    }
    .news__text {
        font-size: 18px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .news__content img {
        width: 100% !important;
        height: auto !important;
    }
    .news__title {
        font-size: 40px;
    }
    .news__date {
        margin-left: 0;
        margin-top: 0;
    }
    .social__inner {
        padding: 20px 15px;
        flex-direction: column;
        align-items: flex-start;
    }
    .social__icons {
        margin-left: 0;
    }
    .social__share {
        margin-left: 0;
        padding-left: 0;
    }
    .s5-boxes img {
        max-width: 100%;
    }
    .s5-boxes {
        max-width: 100%;
        margin-bottom: 1rem;
    }
}

.news_head {
    padding-bottom: 30px;
}