@font-face {
  font-family: "BebasNeueBold";
  src: url(../font/ofontruBebasNeue.woff) format("woff"),
  url(../font/ofontruBebasNeue.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr-Bold";
  src: url(../font/AvenirNextCyr-Bold.woff) format("woff"),
  url(../font/AvenirNextCyr-Bold.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr-Regular";
  src: url(../font/AvenirNextCyr-Regular.woff) format("woff"),
  url(../font/AvenirNextCyr-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

.registration-top{
  /* margin-top: 7px; */
  background-position: center;
  background-image: url(../images/section-about.jpg);
  background-color: rgba(0, 0, 0, .3);
  background-size: cover;
}
.author-btn{
  width: fit-content !important;
}
.group__title{
  text-align: left;
  font-family: 'BebasNeueBold', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.registration-title{
  margin-top: 0;
}
.button--reg:lang(kk){
  font-family: 'roboto-bold', sans-serif;
}
.button--reg{
  background-color: #dba764;
  border: none;
  padding: 1rem;
  font-family: "arial-Bold", sans-serif;
  color: #fff !important;
}
.container__form {
  max-width: 780px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

p {
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
}

.text-left {
  text-align: left;
}

.form__wrapper {
  padding: 100px 0 70px;
  color: #2d3135;
}

.reg__form {
  margin-top: 65px;
  font-family: 'AvenirNextCyr', sans-serif;
}

.form__title {
  font-family: 'BebasNeueBold', sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.form__undertitle {
  font-size: 20px;
}

.required {
  color: #ff0000;
}

.form__label {
  width: 100%;
  text-align: left;
  border: 2px solid #dba764;
  height: 60px;
  position: relative;
  margin-bottom: 35px;
}

.form__label input {
  width: 100%;
  border: none;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 15px;
  outline: none;
  z-index: 99;
  background-color: transparent;
}

.label__text {
  font-family: "AvenirNextCyr-Regular";
  font-size: 15px;
  display: inline-block;
  transform: translateY(-73%);
  padding: 0 5px;
  line-height: 1;
  margin-left: 30px;
  background-color: #ffffff;
  position: relative;
  z-index: 100;
}
.label__text-span:lang(kk){
  font-family: "monserat-regular";
}
.label__text-span {
  font-family: "AvenirNextCyr-Regular";
    font-size: 17px;
    display: inline-block;
    transform: translateY(-43%);
    line-height: 1;
    margin-left: 30px;
    background-color: #ffffff;
    position: relative;
    z-index: 100;
    text-align: left;
    position: absolute;
    top: -5px;
    left: 0;
}
.file-val{
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 33px;
}
.file-val p{
  margin: 0 0 0 1rem;
}
.checkbox__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.checkbox__wrapper label {
  cursor: pointer;
  padding-left: 24px;
}

.checkbox__wrapper input{
  display: none;
}

.checkbox {
  border: 2px solid #dba764;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.checkbox.checked {
  background-image: url(../img/checkbox.png);
}


#spin{
  background-color: red;
  width: 50px;
  height: 50px;
  display: none;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.authorization{
  padding: 2rem 0;
}
.authorization-label{
  width: 50%;
}

.authorization-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authorization h3{
  font-family: BebasNeueBold, sans-serif;
  font-size: 45px;
}

.login-info .account{
  display: flex;
  align-items: baseline;
  margin-right: 20px;
}
.login-info .account p{
  color: #d9a158;
  font-size: 16px;
  margin-bottom: 0;
}
.login-info .account i{
  color: #d9a158;
  font-size: 16px;
  margin-right: 5px;
}
.login-info{
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}
.logout-info  a{
  color: #d9a158 !important;
  font-size: 16px;
  margin-bottom: 0;
}
.events{
  padding: 2rem 0;
}
.events-info{
  width: 100%;
}
.events-name h1{
  font-size: 21px;
}
@media screen and (max-width:576px){
  .authorization-label{
    width: 90%;
  }
  .authorization h3{
    font-size: 30px;
  }
}