.search-top{
  background-position: center;
  background-image: url(../images/astana-city-panoramic-view.jpg);
  background-color: rgba(0, 0, 0, .3);
  background-size: cover;
}


/* .search-top:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 1;
} */
.search-top-title{
  position: relative;
  z-index: 3;
  color: #fff;
}
.search__title {
  font-family: "BebasNeueBold";
  font-size: 50px;
  color: #2d3135;
  text-transform: uppercase;
  text-align: center;
}

.text-grey {
  opacity: 0.5;
}

.search__wrapper {
  padding-top: 100px;
  padding-bottom: 75px;
  text-align: left;
}

.search__sort {
  font-size: 20px;
  color: #2d3135;
  font-family: 'AvenirNextCyr', sans-serif;
  margin-top: 55px;
  margin-bottom: 20px;
}

.search__sort-by {
  font-family: "BebasNeueBold";
  display: inline-block;
  text-transform: uppercase;
  color: #009fe3;
  margin: 0 30px;
  position: relative;
  cursor: pointer;
}

.search__sort-by::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #009fe3;
  position: absolute;
  left: 0;
  bottom: 3px;
}

.search__sort-by::after {
  content: '';
  display: block;
  background-image: url(../img/blue-arrow-down.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
  width: 18px;
  height: 7px;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.group__title {
  margin-top: 35px;
}


.list {
  margin: 0 -15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.articles__wrapper {
  margin-bottom: 40px;
}

.search__card {
  padding: 0 15px;
  width: 25%;
  position: relative;
  font-family: 'AvenirNextCyr', sans-serif;
  margin-bottom: 30px;
}

.card__date {
  background-color: #dba764;
  position: absolute;
  left: 15px;
  top: 180px;
  padding: 10px 20px;
  transform: translateY(-100%);
  color: #ffffff;
  font-size: 16px;
}

.card__content {
  border: 6px solid #f5f5f5;
  border-top: none;
  padding: 28px 10px;
  text-align: center;
}

.card__text {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.search__card img {
  width: 100%;
  height: 180px;
  object-position: center;
  object-fit: cover;
}

.card__button {
  font-size: 18px;
  border: 2px solid #dba764;
  padding: 13px 34px;
  display: inline-block;
  text-align: center;
  margin-top: 23px;
  color: #dba764 !important;
  transition: all ease 0.33s;
}

.card__button:hover {
  color: #ffffff !important;
  background-color: #dba764;
}

.link__page {
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'AvenirNextCyr', sans-serif;
  position: relative;
  margin-left: 25px;
  transition: color 0.33s ease;
}

.link__page::after {
  content: '';
  display: block;
  width: 110%;
  height: 1px;
  background-color: #e3e3e4;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.link__page img{
  display: inline-block;
  width: 10px;
  margin-right: 10px;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}

.link__page:hover {
  color: #dba764 !important;
}

@media screen and (max-width: 1025px) {
  .search__card {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .search__card {
    width: 100%;
  }
}




